{{- define "main" -}}
{{/* Vars */}}
{{- $patharray := split (path.Dir .Path) "/" -}}
{{- $project := index $patharray 1 -}}
{{/* Condition about structure level */}}
{{- $.Scratch.Set "mainpath" (partialCached "render/rootpath" (dict "context" . "project" $project "type" "personas.json") $project "personas.json") -}}
{{- $.Scratch.Set "auditfile" (getJSON (printf "%s/%s/personas.json" ($.Scratch.Get "mainpath") $project)) -}}
<div class="wrapper">
<p class="no-print" hidden>← <a href="{{ $.Site.BaseURL | default "/" }}projects/{{ $project }}/" class="link-more link-back">Retour à la page {{ $project }}</a></p>
<h1 class="text-center">{{ .Title }} <small>{{ if .Params.tags }}{{ range .Params.tags }}pour <a href="{{ $.Site.BaseURL | default "/" }}tags/{{ . }}">{{ . }}</a>{{ end }}{{ end }}</small></h1>
{{/* List the data for this files with range personas files on the project */}}
{{- range where ($.Scratch.Get "auditfile") "name" "eq" .Title -}}
  {{ $name := .name | urlize }}
  {{ if (fileExists "/static/images/personas") }}
  {{- range (readDir "/static/images/personas") -}}
    {{ if eq $name (replace .Name ".png" "") }}<figure class="rounded"><img class="full" src="{{ $.Site.BaseURL | default "/" }}images/personas/{{ .Name }}"></figure>{{ end }}
  {{- end -}}
  {{- end -}}
  <h2 class="text-center mb-0">Description</h2>
  <div class="text-center">
    <ul class="list-unstyled">
      <li><strong>{{ .age }} ans</strong></li>
      <li><strong>{{ .reason }}</strong></li>
    </ul>
  </div>
  <br>
  <div class="grid grid-separator">
  <div>
    <h4 class="mb-0">Motivations</h4>
    <ul class="list-unstyled">
      {{- range .motivations -}}
        <li>. {{ . }}</li>
      {{- end -}}
    </ul>
  </div>
  <div>
    <h4 class="mb-0">Frustrations</h4>
    <ul class="list-unstyled">
      {{- range .frustrations -}}
        <li>. {{ . }}</li>
      {{- end -}}
    </ul>
  </div>
  <div>
    <h4 class="mb-0">Sentiments</h4>
    <p>{{ .feeling }}</p>
  </div>
  <div>
  <h4 class="mb-0">Aisance numérique</h4>
  <p>
    {{- $ditmissed := sub 5 (int .digitalease) -}}
    {{- range seq .digitalease -}}
      <span class="dot">{{ . }}</span>
    {{- end -}}
    {{- range seq $ditmissed -}}
      <span class="dot dot-missed">{{ . }}</span>
    {{- end -}}
  </p>
  </div>
  </div>
{{- end -}}
<hr class="divider">
<div class="text-center">
  {{- range where ($.Scratch.Get "auditfile") "name" "eq" .Title -}}
    {{ with .parcours }}<h2>Parcours</h2>{{ end }}
    {{ partial "components/parcours/template.html" (dict "context" . "pages" $ "project" $project) }}
  {{- end -}}
</div>
{{- end -}}
