/*
/// Layout
*/

:root {
  --layout-max-width: 78rem;
}

/* Page & Wrapper
// -------------------------
*/

.page {
  padding-bottom: var(--baseline);
}

.page,
.fg-wrapper {
  margin-right: auto;
  margin-left: auto;
  width: 100vw;
  max-width: 100%;
}

.fg-wrapper {
  padding-right: var(--baseline);
  padding-left: var(--baseline);
  width: clamp(16rem, 90vw, var(--layout-max-width));
}

.narrow {
  max-width: 90ch;
}

/* Flex
// -------------------------
*/

.flex {
  flex-direction: column;
  justify-content: center;
}

.flex-gap > * {
  padding: calc(var(--baseline) / 2) 0;
}

.flex-wrap {
  flex-wrap: wrap;
}

@media screen and (min-width: 56.25em) {
  .flex {
      display: flex;
      flex-direction: row;
  }

  .flex-gap > * {
    padding: 0 calc(var(--baseline) / 2);
  }
}

.flex > * {
  flex: 1;
}

.flex-max {
  flex: 999;
}

.flex-min {
  flex: 0.001;
}

.flex-column {
  -ms-flex-direction: column;
  flex-direction: column;
}

/* Grid
// -------------------------
*/

@supports (grid-area: auto) {
  .grid {
    display: grid;
    grid-gap: var(--baseline);
    margin: 0 0 var(--baseline);
    padding: 0 0 calc(var(--baseline) * 2);
  }

  .grid-center {
    display: grid;
    place-items: center;
  }

  .grid-4 {
    grid-template-columns: repeat(2, minmax(250px, 1fr)) !important;
  }
}

.grid-separator > *:not(:first-child) {
  position: relative;
  border-top: #f1f1f1 2px solid;
  padding: 1em 0 0;
}

@media screen and (min-width: 56.25em) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .grid-4 > * {
    grid-template-columns: repeat(auto-fit, minmax(150px, 300px)) !important;
  }

  .grid-separator {
    grid-gap: 0;
  }
  .grid-separator > *:first-child {
      padding-right: 1em;
  }
  .grid-separator > *:not(:first-child) {
      border: none;
      border-left: #f1f1f1 2px solid;
      padding: 0 1em;
  }
  .grid-separator.flex > *:not(:first-child) {
      margin: 0 0 0 0.5em;
      padding: 0 1em;
  }
}


/* Margin
// -------------------------
*/

.margin-baseline {
  margin-bottom: var(--baseline);
}

.padding-baseline {
  padding-top: var(--baseline);
  padding-bottom: var(--baseline);
}

/* Alignement
// -------------------------
*/

.row-reverse {
  flex-direction: row-reverse;
}

.align-items-center {
  align-items: center;
  -ms-flex-align: center;
}

.justify-content-center {
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-content-end {
  -ms-flex-pack: end;
  justify-content: flex-end;
}
