/*
/// Table
*/

table {
  width: 100%;
  color: var(--color-grey-dark);
  border-collapse: collapse;
  border: 1px solid var(--color-grey-dark);
  background-color: #fff;
}

table th {
  color: var(--color-grey-light);
  background-color: var(--link-color);
  border-left: 1px solid #000;
}

table tr {
  border-bottom: 1px solid var(--color-grey-dark);
}

table tr:last-child {
  border: none;
}

table tr td {
  padding: 5px 10px;
  border-left: 1px solid;
}

