<h2>Voies de recours</h2>
<p>Cette procédure est à utiliser dans le cas suivant.</p>
<p>Vous avez signalé au responsable du site internet un défaut d’accessibilité qui vous empêche d’accéder à un contenu
  ou à un des services du portail et vous n’avez pas obtenu de réponse satisfaisante.</p>
<ul>
  <li><a href="https://formulaire.defenseurdesdroits.fr">Écrire un message au Défenseur des droits</a></li>
  <li><a href="https://www.defenseurdesdroits.fr/saisir/delegues">Contacter le délégué du Défenseur des droits dans
      votre région</a></li>
  <li>Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre)<br>
    Défenseur des droits<br>
    Libre réponse 71120<br>
    75342 Paris CEDEX 07<br></li>
</ul>
