/*
/ Print
/
/ http://www.alsacreations.com/tuto/lire/586-feuille-style-css-print-impression.html
/ http://www.alsacreations.com/astuce/lire/1160-une-feuille-de-styles-de-base-pour-le-media-print.html
/ https://uxdesign.cc/i-totally-forgot-about-print-style-sheets-f1e6604cfd6#.ad9m8zgbd
/ https://www.smashingmagazine.com/2018/05/print-stylesheets-in-2018/
////
*/

@media print {
  /* Reset */
  *,
  *:before,
  *:after,
  *:first-letter,
  p:first-line,
  div:first-line,
  blockquote:first-line,
  li:first-line {
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* Content */
  body > *:not(main) {
    display: none;
  }

  /* a[href]:after {
    content: " ("attr(href) ")";
  }

  abbr[title]:after {
    content: " ("attr(title) ")";
  } */


  @page {
    size: auto;
  }

  @page :first {
    header {
      margin: -100px;
    }
  }

  html {
  }

  body {
    font-size: 11pt;
    color: #000;
    background-color: #fff;
  }

  a,
  header a {
    color: #000;
  }

  p,
  blockquote {
    orphans: 3;
    widows: 3;
  }

  blockquote,
  ul,
  ol {
    page-break-inside: avoid;
  }

  h1,
  h2,
  h3,
  caption,
  figure {
    page-break-after: avoid;
  }

  .wrapper {
    margin: 0;
    max-width: none;
  }

  header {
    background: none;
  }

  nav,
  .breadcrumb {
    display: none;
  }

  table th,
  table td {
    padding: 1px 5px;
    border-width: 1px !important;
  }

  pre,
  code {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    background: #fff;

    break-inside: avoid;
  }

  figure {
    padding: 0 !important;
    border: none !important;
  }

  figure a {
    display: block;
  }

  .no-print,
  .no-print * {
    display: none !important;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .flex > * {
    min-width: 200px;
  }

  .benchmark {
    break-inside: avoid;
  }

  .counter {
    display: grid;
    align-items: center;
    padding: 1em;
    font-family: Futura;
    border: 1px solid;
  }

  .page-break {
    break-before: page;
  }
}
