{{ partialCached "utils/css.html" (dict "context" . "filefolder" "object" "filename" "pagination") "pagination" }}
<nav class="grid">
  {{ if .Paginator.HasPrev }}
    <span class="pagination--prev"><a href="{{ .Paginator.Prev.URL }}" class="pagination--item">Précedent</a></span>
  {{ end }}
  {{/* if or .Paginator.HasPrev .Paginator.HasNext }}
  <span>{{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</span>
  {{ end */}}
  {{ if .Paginator.HasNext }}
    <span class="pagination--next text-right"><a href="{{ .Paginator.Next.URL }}" class="pagination--item">Suivant</a></span>
  {{ end }}
</nav>
