{{- define "main" -}}
  <h1 class="text-center">{{ .Title }}</h1>
  {{- $project := replace (index (split .Path "/") 1) ".md" "" -}}
  <div class="wrapper">

    {{- $.Scratch.Set "projectfolder" $.Site.Data -}}

    {{- if eq (len (split .RelPermalink "/")) 4 -}}
    {{- $.Scratch.Set "projectfolder" (index $.Site.Data $project) -}}
    {{- end -}}

    {{- if ($.Scratch.Get "projectfolder") -}}
    <h2 class="text-center">Scores</h2>
    {{- if index ($.Scratch.Get "projectfolder") "accessibility" -}}
    <h3 class="m-0">Accessibilité {{ $pageauditpath := (printf "/content/audits/%s/accessibility.md" $project) }}{{- if (fileExists $pageauditpath) -}}<small>- <a href="{{ replace (replace $pageauditpath ".md" "/") "/content" "" }}">Accéder au rapport</a></small>{{- end -}}</h3>
    {{- partial "components/scores/accessibility" (dict "context" . "auditfile" (index ($.Scratch.Get "projectfolder") "accessibility")) -}}
    {{- end -}}

    {{- if index ($.Scratch.Get "projectfolder") "quality" -}}
    <h3 class="m-0">Qualité {{ $pageauditpath := (printf "/content/audits/%s/quality.md" $project) }}{{- if (fileExists $pageauditpath) -}}<small>- <a href="{{ replace (replace $pageauditpath ".md" "/") "/content" "" }}">Accéder au rapport</a></small>{{- end -}}</h3>
    {{- partial "components/scores/quality" (dict "context" . "project" $project) -}}
    {{- end -}}

    {{- if index ($.Scratch.Get "projectfolder") "lighthouse" -}}
    <h3 class="m-0">Performance {{ $pageauditpath := (printf "/content/audits/%s/performance.md" $project) }}{{- if (fileExists $pageauditpath) -}}<small>- <a href="{{ replace (replace $pageauditpath ".md" "/") "/content" "" }}">Accéder au rapport</a></small>{{- end -}}</h3>
    {{- partial "components/scores/performance" (dict "context" . "project" $project) -}}
    {{- end -}}

    {{- end -}}

  </div>
  {{ if eq $project "amendes" }}
  <h2 class="text-center">Planning</h2>
  <div class="gantt">
    <span class="d-1"></span>
    <span class="d-1mid"></span>
    <span class="d-2"></span>
    <span class="d-2mid"></span>
    <span class="d-3"></span>
    <span class="d-3mid"></span>
    <span class="d-4"></span>
    <span class="d-4mid"></span>
    <span class="d-5"></span>
    <h3 class="h-sept">septembre</h3>
    <h3 class="h-oct">octobre</h3>
    <h3 class="h-nov">novembre</h3>
    <h3 class="h-dec">décembre</h3>
    <div class="t-1" style="grid-column: sept-middle / oct-middle;">Découverte</div>
    <div class="t-2" style="grid-column: oct-middle / oct-end;">Collecte</div>
    <div class="t-3" style="grid-column: nov-start / nov-middle;">Étude</div>
    <div class="t-4" style="grid-column: nov-middle / nov-end;">Proposition</div>
    <div class="t-5" style="grid-column: dec-start / dec-middle;">Application</div>
  </div>
  {{ end }}
  {{- partial "components/phases/template.html" (dict "context" . "type" "dark") -}}
  {{- partial "list.html" (dict "context" . "section" "meetings") -}}
  {{- partial "list.html" (dict "context" . "section" "actions" "type" "dark") -}}
  <hr class="divider">
  {{- .Content -}}
{{- end -}}
