{{- define "main" -}}

  {{- $project := replace (replace (index (split .Path "/") 1) ".md" "") "index" "" -}}
  {{- $context := . -}}
  <div class="wrapper narrow">
    <h1 class="text-center">{{ .Title }}</h1>

    {{- if eq $project "amendes" -}}
    <h2 class="text-center">Planning</h2>
    <div class="gantt">
      <span class="d-1"></span>
      <span class="d-1mid"></span>
      <span class="d-2"></span>
      <span class="d-2mid"></span>
      <span class="d-3"></span>
      <span class="d-3mid"></span>
      <span class="d-4"></span>
      <span class="d-4mid"></span>
      <span class="d-5"></span>
      <h3 class="h-sept">septembre</h3>
      <div class="t-1" style="grid-column: sept-middle / oct-middle;">Découverte</div>
      <h3 class="h-oct">octobre</h3>
      <div class="t-2" style="grid-column: oct-middle / oct-end;">Collecte</div>
      <h3 class="h-nov">novembre</h3>
      <div class="t-3" style="grid-column: nov-start / nov-middle;">Étude</div>
      <div class="t-4" style="grid-column: nov-middle / nov-end;">Proposition</div>
      <h3 class="h-dec">décembre</h3>
      <div class="t-5" style="grid-column: dec-start / dec-middle;">Application</div>
    </div>
    {{- end -}}

    {{- $.Scratch.Set "projectfolders" "/static" -}}
    {{- $.Scratch.Set "accessibility-path" false -}}
    {{/* test level of the page in file tree */}}
    {{- if eq (len (split .RelPermalink "/")) 4 -}}
    {{- $.Scratch.Set "projectfolders" (printf "/static/%s" $project) -}}
    {{- end -}}
    {{- if (fileExists (printf "%s/accessibility/" ($.Scratch.Get "projectfolders"))) -}}
      {{- range $key, $value := (readDir (printf "%s/accessibility/" ($.Scratch.Get "projectfolders"))) -}}
        {{- $.Scratch.SetInMap "allauditscsv" (string (add $key 1)) (printf "%s/accessibility/%s" ($.Scratch.Get "projectfolders") .Name) -}}
        {{- $.Scratch.SetInMap "allauditsname" (string (add $key 1)) (replace .Name ".csv" "") -}}
      {{- end -}}
    {{- end -}}
    {{- if (fileExists (printf "%s/accessibility.csv" ($.Scratch.Get "projectfolders"))) -}}
      {{- $.Scratch.Set "accessibility-path" (printf "%s/accessibility.csv" ($.Scratch.Get "projectfolders")) -}}
      {{- $.Scratch.SetInMap "allauditscsv" "zz" ($.Scratch.Get "accessibility-path") -}}
      {{- $.Scratch.SetInMap "allauditsname" "zz" (now.Format "2006-01-02") -}}
    {{- else if (fileExists (printf "%s/accessibility/" ($.Scratch.Get "projectfolders"))) -}}
      {{- $.Scratch.Set "accessibility-path" (index ($.Scratch.Get "allauditscsv") "1") -}}
    {{- end -}}
    {{- $accessibility := $.Scratch.Get "accessibility-path" }}
    {{- $quality       := (fileExists (printf "%s/quality/" ($.Scratch.Get "projectfolders"))) -}}
    {{- $lighthouse    := (fileExists (printf "%s/lighthouse/" ($.Scratch.Get "projectfolders"))) -}}

    {{- if ($.Scratch.Get "projectfolders") -}}
    {{- if or $accessibility $quality $lighthouse -}}
    <h2 class="text-center">Scores</h2>
    {{- if $accessibility -}}
    <h3 class="m-0">Accessibilité {{ $pageauditpath := (printf "/content/audits/%s/accessibility.md" $project) }}{{- if (fileExists $pageauditpath) -}}<small>- <a href="{{ replace (replace $pageauditpath ".md" "/") "/content" "" }}">Accéder au rapport</a></small>{{- end -}}</h3>
    {{- $partial := (partial "render/conformity" (dict "context" . "auditfile" ((getCSV "," ($.Scratch.Get "accessibility-path") )))) -}}
    {{ if $partial }}
      {{- $conforme := index $partial "critereconformepercent" -}}
      {{- partial "components/scores/accessibility" (dict "context" . "score" $conforme) -}}
    {{- else -}}
      <p>Le fichier d’audit est vide</p>
    {{- end -}}
    {{/* Display conformity in time */}}
    {{- with ($.Scratch.Get "allauditscsv") -}}
    {{- if gt (len .) 1 -}}
    <div id="chartconformity"></div>
    <script>
        const dataconformity = {
            labels: [{{- range $id, $value := ($.Scratch.Get "allauditsname") -}}{{ if ne $id "1" }},{{ end }}"{{- $value -}}"{{- end -}}],
            datasets: [
              {
                name: "Conformité",
                values: [{{- range $id, $value := . -}}{{ if ne $id "1" }},{{ end }}"{{- index (partial "render/conformity" (dict "context" $context "auditfile" (getCSV "," .))) "critereconformepercent" -}}"{{- end -}}]
              }
            ]
        }
        const chartconformity = new frappe.Chart("#chartconformity", {
            title: "Taux de conformité dans le temps (en %)",
            data: dataconformity,
            type: 'line', // or 'bar', 'line', 'scatter', 'pie', 'percentage'
            height: 400,
            lineOptions: {
                regionFill: 1 // default: 0
            },
            axisOptions: {
              xAxisMode: 'tick' // default: 'span'
          },
            truncateLegends: true,
            barOptions: {
                stacked: 1,
                spaceRatio: 0.2
            },
            colors: ['#ac3636','#96cfb7']
        })
    </script>
    {{- end -}}
    {{- end -}}
    {{- end -}}

    {{- if $quality -}}
    <h3 class="m-0">Qualité {{ $pageauditpath := (printf "/content/audits/%s/quality.md" $project) }}{{- if (fileExists $pageauditpath) -}}<small>- <a href="{{ replace (replace $pageauditpath ".md" "/") "/content" "" }}">Accéder au rapport</a></small>{{- end -}}</h3>
    {{- partial "components/scores/quality" (dict "context" . "counter" (partial "render/quality" (dict "context" . "project" $project))) -}}
    {{- end -}}

    {{- if $lighthouse -}}
    <h3 class="m-0">Performance (3G) {{ $pageauditpath := (printf "/content/audits/%s/performance.md" $project) }}{{- if (fileExists $pageauditpath) -}}<small>- <a href="{{ replace (replace $pageauditpath ".md" "/") "/content" "" }}">Accéder au rapport</a></small>{{- end -}}</h3>
    {{- partial "components/scores/performance" (dict "context" . "project" $project) -}}
    {{- end -}}

    {{/*
    <section>
      {{ partial "components/quality/critical.html" (dict "context" . "project" $project) }}
    </section>
    */}}

    {{- else -}}
    <p class="text-center">Aucun audit pour le moment</p>
    {{- end -}}
    {{- end -}}
  </div>

  {{- partial "components/phases/template.html" (dict "context" . "type" "dark") -}}
  {{- partial "list.html" (dict "context" . "section" "meetings") -}}
  {{- partial "list.html" (dict "context" . "section" "actions" "type" "dark") -}}
  {{- .Content -}}
{{- end -}}
