{{/* Condition about if CSV is empty :: this is for init a project with a blank file */}}
{{- $.context.Scratch.Set "is-csv-empty" 0 -}}
{{- $.context.Scratch.Set "totaltests" 0 -}}
{{- $.context.Scratch.Set "countercritere" 0 -}}
{{- $.context.Scratch.Set "critere" "" -}}
{{- range $key, $value := after 1 .auditfile -}}
    {{- $critere := printf "%s.%s" (index . 0) (index . 1) -}}
    {{- if ne $critere ($.context.Scratch.Get "critere") -}}{{- $.context.Scratch.Set "countercritere" 0 -}}{{- $.context.Scratch.Set "valuecriterepage" slice -}}{{- end -}}
    {{- range after 3 . -}}
      {{- if or (eq . "c") (eq . "nc") -}}{{- $.context.Scratch.Add "is-csv-empty" 1 -}}{{- end -}}
      {{- if or (eq . "c") (eq . "nc") (eq . "na") (eq . "?") (gt (len .) 3) -}}{{- $.context.Scratch.Add "totaltests" 1 -}}{{- $.context.Scratch.Add "countercritere" 1 -}}{{- end -}}
      {{- if ne ($.context.Scratch.Get "countercritere") 0 -}}{{- $.context.Scratch.SetInMap "criteretotal" (string $critere) ($.context.Scratch.Get "countercritere") -}}{{- end -}}
      {{- if or . -}}
      {{- $.context.Scratch.Add "valuecriterepage" . -}}
      {{- $.context.Scratch.SetInMap "criterevalues" (string $critere) (uniq ($.context.Scratch.Get "valuecriterepage")) -}}
      {{- end -}}
    {{- end -}}
    {{- $.context.Scratch.Set "critere" $critere -}}
{{- end -}}

{{- if and .auditfile ($.context.Scratch.Get "is-csv-empty")  -}}
{{- $auditfile := .auditfile }}
{{- $.context.Scratch.Set "pages" slice -}}

{{- range $id, $value := sort ($.context.Scratch.Get "criterevalues") -}}
  {{- if ne (len $value) 0 -}}
  {{- if eq (len $value) 1 -}}
    {{- if eq (index $value 0) "?" -}}{{- $.context.Scratch.SetInMap "valuecriterenonapplicable" (string $id) . -}}{{- end -}}
    {{- if eq (index $value 0) "c" -}}{{- $.context.Scratch.SetInMap "valuecritereconforme" (string $id) . -}}{{- end -}}
    {{- if eq (index $value 0) "na" -}}{{- $.context.Scratch.SetInMap "valuecriterenonapplicable" (string $id) . -}}{{- end -}}
    {{- if or (eq (index $value 0) "nc") (gt (len (index $value 0)) 3) -}}{{- $.context.Scratch.SetInMap "valuecriterenonconforme" (string $id) . -}}{{- end -}}
  {{- else -}}
    {{- if eq (len ($value | symdiff (slice "na" "c"))) 0 -}}{{- $.context.Scratch.SetInMap "valuecritereconforme" (string $id) . -}}{{- end -}}
    {{- if ge (len ($value | symdiff (slice "na" "c"))) 1 -}}{{- $.context.Scratch.SetInMap "valuecriterenonconforme" (string $id) . -}}{{- end -}}
  {{- end -}}
  {{- end -}}
{{- end -}}
<hr>

{{- $counterconformesum := 0 -}}
{{- $counternonapplicablesum := 0 -}}
{{- $counternonconformesum := 0 -}}
{{- range $id, $value := after 1 $auditfile -}}
  {{- $.context.Scratch.Set "counterconformetopic" 0 -}}
  {{- $.context.Scratch.Set "counternonapplicable" 0 -}}
  {{- $.context.Scratch.Set "counternonconformetopic" 0 -}}
  {{ range $id, $value := after 3 $value }}
    {{- if eq . "c" -}}{{- $.context.Scratch.Add "counterconformetopic" 1 -}}{{- end -}}
    {{- if eq . "na" -}}{{- $.context.Scratch.Add "counternonapplicable" 1 -}}{{- end -}}
    {{- if and (ne . "na") (ne . "c") (ne . "?") (ne . "") (ne . "25") (ne . "50") (ne . "81") -}}{{- $.context.Scratch.Add "counternonconformetopic" 1 -}}{{- end -}}
  {{- end -}}
  {{- $counterconformesum = add $counterconformesum ($.context.Scratch.Get "counterconformetopic") -}}
  {{- $counternonapplicablesum = add $counternonapplicablesum ($.context.Scratch.Get "counternonapplicable") -}}
  {{- $counternonconformesum = add $counternonconformesum  ($.context.Scratch.Get "counternonconformetopic") -}}
{{- end -}}
{{- $total := add $counterconformesum $counternonconformesum -}}
<!--<div class="scores">
    <ul>
      <li class="counter text-center d-inline-block good"><span><b class="h2">{{ div (mul $counterconformesum 100) $total }}%</b><br>Conforme</span></li>
      <li class="counter text-center d-inline-block bad"><span><b class="h2">{{ div (mul $counternonconformesum 100) $total }}%</b><br>Non Conforme</span></li>
    </ul>
</div>-->
{{- $totalcriteres := sub (len ($.context.Scratch.Get "criteretotal")) ((len ($.context.Scratch.Get "valuecriterenonapplicable"))) -}}
{{- $conformes := math.Round (div (mul (len ($.context.Scratch.Get "valuecritereconforme")) 100) $totalcriteres) -}}
<div class="scores">
    <ul>
      <li class="counter text-center d-inline-block good"><span><b class="h2">{{- $conformes -}}%</b><br>Critères conformes</span></li>
      <li class="counter text-center d-inline-block bad"><span><b class="h2">{{- sub 100 $conformes -}}%</b><br>Critères conformes</span></li>
    </ul>
</div>
{{- else -}}
  <p>Le fichier d’audit RGAA est vide pour le moment.</p>
{{- end -}}
