{{/* Condition about if CSV is empty :: this is for init a project with a blank file */}}
{{- $.context.Scratch.Set "is-csv-empty" 0 -}}
{{- $.context.Scratch.Set "totaltests" 0 -}}
{{- range $key, $value := after 1 .auditfile -}}
    {{- range after 3 . -}}
      {{- if or (eq . "c") (eq . "nc") -}}{{- $.context.Scratch.Add "is-csv-empty" 1 -}}{{- end -}}
      {{- if or (eq . "c") (eq . "nc") (eq . "na") -}}{{- $.context.Scratch.Add "totaltests" 1 -}}{{- end -}}
    {{- end -}}
{{- end -}}

{{- if and .auditfile ($.context.Scratch.Get "is-csv-empty")  -}}
{{- $auditfile := .auditfile }}
{{- $.context.Scratch.Set "pages" slice -}}

{{- $counterconformesum := 0 -}}
{{- $counternonapplicablesum := 0 -}}
{{- $counternonconformesum := 0 -}}
{{- range $id, $value := after 1 $auditfile -}}
  {{- $.context.Scratch.Set "counterconformetopic" 0 -}}
  {{- $.context.Scratch.Set "counternonapplicable" 0 -}}
  {{- $.context.Scratch.Set "counternonconformetopic" 0 -}}
  {{ range $id, $value := after 3 $value }}
    {{- if eq . "c" -}}{{- $.context.Scratch.Add "counterconformetopic" 1 -}}{{- end -}}
    {{- if eq . "na" -}}{{- $.context.Scratch.Add "counternonapplicable" 1 -}}{{- end -}}
    {{- if and (ne . "na") (ne . "c") (ne . "?") (ne . "") (ne . "25") (ne . "50") (ne . "81") -}}{{- $.context.Scratch.Add "counternonconformetopic" 1 -}}{{- end -}}
  {{- end -}}
  {{- $counterconformesum = add $counterconformesum ($.context.Scratch.Get "counterconformetopic") -}}
  {{- $counternonapplicablesum = add $counternonapplicablesum ($.context.Scratch.Get "counternonapplicable") -}}
  {{- $counternonconformesum = add $counternonconformesum  ($.context.Scratch.Get "counternonconformetopic") -}}
{{- end -}}
{{- $total := add $counterconformesum $counternonconformesum -}}
<div class="scores">
    <ul>
      <li class="counter text-center d-inline-block good"><span><b class="h2">{{ div (mul $counterconformesum 100) $total }}%</b><br>Conforme</span></li>
      <li class="counter text-center d-inline-block bad"><span><b class="h2">{{ div (mul $counternonconformesum 100) $total }}%</b><br>Non Conforme</span></li>
    </ul>
</div>
{{- else -}}
  <p>Le fichier d’audit RGAA est vide pour le moment.</p>
{{- end -}}
