{{- with .auditfile -}}
{{- $auditfile := . }}
{{- $.context.Scratch.Set "pages" slice -}}
{{- $topics := slice "Images" "Cadres" "Couleurs" "Multimedia" "Tableaux" "Liens" "Scripts" "Éléments obligatoires" "Structuration de l’information" "Présentation de l’information" "Formulaires" "Navigation" "Consultation" -}}

{{- range $key, $value := $topics -}}
{{- $.context.Scratch.Set "counterconforme" 0 -}}
{{- $.context.Scratch.Set "counternonconforme" 0 -}}
  {{- range where $auditfile "Sujet" (string $key) -}}
  {{- $sujet := .Sujet -}}
    {{- range . -}}
      {{ $.context.Scratch.SetInMap "conforme" (string $key)  ($.context.Scratch.Get "counterconforme") }}
      {{ $.context.Scratch.SetInMap "nonconforme" (string $key) ($.context.Scratch.Get "counternonconforme") }}
      {{- if eq . "c" -}}{{ $.context.Scratch.Add "counterconforme" 1 -}}{{ $.context.Scratch.SetInMap "conforme" (string $key) ($.context.Scratch.Get "counterconforme") }}{{ end }}
      {{- if eq . "nc" -}}{{ $.context.Scratch.Add "counternonconforme" 1 -}}{{ $.context.Scratch.SetInMap "nonconforme" (string $key) ($.context.Scratch.Get "counternonconforme") }}{{ end }}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $countersliceconforme := slice -}}
{{- $counterconformesum := 0 -}}
{{- $counterslicenonapplicable := slice -}}
{{- $counternonapplicablesum := 0 -}}
{{- $counterslicenonconforme := slice -}}
{{- $counternonconformesum := 0 -}}
{{- range $key, $value := index . 0 -}}
    {{- $.context.Scratch.Add "pages" $key -}}
{{- end -}}
{{- $pages := $.context.Scratch.Get "pages" | symdiff (slice "Sujet" "Critère" "Tests") -}}
{{- range $id, $value := $pages -}}
  {{ $page := . }}
  {{- $.context.Scratch.Set "counterconforme" 0 -}}
  {{- $.context.Scratch.Set "counternonapplicable" 0 -}}
  {{- $.context.Scratch.Set "counternonconforme" 0 -}}
  {{- range where $auditfile . "c" -}}
    {{- $.context.Scratch.Add "counterconforme" 1 -}}
  {{- end -}}
  {{- range where $auditfile . "na" -}}
    {{- $.context.Scratch.Add "counternonapplicable" 1 -}}
  {{- end -}}
  {{- range where (where (where (where $auditfile . "!=" "na") . "!=" "c")  . "!=" "?") . "!=" "" -}}
    {{- $.context.Scratch.Add "counternonconforme" 1 -}}
  {{- end -}}
  {{- $countersliceconforme = $countersliceconforme | append ($.context.Scratch.Get "counterconforme") -}}
  {{- $counterconformesum = add $counterconformesum ($.context.Scratch.Get "counterconforme") -}}
  {{- $counterslicenonapplicable = $counterslicenonapplicable | append ($.context.Scratch.Get "counternonapplicable") -}}
  {{- $counternonapplicablesum = add $counternonapplicablesum ($.context.Scratch.Get "counternonapplicable") -}}
  {{- $counterslicenonconforme = $counterslicenonconforme | append ($.context.Scratch.Get "counternonconforme") -}}
  {{- $counternonconformesum = add $counternonconformesum  ($.context.Scratch.Get "counternonconforme") -}}
{{- end -}}
{{ $total := add $counterconformesum $counternonconformesum }}
{{- if not (eq $total 0) -}}
<div class="scores" hidden>
    <ul>
      <li class="counter text-center d-inline-block good"><span><b class="h2">{{ div (mul $counterconformesum 100) $total }}%</b><br>Conforme</span></li>
      <li class="counter text-center d-inline-block bad"><span><b class="h2">{{ div (mul $counternonconformesum 100) $total }}%</b><br>Non Conforme</span></li>
    </ul>
</div>
{{- end -}}
{{- end -}}
