{{- with .auditfile -}}
{{- $auditfile := . }}
{{- $.context.Scratch.Set "pages" slice -}}
{{- $topics := slice "Images" "Cadres" "Couleurs" "Multimedia" "Tableaux" "Liens" "Scripts" "Éléments obligatoires" "Structuration de l’information" "Présentation de l'information" "Formulaires" "Navigation" "Consultation" -}}
{{- $pages := (index $auditfile 0) | symdiff (slice "Thématiques" "Critères" "Tests") -}}


{{/* By topics */}}
{{- range $key, $value := $topics -}}
{{- $.context.Scratch.Set "counterconformetopic" 0 -}}
{{- $.context.Scratch.Set "counternonconformetopic" 0 -}}
  {{- range $id, $value := after 1 $auditfile -}}
  {{- if eq (index . 0) (string (add $key 1)) -}}
    {{- range after 3 . -}}
      {{- $.context.Scratch.SetInMap "conforme" (string $key) ($.context.Scratch.Get "counterconformetopic") -}}
      {{- $.context.Scratch.SetInMap "nonconforme" (string $key) ($.context.Scratch.Get "counternonconformetopic") -}}
      {{- if eq . "c" -}}{{ $.context.Scratch.Add "counterconformetopic" 1 -}}{{ $.context.Scratch.SetInMap "conforme" (string $key) ($.context.Scratch.Get "counterconformetopic") }}{{ end }}
      {{- if and (ne . "na") (ne . "c") (ne . "?") (ne . "") (ne . "25") (ne . "50") (ne . "81") -}}{{ $.context.Scratch.Add "counternonconformetopic" 1 -}}{{ $.context.Scratch.SetInMap "nonconforme" (string $key) ($.context.Scratch.Get "counternonconformetopic") }}{{ end }}
    {{- end -}}
  {{- end -}}
  {{- end -}}
{{- end -}}

{{/* By pages */}}
{{- range $key, $value := $pages -}}
{{- $.context.Scratch.Set "counterconformepage" 0 -}}
{{- $.context.Scratch.Set "counternonconformepage" 0 -}}
  {{- range after 1 $auditfile -}}
    {{- range $id, $value := after 3 . -}}
    {{- if eq $id $key -}}
      {{- $.context.Scratch.SetInMap "conformepage" (string $key) ($.context.Scratch.Get "counterconformepage") -}}
      {{- $.context.Scratch.SetInMap "nonconformepage" (string $key) ($.context.Scratch.Get "counternonconformepage") -}}
      {{- if eq . "c" -}}{{ $.context.Scratch.Add "counterconformepage" 1 -}}{{ $.context.Scratch.SetInMap "conformepage" (string $key) ($.context.Scratch.Get "counterconformepage") }}{{ end }}
      {{- if and (ne . "na") (ne . "c") (ne . "?") (ne . "") (ne . "25") (ne . "50") (ne . "81") -}}{{ $.context.Scratch.Add "counternonconformepage" 1 -}}{{ $.context.Scratch.SetInMap "nonconformepage" (string $key) ($.context.Scratch.Get "counternonconformepage") }}{{ end }}
    {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $counterconformesum := 0 -}}
{{- $counternonapplicablesum := 0 -}}
{{- $counternonconformesum := 0 -}}
{{- range $id, $value := after 1 $auditfile -}}
  {{- $.context.Scratch.Set "counterconformetopic" 0 -}}
  {{- $.context.Scratch.Set "counternonapplicable" 0 -}}
  {{- $.context.Scratch.Set "counternonconformetopic" 0 -}}
  {{ range $id, $value := after 3 $value }}
    {{- if eq . "c" -}}{{- $.context.Scratch.Add "counterconformetopic" 1 -}}{{- end -}}
    {{- if eq . "na" -}}{{- $.context.Scratch.Add "counternonapplicable" 1 -}}{{- end -}}
    {{- if and (ne . "na") (ne . "c") (ne . "?") (ne . "") (ne . "25") (ne . "50") (ne . "81") -}}{{- $.context.Scratch.Add "counternonconformetopic" 1 -}}{{- end -}}
  {{- end -}}
  {{- $counterconformesum = add $counterconformesum ($.context.Scratch.Get "counterconformetopic") -}}
  {{- $counternonapplicablesum = add $counternonapplicablesum ($.context.Scratch.Get "counternonapplicable") -}}
  {{- $counternonconformesum = add $counternonconformesum  ($.context.Scratch.Get "counternonconformetopic") -}}
{{- end -}}
{{- $total := add $counterconformesum $counternonconformesum -}}

<div id="chartpie-csv" hidden></div>
<div id="chartpage-csv"></div>
<div id="charttopic-csv"></div>
<script>
    const datapagecsv = {
        labels: [{{ range $id, $value := $pages }}{{ if ne $id 0 }},{{ end }}"{{ . }}"{{ end }}],
        datasets: [
          {
            name: "Non Conforme",
            values: [{{ range $id, $value := ($.context.Scratch.Get "nonconformepage") }}{{ if ne $id "0" }},{{ end }}{{ div (mul (float .) 100) (add . (index ($.context.Scratch.Get "conformepage") $id)) }}{{ end }}]
          },
          {
            name: "Conforme",
            values: [{{ range $id, $value := ($.context.Scratch.Get "conformepage") }}{{ if ne $id "0" }},{{ end }}{{ div (mul (float .) 100) (add . (index ($.context.Scratch.Get "nonconformepage") $id)) }}{{ end }}]
          }
        ]
    }
    const chartpagecsv = new frappe.Chart("#chartpage-csv", {
        title: "Par page (en %)",
        data: datapagecsv,
        type: 'bar', // or 'bar', 'line', 'scatter', 'pie', 'percentage'
        height: 400,
        truncateLegends: true,
        barOptions: {
            stacked: 1,
            spaceRatio: 0.2
        },
        colors: ['#ac3636','#96cfb7']
    })
</script>
<script>
    const datatopiccsv = {
      labels: [{{ range $id, $value := $.context.Scratch.Get "conforme" }}{{ if or (ne $value 0) (ne (index ($.context.Scratch.Get "conforme") $id) 0) (ne (index ($.context.Scratch.Get "nonconforme") $id) 0) }}{{ if ne $id 0 }}{{ if ne $id "0" }},{{ end }}"{{ index $topics ((int $id)) }}"{{ end }}{{ end }}{{ end }}],
      datasets: [
        {
          name: "Conforme",
          values: [{{ range $id, $value := $.context.Scratch.Get "conforme" }}{{ if or (ne $value 0) (ne (index ($.context.Scratch.Get "conforme") $id) 0) (ne (index ($.context.Scratch.Get "nonconforme") $id) 0) }}{{- if ne $id "0" -}},{{- end -}}{{ (div (mul (float $value) 100) (add $value (index ($.context.Scratch.Get "nonconforme") $id))) }}{{- end -}}{{ end }}]
        },
        {
          name: "Non Conforme",
          values: [{{ range $id, $value := $.context.Scratch.Get "nonconforme" }}{{ if or (ne $value 0) (ne (index ($.context.Scratch.Get "conforme") $id) 0) (ne (index ($.context.Scratch.Get "nonconforme") $id) 0) }}{{- if ne $id "0" -}},{{- end -}}{{ (div (mul (float $value) 100) (add $value (index ($.context.Scratch.Get "conforme") $id))) -}}{{- end -}}{{ end }}]
        }
      ]
  }
    const charttopiccsv = new frappe.Chart("#charttopic-csv", {
        title: "Par sujet (en %)",
        data: datatopiccsv,
        type: 'bar', // or 'bar', 'line', 'scatter', 'pie', 'percentage'
        height: 400,
        truncateLegends: true,
        barOptions: {
            stacked: 1,
            spaceRatio: 0.2
        },
        colors: ['#96cfb7','#ac3636']
    })
</script>
{{- $.context.Scratch.Set "graphcounter" 0 -}}
{{ $.context.Scratch.Set "graphcounter2" 0 }}
<script>
    const datapiecsv = {
        labels: [{{ range $id, $value := $.context.Scratch.Get "nonconforme" }}{{ if and (ne $value 0) (ne (index ($.context.Scratch.Get "nonconforme") $id) 0) }}{{ if ne ($.context.Scratch.Get "graphcounter") 0 }},{{ end }}"{{ $.context.Scratch.Add "graphcounter" 1 }}{{ index $topics ((int $id)) }}"{{ end }}{{ end }}],
        datasets: [
          {
            name: "Non Conforme",
            values: [{{ range $id, $value := $.context.Scratch.Get "nonconforme" }}{{ if and (ne $value 0) (ne (index ($.context.Scratch.Get "nonconforme") $id) 0) }}{{- if ne ($.context.Scratch.Get "graphcounter2") 0 -}},{{- end -}}{{ (div (mul (float $value) 100) (add $value (index ($.context.Scratch.Get "conforme") $id))) -}}{{- $.context.Scratch.Add "graphcounter2" 1 | safeJS  -}}{{- end -}}{{ end }}]
          }
        ]
    }
    const chartpiecsv = new frappe.Chart("#chartpie-csv", {
        title: "Part du total des critères non conformes (en %)",
        data: datapiecsv,
        type: 'bar', // or 'bar', 'line', 'scatter', 'pie', 'percentage'
        height: 400,
        truncateLegends: true,
        barOptions: {
            stacked: 1,
            spaceRatio: 0.2
        },
        colors: ['#ac3636']
    })
</script>
{{- end -}}

