{{ with .auditfile }}
{{- range . -}}
  {{- $.context.Scratch.Set "countererrorstotal" 0 -}}
  {{- $.context.Scratch.Set "countererrorschecked" 0 -}}
  {{- range .pages -}}
  {{- range $b := .blocks -}}
  {{- range .errors -}}
    {{- $.context.Scratch.Add "countererrorstotal" 1 -}}
    {{- if .checked -}}{{- $.context.Scratch.Add "countererrorschecked" 1 -}}{{- end -}}
  {{- end -}}
  {{- end -}}
  {{- end -}}
  <div class="scores">
    <ul>
      <li class="counter text-center d-inline-block"><span><b class="h2">{{ $.context.Scratch.Get "countererrorstotal" }}</b><br>Au total</span></li>
      <li class="counter text-center d-inline-block good"><span><b class="h2">{{ $.context.Scratch.Get "countererrorschecked" }}</b><br>Corrigées</span></li>
    </ul>
  </div>
{{- end -}}
{{- end -}}
