{{ $scores := .scores }}
{{- with .auditfile -}}
{{- $auditfile := . }}
{{- $.context.Scratch.Set "pages" slice -}}
{{- $.context.Scratch.Set "pageslistgraph" slice -}}
{{- $topics := slice "Images" "Cadres" "Couleurs" "Multimedia" "Tableaux" "Liens" "Scripts" "Éléments obligatoires" "Structuration de l’information" "Présentation de l'information" "Formulaires" "Navigation" "Consultation" -}}
{{- $auditmethodology := (len (intersect (index $auditfile 0) (slice "Thématiques" "Critères" "Tests"))) -}}

{{/* Fill a slice with a list of audited pages */}}
{{- if eq $auditmethodology 2 -}}
  {{- $.context.Scratch.Set "pageslistgraph" ((index $auditfile 0) | symdiff (slice "Thématiques" "Critères")) -}}
{{- end -}}
{{- if eq $auditmethodology 3 -}}
  {{- $.context.Scratch.Set "pageslistgraph" ((index $auditfile 0) | symdiff (slice "Thématiques" "Critères" "Tests")) -}}
{{- end -}}

{{/* By topics */}}
{{- range $key, $value := $topics -}}
  {{- $.context.Scratch.Set "criterecounterconformetopic" 0 -}}
  {{- $.context.Scratch.Set "counterconformetopic" 0 -}}
  {{- $.context.Scratch.Set "counternonconformetopic" 0 -}}
  {{/* Range lines */}}
  {{- range $id, $value := after 1 $auditfile -}}
  {{- if eq (index . 0) (string (add $key 1)) -}}
    {{/* Range columns */}}
    {{- range after $auditmethodology . -}}
      {{- $.context.Scratch.SetInMap "conforme" (string $key) ($.context.Scratch.Get "counterconformetopic") -}}
      {{- $.context.Scratch.SetInMap "nonconforme" (string $key) ($.context.Scratch.Get "counternonconformetopic") -}}
      {{- if eq . "c" -}}{{ $.context.Scratch.Add "counterconformetopic" 1 -}}{{ $.context.Scratch.SetInMap "conforme" (string $key) ($.context.Scratch.Get "counterconformetopic") }}{{ end }}
      {{- if and (ne . "na") (ne . "c") (ne . "?") (ne . "") (ne . "25") (ne . "50") (ne . "81") -}}{{ $.context.Scratch.Add "counternonconformetopic" 1 -}}{{ $.context.Scratch.SetInMap "nonconforme" (string $key) ($.context.Scratch.Get "counternonconformetopic") }}{{ end }}
    {{- end -}}
  {{- end -}}
  {{- end -}}
{{- end -}}

{{- $counterconformesum := 0 -}}
{{- $counternonapplicablesum := 0 -}}
{{- $counternonconformesum := 0 -}}
{{/* Range lines */}}
{{- range $id, $value := after 1 $auditfile -}}
  {{- $.context.Scratch.Set "counterconformetopic" 0 -}}
  {{- $.context.Scratch.Set "counternonapplicable" 0 -}}
  {{- $.context.Scratch.Set "counternonconformetopic" 0 -}}
  {{/* Range columns */}}
  {{- range $id, $value := after $auditmethodology $value -}}
    {{- if eq . "c" -}}{{- $.context.Scratch.Add "counterconformetopic" 1 -}}{{- end -}}
    {{- if eq . "na" -}}{{- $.context.Scratch.Add "counternonapplicable" 1 -}}{{- end -}}
    {{- if and (ne . "na") (ne . "c") (ne . "?") (ne . "") (ne . "25") (ne . "50") (ne . "81") -}}{{- $.context.Scratch.Add "counternonconformetopic" 1 -}}{{- end -}}
  {{- end -}}
  {{- $counterconformesum = add $counterconformesum ($.context.Scratch.Get "counterconformetopic") -}}
  {{- $counternonapplicablesum = add $counternonapplicablesum ($.context.Scratch.Get "counternonapplicable") -}}
  {{- $counternonconformesum = add $counternonconformesum  ($.context.Scratch.Get "counternonconformetopic") -}}
{{- end -}}
{{- $total := add $counterconformesum $counternonconformesum -}}
{{- if and (gt (len (index $scores.conformepage "0")) 3) (index $scores.nonconformepage "0") -}}

<div id="chartpagecriteres-csv"></div>
<link rel="preload" href="{{ (resources.Get "js/frappe-charts.min.iife.js").Permalink }}" as="script">
<script src="{{ (resources.Get "js/frappe-charts.min.iife.js").Permalink }}"></script>
<script src="{{ (resources.Get "js/frappe-colors.js").Permalink }}"></script>
<script>
    const options = {
        type: 'bar', // or 'bar', 'line', 'scatter', 'pie', 'percentage'
        height: 400,
        truncateLegends: true,
        barOptions: {
            stacked: 1,
            spaceRatio: 0.2
        },
        colors: [hslToHex(hslprimary),hslToHex(hslsecondary),hslToHex(hsltertiary),hslToHex(hslquartenary)]
    }
    const datapagechartpagecriteres = {
        labels: [{{ range $id, $value := $scores.pagelist }}{{ if ne $id "0" }},{{ end }}"{{ if ge (len (split . "|")) 2 }}{{ index (split . "|") 0 }}{{ else }}{{ . }}{{ end }}"{{ end }}],
        datasets: [
          {
            name: "Non Conforme",
            values: [{{ range $id, $value := $scores.pageaverage }}{{ if ne $id "0" }},{{ end }}{{ sub 100 . | lang.NumFmt 1 | safeJS }}{{ end }}]
          },
          {
            name: "Conforme",
            values: [{{ range $id, $value := $scores.pageaverage }}{{ if ne $id "0" }},{{ end }}{{ . | lang.NumFmt 1 | safeJS }}{{ end }}]
          }
        ]
    }
    const chartpagechartpagecriteres = new frappe.Chart("#chartpagecriteres-csv", {
        title: "Critères par page (en %)",
        data: datapagechartpagecriteres,
        ...options
    })
</script>

{{- end -}}
<div id="chartpie-csv"></div>
{{- $.context.Scratch.Set "graphcounter1" 0 -}}
{{- $.context.Scratch.Set "graphcounter2" 0 -}}
<script>
    const datapiecsv = {
        labels: [{{ range $id, $value := $.context.Scratch.Get "nonconforme" }}{{ if and (ne $value 0) (ne (index ($.context.Scratch.Get "nonconforme") $id) 0) }}{{ if ne ($.context.Scratch.Get "graphcounter1") 0 }},{{ end }}"{{ $.context.Scratch.Add "graphcounter1" 1 }}{{ index $topics ((int $id)) }}"{{ end }}{{ end }}],
        datasets: [
          {
            name: "Non Conforme",
            values: [{{ range $id, $value := $.context.Scratch.Get "nonconforme" }}{{ if and (ne $value 0) (ne (index ($.context.Scratch.Get "nonconforme") $id) 0) }}{{- if ne ($.context.Scratch.Get "graphcounter2") 0 -}},{{- end -}}{{ (div (mul (float $value) 100) $total) | lang.NumFmt 1 -}}{{- $.context.Scratch.Add "graphcounter2" 1 | safeJS  -}}{{- end -}}{{ end }}]
          }
        ]
    }
    const chartpiecsv = new frappe.Chart("#chartpie-csv", {
        title: "Part du total des {{ if eq $auditmethodology 3 }}tests{{ else }}critères{{ end }} non conformes (en %)",
        data: datapiecsv,
        ...options
    })
</script>
{{- end -}}
