{{ $scores := .scores }}
{{- with .auditfile -}}
{{- $auditfile := . }}
{{- $.context.Scratch.Set "pages" slice -}}
{{- $.context.Scratch.Set "pageslistgraph" slice -}}
{{- $topics := slice "Images" "Cadres" "Couleurs" "Multimedia" "Tableaux" "Liens" "Scripts" "Éléments obligatoires" "Structuration de l’information" "Présentation de l'information" "Formulaires" "Navigation" "Consultation" -}}
{{- $auditmethodology := (len (intersect (index $auditfile 0) (slice "Thématiques" "Critères" "Tests"))) -}}
{{ if eq $auditmethodology 2 }}
  {{- $.context.Scratch.Set "pageslistgraph" ((index $auditfile 0) | symdiff (slice "Thématiques" "Critères")) -}}
{{ end }}
{{ if eq $auditmethodology 3 }}
  {{- $.context.Scratch.Set "pageslistgraph" ((index $auditfile 0) | symdiff (slice "Thématiques" "Critères" "Tests")) -}}
{{ end }}

{{/* By topics */}}
{{- range $key, $value := $topics -}}
{{- $.context.Scratch.Set "criterecounterconformetopic" 0 -}}
{{- $.context.Scratch.Set "counterconformetopic" 0 -}}
{{- $.context.Scratch.Set "counternonconformetopic" 0 -}}
  {{/* Something done but without knowing why - commented because this loopis very slow
  {{- range $keycritere, $value := index (partial "render/conformity" (dict "context" $.context "auditfile" $auditfile)) "criterenonconforme" -}}
    {{- if eq $key (int (index (split $keycritere ".") 0)) -}}
      {{- $.context.Scratch.Add "criterecounterconformetopic" 1 -}}
      {{- $.context.Scratch.SetInMap "criterenonconformecounter" (string $key) ($.context.Scratch.Get "criterecounterconformetopic") -}}
    {{- end -}}
  {{- end -}}
  */}}
  {{- range $id, $value := after 1 $auditfile -}}
  {{- if eq (index . 0) (string (add $key 1)) -}}
    {{- range after $auditmethodology . -}}
      {{- $.context.Scratch.SetInMap "conforme" (string $key) ($.context.Scratch.Get "counterconformetopic") -}}
      {{- $.context.Scratch.SetInMap "nonconforme" (string $key) ($.context.Scratch.Get "counternonconformetopic") -}}
      {{- if eq . "c" -}}{{ $.context.Scratch.Add "counterconformetopic" 1 -}}{{ $.context.Scratch.SetInMap "conforme" (string $key) ($.context.Scratch.Get "counterconformetopic") }}{{ end }}
      {{- if and (ne . "na") (ne . "c") (ne . "?") (ne . "") (ne . "25") (ne . "50") (ne . "81") -}}{{ $.context.Scratch.Add "counternonconformetopic" 1 -}}{{ $.context.Scratch.SetInMap "nonconforme" (string $key) ($.context.Scratch.Get "counternonconformetopic") }}{{ end }}
    {{- end -}}
  {{- end -}}
  {{- end -}}
{{- end -}}

{{/* By pages */}}
{{- range $key, $value := $.context.Scratch.Get "pageslistgraph" -}}
{{- $.context.Scratch.Set "counterconformepage" 0 -}}
{{- $.context.Scratch.Set "counternonconformepage" 0 -}}
  {{- range after 1 $auditfile -}}
    {{- range $id, $value := after $auditmethodology . -}}
    {{- if eq $id $key -}}
      {{- $.context.Scratch.SetInMap "conformepage" (string $key) ($.context.Scratch.Get "counterconformepage") -}}
      {{- $.context.Scratch.SetInMap "nonconformepage" (string $key) ($.context.Scratch.Get "counternonconformepage") -}}
      {{- if eq . "c" -}}{{ $.context.Scratch.Add "counterconformepage" 1 -}}{{ $.context.Scratch.SetInMap "conformepage" (string $key) ($.context.Scratch.Get "counterconformepage") }}{{ end }}
      {{- if and (ne . "na") (ne . "c") (ne . "?") (ne . "") (ne . "25") (ne . "50") (ne . "81") -}}{{ $.context.Scratch.Add "counternonconformepage" 1 -}}{{ $.context.Scratch.SetInMap "nonconformepage" (string $key) ($.context.Scratch.Get "counternonconformepage") }}{{ end }}
    {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $counterconformesum := 0 -}}
{{- $counternonapplicablesum := 0 -}}
{{- $counternonconformesum := 0 -}}
{{- range $id, $value := after 1 $auditfile -}}
  {{- $.context.Scratch.Set "counterconformetopic" 0 -}}
  {{- $.context.Scratch.Set "counternonapplicable" 0 -}}
  {{- $.context.Scratch.Set "counternonconformetopic" 0 -}}
  {{ range $id, $value := after $auditmethodology $value }}
    {{- if eq . "c" -}}{{- $.context.Scratch.Add "counterconformetopic" 1 -}}{{- end -}}
    {{- if eq . "na" -}}{{- $.context.Scratch.Add "counternonapplicable" 1 -}}{{- end -}}
    {{- if and (ne . "na") (ne . "c") (ne . "?") (ne . "") (ne . "25") (ne . "50") (ne . "81") -}}{{- $.context.Scratch.Add "counternonconformetopic" 1 -}}{{- end -}}
  {{- end -}}
  {{- $counterconformesum = add $counterconformesum ($.context.Scratch.Get "counterconformetopic") -}}
  {{- $counternonapplicablesum = add $counternonapplicablesum ($.context.Scratch.Get "counternonapplicable") -}}
  {{- $counternonconformesum = add $counternonconformesum  ($.context.Scratch.Get "counternonconformetopic") -}}
{{- end -}}
{{- $total := add $counterconformesum $counternonconformesum -}}
{{ if gt (len (index (index $scores "critereconformepage") "0")) 3 }}
<div id="chartpagecriteres-csv"></div>
<script>
    const datapagechartpagecriteres = {
        labels: [{{ range $id, $value := $.context.Scratch.Get "pageslistgraph" }}{{ if ne $id 0 }},{{ end }}"{{ . }}"{{ end }}],
        datasets: [
          {
            name: "Non Conforme",
            values: [{{ range $id, $value := index $scores "criterenonconformepage" }}{{ if ne $id "0" }},{{ end }}{{ div (mul (float (len .)) 100) (add (len .) (len (index (index $scores "critereconformepage") (string $id)))) | lang.NumFmt 1 | safeJS }}{{ end }}]
          },
          {
            name: "Conforme",
            values: [{{ range $id, $value := index $scores "critereconformepage" }}{{ if ne $id "0" }},{{ end }}{{ div (mul (float (len .)) 100) (add (len .) (len (index (index $scores "criterenonconformepage") (string $id)))) | lang.NumFmt 1 | safeJS }}{{ end }}]
          }
        ],
    }
    const chartpagechartpagecriteres = new frappe.Chart("#chartpagecriteres-csv", {
        title: "Critères par page (en %)",
        data: datapagechartpagecriteres,
        type: 'bar', // or 'bar', 'line', 'scatter', 'pie', 'percentage'
        height: 400,
        truncateLegends: true,
        barOptions: {
            stacked: 1,
            spaceRatio: 0.2
        },
        colors: ['#ac3636','#96cfb7']
    })
</script>

{{- end -}}
{{- if gt (div (index $scores "testtotal") (len ($.context.Scratch.Get "pageslistgraph"))) 106 -}}
<div id="chartpage-csv"></div>
<div id="charttopic-csv"></div>
<script>
    const datapagecsv = {
        labels: [{{ range $id, $value := $.context.Scratch.Get "pageslistgraph" }}{{ if ne $id 0 }},{{ end }}"{{ . }}"{{ end }}],
        datasets: [
          {
            name: "Non Conforme",
            values: [{{ range $id, $value := ($.context.Scratch.Get "nonconformepage") }}{{ if ne $id "0" }},{{ end }}{{ div (mul (float .) 100) (add . (index ($.context.Scratch.Get "conformepage") $id)) | lang.NumFmt 2 | safeJS }}{{ end }}]
          },
          {
            name: "Conforme",
            values: [{{ range $id, $value := ($.context.Scratch.Get "conformepage") }}{{ if ne $id "0" }},{{ end }}{{ div (mul (float .) 100) (add . (index ($.context.Scratch.Get "nonconformepage") $id)) | lang.NumFmt 2 | safeJS }}{{ end }}]
          }
        ],
    }
    const chartpagecsv = new frappe.Chart("#chartpage-csv", {
        title: "Test par page (en %)",
        data: datapagecsv,
        type: 'bar', // or 'bar', 'line', 'scatter', 'pie', 'percentage'
        height: 400,
        truncateLegends: true,
        barOptions: {
            stacked: 1,
            spaceRatio: 0.2
        },
        colors: ['#ac3636','#96cfb7']
    })
</script>
{{- $.context.Scratch.Set "graphcounter1" 0 -}}
{{- $.context.Scratch.Set "graphcounter2" 0 -}}
{{- $.context.Scratch.Set "graphcounter3" 0 -}}
<script>
    const datatopiccsv = {
      labels: [{{ range $id, $value := $.context.Scratch.Get "nonconforme" }}{{ if and (ne $value 0) (ne (index ($.context.Scratch.Get "nonconforme") $id) 0) }}{{ if ne ($.context.Scratch.Get "graphcounter1") 0 }},{{ end }}"{{ $.context.Scratch.Add "graphcounter1" 1 }}{{ index $topics ((int $id)) }}"{{ end }}{{ end }}],
      datasets: [
        {
          name: "Non Conforme",
          values: [{{ range $id, $value := $.context.Scratch.Get "nonconforme" }}{{ if or (ne $value 0) (ne (index ($.context.Scratch.Get "nonconforme") $id) 0) }}{{- if ne ($.context.Scratch.Get "graphcounter3") 0 -}},{{- end -}}{{ (div (mul (float $value) 100) (add $value (index ($.context.Scratch.Get "conforme") $id))) | lang.NumFmt 2 | safeJS -}}{{- $.context.Scratch.Add "graphcounter3" 1 | safeJS  -}}{{- end -}}{{ end }}]
        },
        {
          name: "Conforme",
          values: [{{ range $id, $value := $.context.Scratch.Get "nonconforme" }}{{ if and (ne $value 0) (ne (index ($.context.Scratch.Get "nonconforme") $id) 0) }}{{- if ne ($.context.Scratch.Get "graphcounter2") 0 -}},{{- end -}}{{ sub 100 (div (mul (float $value) 100) (add $value (index ($.context.Scratch.Get "conforme") $id))) | lang.NumFmt 2 | safeJS -}}{{- $.context.Scratch.Add "graphcounter2" 1 | safeJS  -}}{{- end -}}{{ end }}]
        }
      ]
  }
    const charttopiccsv = new frappe.Chart("#charttopic-csv", {
        title: "Tests par thématique (en %)",
        data: datatopiccsv,
        type: 'bar', // or 'bar', 'line', 'scatter', 'pie', 'percentage'
        height: 400,
        truncateLegends: true,
        barOptions: {
            stacked: 1,
            spaceRatio: 0.2
        },
        colors: ['#ac3636','#96cfb7']
    })
</script>
{{- end -}}
<div id="chartpie-csv"></div>
{{- $.context.Scratch.Set "graphcounter1" 0 -}}
{{- $.context.Scratch.Set "graphcounter2" 0 -}}
<script>
    const datapiecsv = {
        labels: [{{ range $id, $value := $.context.Scratch.Get "nonconforme" }}{{ if and (ne $value 0) (ne (index ($.context.Scratch.Get "nonconforme") $id) 0) }}{{ if ne ($.context.Scratch.Get "graphcounter1") 0 }},{{ end }}"{{ $.context.Scratch.Add "graphcounter1" 1 }}{{ index $topics ((int $id)) }}"{{ end }}{{ end }}],
        datasets: [
          {
            name: "Non Conforme",
            values: [{{ range $id, $value := $.context.Scratch.Get "nonconforme" }}{{ if and (ne $value 0) (ne (index ($.context.Scratch.Get "nonconforme") $id) 0) }}{{- if ne ($.context.Scratch.Get "graphcounter2") 0 -}},{{- end -}}{{ (div (mul (float $value) 100) $total) | lang.NumFmt 1 -}}{{- $.context.Scratch.Add "graphcounter2" 1 | safeJS  -}}{{- end -}}{{ end }}]
          }
        ]
    }
    const chartpiecsv = new frappe.Chart("#chartpie-csv", {
        title: "Part du total des {{ if eq $auditmethodology 3 }}tests{{ else }}critères{{ end }} non conformes (en %)",
        data: datapiecsv,
        type: 'bar', // or 'bar', 'line', 'scatter', 'pie', 'percentage'
        height: 400,
        truncateLegends: true,
        barOptions: {
            stacked: 1,
            spaceRatio: 0.2
        },
        colors: ['#ac3636']
    })
</script>
{{- end -}}
