{{- if .criteria.testtotal -}}
<div class="scores mb-1">
    <ul class="flex flex-gap flex-wrap">
      <li class="counter text-center d-inline-block good"><span><b>{{ if .criteria.conforme -}}{{ len .criteria.conforme }}{{ else }}0{{ end }}</b><br>Critères conformes</span></li>
      <li class="counter text-center d-inline-block"><span><b>{{ if .criteria.nonapplicable }}{{ len .criteria.nonapplicable }}{{ else }}0{{ end }}</b><br>Critères non applicables</span></li>
      <li class="counter text-center d-inline-block bad"><span><b>{{ if .criteria.nonconforme }}{{ len .criteria.nonconforme }}{{ else }}0{{ end }}</b><br>Critères non conformes</span></li>
    </ul>
</div>
{{- end -}}
