{{- $project     := .project -}}
{{- $lastfile    := (index (partialCached "render/lastfile.html" (dict "context" .context "project" $project "type" "ecoconception") $project "ecoconception") "auditfile-path") -}}
{{- $ecoconception := partialCached "render/ecoconception.html" (dict "context" .context "auditfile" $lastfile) .context $lastfile -}}

{{- with $ecoconception -}}
  <small class="text-center d-block p-relative">
    {{- if (ne .isempty 0) -}}
    <b class="h3 d-block">{{- .scores.compliance -}}%</b>
    <span class="smaller">conformité&nbsp;RGESN</span>
    {{ if lt (.scores.criteria.total) 110 }}<span class="p-absolute p-top p-right badge bad d-inline-block">{{ (.scores.criteria.total) }}</span>{{ end }}
    {{- else -}}
    <b class="h3 d-block">Conformité</b>
    <span class="smaller">En&nbsp;cours</span>
    {{- end -}}
  </small>
{{- end -}}
