{{- $project := .project -}}
{{- $.context.Scratch.Set "mainpath" (partial "render/check-rootpath-ressources" (dict "context" . "project" $project "type" "lighthouse")) -}}

{{- if (fileExists (printf "/%s/lighthouse/" ($.context.Scratch.Get "mainpath"))) -}}
  {{- $.context.Scratch.Set "dir" (readDir (printf "/%s/lighthouse/" ($.context.Scratch.Get "mainpath"))) -}}
{{- end -}}
{{- if and $project (not (eq $project "index")) (printf "/%s/%s/lighthouse/" ($.context.Scratch.Get "mainpath") $project) -}}
  {{- $.context.Scratch.Set "dir" (readDir (printf "/%s/%s/lighthouse/" ($.context.Scratch.Get "mainpath") $project)) -}}
{{- end -}}

{{- with ($.context.Scratch.Get "dir") -}}
  {{- range last 1 . -}}
    {{- if (fileExists (printf "/%s/lighthouse/" ($.context.Scratch.Get "mainpath"))) -}}
      {{- $.context.Scratch.Set "lastfile" (getJSON (printf "/%s/lighthouse/%s" ($.context.Scratch.Get "mainpath") .Name)) -}}
    {{- end -}}
    {{- if and $project (not (eq $project "index")) (printf "/%s/%s/lighthouse/" ($.context.Scratch.Get "mainpath") $project) -}}
      {{- $.context.Scratch.Set "lastfile" (getJSON (printf "/%s/%s/lighthouse/%s" ($.context.Scratch.Get "mainpath") $project .Name)) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- with ($.context.Scratch.Get "lastfile") -}}
{{- if .audits.metrics.details.items -}}
  <small class="text-center"><b class="h3">{{ div ((index .audits.metrics.details.items 0).largestContentfulPaint) 1000 | lang.NumFmt 1 }}s</b><br>de&nbsp;chargement</small>
{{- end -}}
{{- end -}}

