{{- $project     := .project -}}
{{- $lastfile    := (index (partialCached "render/lastfile.html" (dict "context" .context "project" $project "type" "lighthouse") $project "lighthouse") "auditfile-path") -}}
{{- $performance := partial "render/performance.html" (dict "context" .context "file" (getJSON $lastfile)) -}}
{{- with $lastfile -}}
{{- if $performance.LCP -}}
<div class="scores">
  <ul>
    <li class="counter text-center {{ $performance.speedindexclass }}"><span>Page chargée<br><b class="h2">{{ div ($performance.LCP) 1000 | lang.NumFmt 1 }}s</b></span></li>
    <li class="counter text-center"><span>Poids de la page<br><b class="h2">{{ div $performance.pageweight 1024 | lang.NumFmt 0 }}kb</b></span></li>
    <li class="counter text-center"><span>Éléments sur la page<br><b class="h2">{{ $performance.domsize | lang.NumFmt 0 }}</b></span></li>
    <li class="counter text-center"><span>Nombre de requêtes<br><b class="h2">{{ $performance.requests }}</b></span></li>
  </ul>
</div>
<h3 class="m-0">Écoindex</h3>
    <div class="scores">
      <ul>
        <li class="counter text-center {{ $performance.ecoindexclass }}"><span>Score<br><b class="h2">{{ $performance.ecoindex }}</b></span></li>
        <li class="counter text-center"><span>Eau (cl)<br><b class="h2">{{ $performance.eau | lang.NumFmt 2 }}</b></span></li>
        <li class="counter text-center"><span>GES (gCO2e)<br><b class="h2">{{ $performance.co2 | lang.NumFmt 2 }}</b></span></li>
      </ul>
    </div>
{{- else -}}
<div class="note">
  <p>The Lighthouse file {{ $lastfile }} has to be deleted or relaunch.</p>
</div>
{{- end -}}
{{- end -}}

