{{- $project := .project -}}

{{- if (fileExists "static/lighthouse/") -}}
  {{- $.context.Scratch.Set "dir" (readDir "static/lighthouse/") -}}
{{- end -}}
{{- if and $project (not (eq $project "index")) (printf "static/%s/lighthouse/" $project) -}}
  {{- $.context.Scratch.Set "dir" (readDir (printf "static/%s/lighthouse/" $project)) -}}
{{- end -}}

{{- with ($.context.Scratch.Get "dir") -}}
  {{- range last 1 . -}}
    {{- if (fileExists "static/lighthouse/") -}}
      {{- $.context.Scratch.Set "lastfile" (getJSON (printf "static/lighthouse/%s" .Name)) -}}
    {{- end -}}
    {{- if and $project (not (eq $project "index")) (printf "static/%s/lighthouse/" $project) -}}
      {{- $.context.Scratch.Set "lastfile" (getJSON (printf "static/%s/lighthouse/%s" $project .Name)) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- with ($.context.Scratch.Get "lastfile") -}}
{{- if .audits.metrics.details.items -}}
{{/* https://blog.octo.com/sous-le-capot-de-la-mesure-ecoindex/ */}}
{{- $pageweight := (index (.audits.diagnostics.details.items) 0).totalByteWeight -}}
{{- $domsize    := (index .audits "dom-size").numericValue  -}}
{{- $requests   := (index (.audits.diagnostics.details.items) 0).numRequests -}}
{{- $ecobest    := sub 100 (mul 0.833333333 (add (add (mul 3 150) (mul 15 2)) 130000)) -}}
{{- $ecoworth   := sub 100 (mul 0.833333333 (add (add (mul 3 3000) (mul 120 2)) 5000000)) -}}
{{- $eco        := sub 100 (mul 0.833333333 (add (add (mul 3 $domsize) (mul $requests 2)) $pageweight)) -}}
{{- $result     := sub 100 (div (mul $eco 100) (sub $ecoworth $ecobest)) -}}
{{- $eau        := add (mul (sub 50 $result) 0.03) 3 -}}
{{- $co2        := add (mul (sub 50 $result) 0.02) 2 -}}
<div class="scores">
  <ul>
    <li class="counter text-center"><span>Page chargée<br><b class="h2">{{ div ((index .audits.metrics.details.items 0).largestContentfulPaint) 1000 | lang.NumFmt 1 }}s</b></span></li>
    <li class="counter text-center"><span>Poids de la page<br><b class="h2">{{ div $pageweight 10000 | lang.NumFmt 0 }}kb</b></span></li>
    <li class="counter text-center"><span>Éléments sur la page<br><b class="h2">{{ $domsize | lang.NumFmt 0 }}</b></span></li>
    <li class="counter text-center"><span>Nombre de requêtes<br><b class="h2">{{ $requests }}</b></span></li>
  </ul>
</div>
<h3 class="m-0">Écoindex</h3>
    <div class="scores">
      <ul>
        <li class="counter text-center bad"><span>Score<br><b class="h2">{{ $result | lang.NumFmt 0 }}</b></span></li>
        <li class="counter text-center"><span>Eau (cl)<br><b class="h2">{{ $eau | lang.NumFmt 2 }}</b></span></li>
        <li class="counter text-center"><span>GES (gCO2e)<br><b class="h2">{{ $co2 | lang.NumFmt 2 }}</b></span></li>
      </ul>
    </div>
{{- end -}}
{{- end -}}

