{{- $project := .project -}}

{{- if (fileExists "static/lighthouse/") -}}
  {{- $.context.Scratch.Set "dir" (readDir "static/lighthouse/") -}}
{{- end -}}
{{- if and $project (not (eq $project "index")) (printf "static/%s/lighthouse/" $project) -}}
  {{- $.context.Scratch.Set "dir" (readDir (printf "static/%s/lighthouse/" $project)) -}}
{{- end -}}

{{- with ($.context.Scratch.Get "dir") -}}
  {{- range last 1 . -}}
    {{- if (fileExists "static/lighthouse/") -}}
      {{- $.context.Scratch.Set "lastfile" (getJSON (printf "static/lighthouse/%s" .Name)) -}}
    {{- end -}}
    {{- if and $project (not (eq $project "index")) (printf "static/%s/lighthouse/" $project) -}}
      {{- $.context.Scratch.Set "lastfile" (getJSON (printf "static/%s/lighthouse/%s" $project .Name)) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- with ($.context.Scratch.Get "lastfile") -}}
{{- if .audits.metrics.details.items -}}
<div class="scores">
  <ul>
    <li class="counter text-center"><span>Page chargée<br><b class="h2">{{ div ((index .audits.metrics.details.items 0).largestContentfulPaint) 1000 | lang.NumFmt 1 }}s</b></span></li>
    <li class="counter text-center"><span>Poids de la page<br><b class="h2">{{ div (index (.audits.diagnostics.details.items) 0).totalByteWeight 10000 | lang.NumFmt 0 }}kb</b></span></li>
    <li class="counter text-center"><span>Éléments sur la page<br><b class="h2">{{ (index .audits "dom-size").numericValue | lang.NumFmt 0 }}</b></span></li>
    <li class="counter text-center"><span>Nombre de requêtes<br><b class="h2">{{ (index (.audits.diagnostics.details.items) 0).numRequests }}</b></span></li>
  </ul>
</div>
{{- end -}}
{{- end -}}

