{{- with .counter -}}
<div class="scores">
  <ul>
    <li class="counter text-center d-inline-block"><span><b class="h2">{{ .total }}</b><br>Erreurs total</span></li>
    <li class="counter text-center d-inline-block good"><span><b class="h2">{{ .checked }}</b><br>Erreurs corrigées</span></li>
  </ul>
  {{- if gt (.pathlen) 2 -}}
  {{- if or (.critical) (.important) (.medium) -}}
  <ul>
    <li class="counter text-center d-inline-block bad"><span><b class="h2">{{ .critical }}</b><br><b class="emoticon">🚫 Critique</b></span></li>
    <li class="counter text-center d-inline-block medium"><span><b class="h2">{{ .important }}</b><br><b class="emoticon">❗️ Important</b></span></li>
    <li class="counter text-center d-inline-block normal"><span><b class="h2">{{ .medium }}</b><br><b class="emoticon">➰ Moindre</b></span></li>
  </ul>
  {{- end -}}
  {{- if or (.type.code) (.type.visual) (.type.structure) (.type.text) -}}
  <ul>
    <li class="counter text-center d-inline-block"><span><b class="h2">{{ .type.code }}</b><br>Erreurs de code</span></li>
    <li class="counter text-center d-inline-block"><span><b class="h2">{{ .type.visual }}</b><br>Erreurs visuelles</span></li>
    <li class="counter text-center d-inline-block"><span><b class="h2">{{ .type.structure }}</b><br>Erreurs de structure</span></li>
    <li class="counter text-center d-inline-block"><span><b class="h2">{{ .type.text }}</b><br>Erreurs textuelles</span></li>
  </ul>
  {{- end -}}
  {{- end -}}
</div>
{{- end -}}
