{{- define "main" -}}
<div class="wrapper">
<h1>Critères RGAA4</h1>
{{ partial "elements/content.html" .Content }}
<div hidden>
Sujet;Critère;Tests;description;Page de chargement;Accueil;Actualité;Plan du site;contenu;Vérification;Justificatif<br>
{{- range $key1, $value1 := index $.Site.Data.criteres "topics" -}}
  {{- $topic := .topic -}}
  {{- range $key2, $value2 := .criteria -}}
    {{- $title := .criterium.title -}}
    {{- range $key3, $value3 := .criterium.tests -}}
        {{ add $key1 1 }};{{ add $key2 1 }};{{ $key3 }};
        {{ if reflect.IsSlice $value3 }}
        "{{ (index $value3 0) | markdownify}}"<br>
        {{- else -}}
        "{{ $value3 | markdownify }}"<br>
        {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
</div>
<div class="tableofcontents">
<h2>Sujets</h2>
<ol>
{{/* Range all topics for anchors menu */}}
{{- range $key1, $value1 := index $.Site.Data.criteres "topics" -}}
  <li><a href="#{{ .topic | urlize }}">{{ .topic }}</a></li>
{{- end -}}
</ol>
</div>
{{/* Range all topics */}}
{{- range $key1, $value1 := index $.Site.Data.criteres "topics" -}}
  <h2 id="{{ .topic | urlize }}" >{{ add $key1 1 }} - {{ .topic }}</h2>
  {{/* Range level 1 */}}
  {{- range $key2, $value2 := .criteria -}}
    <h3 id="{{ add $key1 1 }}-{{ add $key2 1 }}">Critère {{ add $key1 1 }}.{{ add $key2 1 }} - {{ (replaceRE "=\"#" "=\"/glossaire/#" (.criterium.title | markdownify) 100) | markdownify }}</h3>
    {{/* Range level 2 */}}
    {{- range $key3, $value3 := .criterium.tests -}}
        <p id="{{ add $key1 1 }}-{{ add $key2 1 }}-{{ $key3 }}" {{ if reflect.IsSlice $value3 }}class="mb-0"{{ end }}><strong>Test {{ add $key1 1 }}.{{ add $key2 1 }}.{{ $key3 }}</strong> -
        {{/* Test if value is an array */}}
        {{- if reflect.IsSlice $value3 -}}
        {{ (replaceRE "=\"#" "=\"/glossaire/#" ((index $value3 0) | markdownify) 100) | markdownify }}</p>
        <ol>
        {{/* Range array and prepend "glossaire" before all links */}}
        {{ range $key4, $value4 := after 1 $value3 }}<li>{{ (replaceRE "=\"#" "=\"/glossaire/#" (. | markdownify) 100) | markdownify }}</li>{{- end -}}
        </ol>
        {{- else -}}
        {{/* Prepend "glossaire" before all links */}}
        {{ (replaceRE "=\"#" "=\"/glossaire/#" ($value3 | markdownify) 100) | markdownify }}</p>
        {{- end -}}
    {{- end -}}
    <hr>
  {{- end -}}
{{- end -}}
</div>
{{- end -}}
