{{- define "main" -}}
<article class="fg-wrapper narrow">
  <!--TOC-->
  {{- partial "elements/tableofcontent.html" . -}}

  <!--Content-->
  {{ partialCached "elements/content.html" .Content .Content }}

  <!--Tag-->
  {{- partial "navigations/tags.html" . -}}

  <!--Prev/Next-->
  {{ if or .PrevInSection .NextInSection}}
  {{ partialCached "utils/css.html" (dict "context" . "filefolder" "object" "filename" "pagination") "pagination" }}
  <div class="grid">
  {{with .PrevInSection}}<span class="pagination--prev"><a href="{{.Permalink}}" class="pagination--item">{{.Title}}</a></span>{{- end -}}
  {{with .NextInSection}}<span class="pagination--next text-right"><a href="{{.Permalink}}" class="pagination--item">{{.Title}}</a></span>{{- end -}}
  </div>
  {{- end -}}

  <!--Related-->
  {{- $related := .Site.RegularPages.Related . | first 5 -}}
  {{- with $related -}}
  <hr class="divider">
  <h2 class="text-center">Voir aussi</h2>
  {{- partialCached "utils/css.html" (dict "context" . "filefolder" "object" "filename" "card") "card" -}}
  <div class="grid grid-center text-center">
  {{range .}}
    <div class="card card-shadow">
      <h3>{{.Title}}</h3>
      <p>{{ .Params.description }}</p>
      <p><a href="{{ .Permalink }}" class="btn secondary">En savoir plus</a></p>
    </div>
  {{- end -}}
  </div>

  {{- end -}}
</article>
{{- end -}}
