/*
/// Colors
*/

/* Better colors for development
//-------------------------------------
*/

/* https://blog.jim-nielsen.com/2020/sass-color-functions-in-css/ */

:root {
  --base-color-hs: 335, 100%;
  --base-color: hsl(var(--base-color-hs), 50%);
  --base-color-light: hsl(var(--base-color-hs), 85%);
  --base-color-dark: hsl(var(--base-color-hs), 20%);
  --base-color-translucent: hsla(var(--base-color-hs), 50%, .5);

  /* set initial (main) HSL color values to use */
  --base-hue: 0;
  --base-sat: 65%;
  --base-light: 50%;
  --base-opacity: 1;

  --shader: 23.5%;
  --l-0: 0%;
  --l-10: 10%;
  --l-20: 20%;
	--l-30: 30%;
	--l-40: 40%;
	--l-50: 50%;
	--l-90: 90%;
	--l-100: 100%;

  --base-red: var(--base-hue);
  --base-pink: calc(var(--base-hue) + 330);
  --base-grape: calc(var(--base-hue) + 300);
  --base-violet: calc(var(--base-hue) + 270);
  --base-indigo: calc(var(--base-hue) + 240);
  --base-blue: calc(var(--base-hue) + 210);
  --base-cyan: calc(var(--base-hue) + 180);
  --base-teal: calc(var(--base-hue) + 150);
  --base-green: calc(var(--base-hue) + 120);
  --base-lime: calc(var(--base-hue) + 90);
  --base-yellow: calc(var(--base-hue) + 60);
  --base-orange: calc(var(--base-hue) + 30);

  --color-primary-verylight: hsl(var(--base-primary), var(--base-sat), calc(var(--base-light) + var(--shader) * 2));
  --color-primary-light: hsl(var(--base-primary), var(--base-sat), calc(var(--base-light) + var(--shader)));
  --color-primary: hsl(var(--base-primary), var(--base-sat), var(--base-light));
  --color-primary-dark: hsl(var(--base-primary), var(--base-sat), calc(var(--base-light) - var(--shader)));
  --color-primary-verydark: hsl(var(--base-primary), var(--base-sat), calc(var(--base-light) - var(--shader) * 2));
  --color-secondary-verylight: hsl(var(--base-secondary), var(--base-sat), calc(var(--base-light) + var(--shader) * 2));
  --color-secondary-light: hsl(var(--base-secondary), var(--base-sat), calc(var(--base-light) + var(--shader)));
  --color-secondary: hsl(var(--base-secondary), var(--base-sat), var(--base-light));
  --color-secondary-dark: hsl(var(--base-secondary), var(--base-sat), calc(var(--base-light) - var(--shader)));
  --color-secondary-verydark: hsl(var(--base-secondary), var(--base-sat), calc(var(--base-light) - var(--shader) * 2));
  --color-grey-verylight: #f8f9fa;
  --color-grey-light: #e9ecef;
  --color-grey: #868e96;
  --color-grey-dark: #343a40;
  --color-grey-verydark: #212529;

  --color-score: hsl(var(--base-blue), 65%, calc(var(--base-light) - 15%));
  --color-score-verygood: hsl(var(--base-green), 45%, calc(var(--base-light) - 5%));
  --color-score-good: hsl(var(--base-green), 25%, calc(var(--base-light) - 5%));
  --color-score-medium: hsl(var(--base-orange), 65%, calc(var(--base-light) - 5%));
  --color-score-bad: hsl(var(--base-red), 45%, calc(var(--base-light) - 5%));
  --color-score-verybad: hsl(var(--base-red), 55%, calc(var(--base-light) - 20%));

  --color-graph-primary: hsl(var(--base-red), 45%, calc(var(--base-light) - 5%));
  --color-graph-secondary: hsl(var(--base-green), 25%, calc(var(--base-light) + 20%));
  --color-graph-tertiary: hsl(var(--base-primary), var(--base-sat), var(--base-light));
  --color-graph-quartenary: hsl(var(--base-secondary), var(--base-sat), var(--base-light));
}

@media (prefers-color-scheme: dark) {
  :root {
    --shader: -26.5%;
    --base-light: 60%;
    --l-0: 100%;
    --l-10: 90%;
    --l-20: 80%;
    --l-30: 70%;
    --l-40: 60%;
    --l-90: 10%;
    --l-100: 0%;
  }
}
