/*
/// Typography
*/

/* Our variables
//-------------------------------------
*/

:root {

  --system-font:             BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  --base-font:               var(--base-font-name,-apple-system), var(--system-font);
  --title-font:              var(--title-font-name,-apple-system), var(--system-font);

  --ratio:                   1.25;
  --base:                    1;
  --base-em:                 calc(var(--base) * 1em);
  --base-rem:                calc(var(--base) * 1rem);

  --ms0:                     1;
  --ms1:                     var(--ratio);                    /* 1.2   */
  --ms2:                     calc(var(--ratio) * var(--ms1)); /* 1.44  */
  --ms3:                     calc(var(--ratio) * var(--ms2)); /* 1.728 */
  --ms4:                     calc(var(--ratio) * var(--ms3)); /* 2.074 */
  --ms5:                     calc(var(--ratio) * var(--ms4)); /* 2.488 */
  --ms6:                     calc(var(--ratio) * var(--ms5)); /* 2.986 */
  --ms7:                     calc(var(--ratio) * var(--ms6)); /* 3.583 */

  --smaller:                 calc(var(--base-em) / var(--ms1));
  --normal:                  calc(var(--base-em) * var(--ms0));
  --bigger:                  calc(var(--base-em) * var(--ms1));
  --title3:                  calc(var(--base-em) * var(--ms2));
  --title2:                  calc(var(--base-em) * var(--ms3));
  --title1:                  calc(var(--base-em) * var(--ms4));

  --line-height-base:        1.5;
  --baseline:                1.5rem;

  --min-font-size: 14;
  --max-font-size: 18;
  --fluid-size: var(--min-font-size) * 1px + (var(--max-font-size) - var(--min-font-size)) * ((100vw - 420px) / (1200 - 420));
}

/*--------------------------------------
// Typography
--------------------------------------*/

:root {
  font-size: clamp(var(--min-font-size) * 1px,var(--fluid-size),var(--max-font-size) * 1px);
}


body {
  margin: 0;
  padding-bottom: 0;
  line-height: var(--line-height-base);
  font-family: var(--base-font);
}

h1,
h2,
h3,
h4,
h5,
h6
label,
legend {
  color: var(--title-color);
  margin-top: var(--baseline);
  margin-bottom: var(--baseline);
  font-family: var(--title-font);
}

h6,
.h6,
.smaller {
  font-size: var(--smaller);
}
h5,
.h5 {
  font-size: var(--normal);
}
h4,
.h4 {
  font-size: var(--bigger);
}
h3,
.h3 {
  font-size: var(--title3);
}
h2,
.h2,
legend {
  font-size: var(--title2);
}
h1,
.h1 {
  font-size: var(--title1);
}

h1 small,
h2 small,
h3 small {
  font-size: 65%;
}

p {
  margin: 0 0 var(--baseline);
}
