{{ partial "utils/css.html" (dict "context" . "filefolder" "overgo/object" "filename" "form") }}
<section>
    <form class="contact" action="https://formspree.io/contact@domeo-conseil.com" method="POST" name="sentMessage" id="defaultContact">
      <legend class="text-center">Une question ?<br>N’hésitez pas à nous contacter !</legend>
      <div>
        <label for="name">Votre nom <span class="form__required">requis</span></label>
        <input id="name" name="name" class="form-control" type="text" placeholder="ex. Pierre Duchamp" autocomplete=name required>
        <div class="d-none" id="name-error"></div>
      </div>
      <div>
        <label for="email">Votre email <span class="form__required">requis</span></label>
        <input id="email" name="email" type="text" pattern="[^]+@[^]+[.][a-z]{2,63}$" autocomplete="email" placeholder="ex. pierre.duchamp@mail.com" autocomplete=email required>
        <div class="d-none" id="email-error"></div>
      </div>
      <div>
        <label for="tel">Votre téléphone</label>
        <input id="tel" name="phone" type="text" autocomplete="tel" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" placeholder="ex. 0689592484" autocomplete=tel>
        <div class="d-none" id="phone-error"></div>
      </div>
      <div>
        <label for="message">Un message à nous faire parvenir <span class="form__required">requis</span></label>
        <textarea id="message" name="message" type="text" placeholder="ex. Bonjour, je suis très intéressé par votre produit" rows="4" required></textarea>
        <div class="d-none" id="message-error"></div>
      </div>
      <div class="d-none" id="generic-success">Merci de nous avoir contacté. Nous reviendrons vers vous très bientôt !</div>
      <div class="d-none" id="generic-error">Malheureusement votre message ne peux pas être envoyé :-( Il est préférable de nous directement : contact@domeo-conseil</div>
      <noscript>
        <div class="text-danger py-2" id="js-error">contact@domeo-conseil.com</div>
      </noscript>
      <button class="btn w-100" type="submit">Envoyer</button>
    </form>
  </div>
</section>
