{{- define "main" -}}
{{- $project :=  (index (split .Path "/") 1) -}}
{{- $pathimage := printf "./static/images/%s/" $project }}

{{/* Set the audit file */}}
{{- if eq (len (split .Path "/")) 3 -}}
{{- $.Scratch.Set "auditfile" (index (index $.Site.Data $project) "accessibility") -}}
{{- else -}}
{{- $.Scratch.Set "auditfile" $.Site.Data.accessibility -}}
{{- end -}}

<div class="wrapper audit">
{{- if eq (len (split .Path "/")) 3 -}}
<p class="no-print">⬅ <a href="/projects/{{ $project }}/" class="link-more link-back">Retour à la page {{ $project }}</a></p>
{{- end -}}
<h1>{{ .Title }} <small>{{ if .Params.tags }}{{ range .Params.tags }}pour <a href="/tags/{{ . }}">{{ . }}</a>{{ end }}{{ end }}</small></h1>

{{- partial "elements/content.html" .Content -}}

{{- if $.Scratch.Get "auditfile" -}}
<h2 class="text-center">Scores</h2>
<h3 class="mb-0">Conformité globale</h3>
{{- partial "components/scores/accessibility" (dict "context" . "auditfile" ($.Scratch.Get "auditfile")) -}}
<h3 class="mb-0">Conformité détaillée</h3>
{{- partial "components/scores/accessibility-graph" (dict "context" . "auditfile" ($.Scratch.Get "auditfile")) -}}

{{- with .Params.accessibility -}}
<h2>Contexte</h2>
<p>
  <strong>Version du référentiel&nbsp;: </strong>{{ .guidelines }}<br>
  <strong>Technologies utilisées sur le site&nbsp;: </strong>{{ delimit .technologies ", " }}<br>
  <strong>Outils pour réaliser l’audit&nbsp;: </strong>{{ delimit .tools ", " }}<br>
  <strong>Environnement de test&nbsp;: </strong>{{ delimit .environment ", " }}<br>
</p>
{{- end -}}

{{/* Create an array with all pages */}}
{{- $.Scratch.Set "pages" slice -}}
{{- range $key, $value := index ($.Scratch.Get "auditfile") 0 -}}
  {{- $.Scratch.Add "pages" $key -}}
{{- end -}}
{{/* Remove header row entries from the csv */}}
{{- $pages := $.Scratch.Get "pages" | symdiff (slice "Sujet" "Critère" "Tests" "Description") -}}

<hr>

{{/* Create map with qualified errors */}}
{{- range $id, $value := $pages -}}
  {{ $page := . }}
  {{- range $key, $value := ($.Scratch.Get "auditfile")  -}}
    {{- $content := index . $page -}}
    {{- $condcontentlen := gt (len $content) 2 -}}
    {{- $condcontentnc := (eq $content "nc") -}}

    {{/* Test if the test result is the same for all the page */}}
    {{- $.Scratch.Set "similaryresult" slice -}}
    {{- range $k, $s := $value -}}
      {{- if not (intersect (slice $k) (slice "Sujet" "Critère" "Tests")) -}}{{- $.Scratch.Add "similaryresult" . -}}{{ end }}
    {{- end -}}
    {{- if and $condcontentlen (eq $id 0) -}}
    {{- if and (eq (len (uniq ($.Scratch.Get "similaryresult"))) 1) (gt (len (uniq ($.Scratch.Get "similaryresult"))) 0) -}}
      {{- if eq (upper (delimit (findRE "!(.*)!" $content) "")) "!F!" -}}{{ $.Scratch.SetInMap "allpageserrorsease" (string $page) $value }}{{- end -}}
      {{- if eq (upper (delimit (findRE "!(.*)!" $content) "")) "!M!" -}}{{ $.Scratch.SetInMap "allpageserrorsmedium" (string $page) $value }}{{- end -}}
      {{- if eq (upper (delimit (findRE "!(.*)!" $content) "")) "!D!" -}}{{ $.Scratch.SetInMap "allpageserrorshard" (string $page) $value }}{{- end -}}
    {{- end -}}
    {{- end -}}
    {{- if or $condcontentlen -}}
    {{- if not (eq (len (uniq ($.Scratch.Get "similaryresult"))) 1) -}}
      {{- if eq (upper (delimit (findRE "!(.*)!" $content) "")) "!F!" -}}{{ $.Scratch.SetInMap "pageserrorsease" (string $page) $value }}{{- end -}}
      {{- if eq (upper (delimit (findRE "!(.*)!" $content) "")) "!M!" -}}{{ $.Scratch.SetInMap "pageserrorsmedium" (string $page) $value }}{{- end -}}
      {{- if eq (upper (delimit (findRE "!(.*)!" $content) "")) "!D!" -}}{{ $.Scratch.SetInMap "pageserrorshard" (string $page) $value }}{{- end -}}
    {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{ $.Scratch.Set "allpageserrors" (dict "1 - Correction facile" ($.Scratch.Get "allpageserrorsease") "2 - Correction modérée" ($.Scratch.Get "allpageserrorsmedium") "3 - Correction difficile" ($.Scratch.Get "allpageserrorshard")) }}
{{ $.Scratch.Set "pageserrors" (dict "1 - Correction facile" ($.Scratch.Get "pageserrorsease") "2 - Correction modérée" ($.Scratch.Get "pageserrorsmedium") "3 - Correction difficile" ($.Scratch.Get "pageserrorshard")) }}
{{ $.Scratch.Set "allerrors" (dict "A - Erreurs présentes sur toutes les pages" ($.Scratch.Get "allpageserrors") "B - Erreurs présentes sur les pages spécifiques" ($.Scratch.Get "pageserrors")) }}

<h2>Erreurs par ordre de difficulté de correction (erreurs seulement)</h2>

{{ range $keytitle, $value := ($.Scratch.Get "allerrors")  }}
    <h3>{{ $keytitle }}</h3>
    {{ range $key, $value := . }}
      {{ if $value }}
      <h4>{{ $key }}</h4>
      {{ range $key, $value := . }}
        {{- $content := index . $key -}}
        {{- $test := .Tests -}}
        <p class="mb-0"><strong>
          Test {{ .Sujet }}.{{ .Critère }}.{{ .Tests }}{{ if eq $keytitle "B - Erreurs présentes sur les pages spécifiques" }} - sur la page {{ $key }}{{ end }}
          {{ if eq (upper (delimit (findRE "!(.*)!" $content) "")) "!F!" }}<span class="badge good">Facile</span>{{ end }}
          {{ if eq (upper (delimit (findRE "!(.*)!" $content) "")) "!M!" }}<span class="badge medium">Modéré</span>{{ end }}
          {{ if eq (upper (delimit (findRE "!(.*)!" $content) "")) "!D!" }}<span class="badge bad">Difficile</span>{{ end }}
        </strong></p>
        <p class="m-0"><strong>{{ (replaceRE "!(.*)!" "" $content 1) | markdownify }}</strong></p>
        {{- $s := where (index $.Site.Data.criteres "topics") "number" "eq" (int .Sujet) -}}
        {{- range $idx, $value := ((index (index $s 0).criteria (sub (int .Critère) 1)).criterium).tests -}}
          {{- if eq $idx (string $test) -}}
          {{ if reflect.IsSlice . }}
          <p><em>{{ index . 0 | markdownify }}</em></p>
          <ol>
            {{ range after 1 .}}<li>{{ . | markdownify }}</li>{{ end }}
          </ol>
          {{- else -}}
          <p><em>{{ . | markdownify }}</em></p>
          {{- end -}}
          {{- end -}}
        {{- end -}}
        {{ end }}
      {{ end }}
    {{- end -}}
{{- end -}}
<hr>

<h2>Liste des pages auditées</h2>

<div class="tableofcontents">
  <h3>Accéder aux pages auditées</h3>
  <ul>
    <li><a href="#pagesall">Erreurs sur toutes les pages</a></li>
    {{/* Loop all pages for anchor navigation */}}
    {{- range $id, $value := $pages -}}
    <li><a href="#{{ . | urlize }}">{{ . }}</a></li>
    {{- end -}}
  </ul>
</div>

<h3>Par ordre des tests du référentiel RGAA</h3>
{{/* Display errors presents on all pages */}}
<h4 id="pagesall">A - Erreurs présentes sur toutes les pages</h4>
{{- range $key, $value := ($.Scratch.Get "auditfile")  -}}
  {{- $content := index . (index $pages 1) -}}
  {{- $condcontentlen := gt (len $content) 2 -}}
  {{- $condcontentnc := (eq $content "nc") -}}
  {{- $condcontentc := (eq $content "c") -}}


  {{- if or $condcontentlen $condcontentnc -}}
  {{- $test := .Tests -}}
  {{/* Test if the test result is the same for all the page */}}
  {{- $.Scratch.Set "similaryresult" slice -}}
  {{- range $k, $s := $value -}}
    {{ if not (intersect (slice $k) (slice "Sujet" "Critère" "Tests")) }}{{- $.Scratch.Add "similaryresult" . -}}{{ end }}
  {{- end -}}

  {{- $.Scratch.Set "text" "" -}}
  {{- if and (eq (len (uniq ($.Scratch.Get "similaryresult"))) 1) (gt (len (uniq ($.Scratch.Get "similaryresult"))) 0) -}}
  <h5 class="mb-0">
    {{ if $condcontentc }}✅{{ end }}{{ if or $condcontentnc $condcontentlen }}❌{{ end }} Test {{ .Sujet }}.{{ .Critère }}.{{ .Tests }} <small>- {{ if $condcontentc }}Conforme{{ end }}{{ if or $condcontentnc $condcontentlen }}Non conforme{{ end }}</small>
    {{ if eq (upper (delimit (findRE "!(.*)!" $content) "")) "!F!" }}<span class="badge good">Facile</span>{{ end }}
    {{ if eq (upper (delimit (findRE "!(.*)!" $content) "")) "!M!" }}<span class="badge medium">Modéré</span>{{ end }}
    {{ if eq (upper (delimit (findRE "!(.*)!" $content) "")) "!D!" }}<span class="badge bad">Difficile</span>{{ end }}
  </h5>
  {{- if $condcontentlen }}<p class="m-0"><strong>{{ (replaceRE "!(.*)!" "" $content 1) | markdownify }}</strong></p>{{ end }}
  {{- $s := where (index $.Site.Data.criteres "topics") "number" "eq" (int .Sujet) -}}
  {{- range $idx, $value := ((index (index $s 0).criteria (sub (int .Critère) 1)).criterium).tests -}}
    {{- if eq $idx (string $test) -}}
    {{ if reflect.IsSlice . }}
    <p><em>{{ index . 0 | markdownify }}</em><br></p>
    <ol>
      {{ range after 1 .}}<li>{{ . | markdownify }}</li>{{ end }}
    </ol>
    {{- else -}}
    <p><em>{{ . | markdownify }}</em></p>
    {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- else -}}
  {{ $.Scratch.Set "text" "<p>Pas d’erreur spécifique à cette page.</p>" }}
  {{- end -}}
  {{- end -}}
{{- end -}}
{{- $.Scratch.Get "text" | safeHTML -}}


<br><hr class="divider">

<h4>B - Erreurs présentes sur les pages spécifiques</h4>
{{/* Display errors presents on specific pages */}}
{{- range $id, $value := $pages -}}
  {{ $.Scratch.Set "text" 0 }}
  {{ $page := . }}
  <h5 id="{{ . | urlize }}">{{ . }}</h5>
  {{- range $key, $value := ($.Scratch.Get "auditfile")  -}}
  {{- $content := index . $page -}}
  {{- $condcontentlen := gt (len $content) 2 -}}
  {{- $condcontentnc := (eq $content "nc") -}}
  {{- $condcontentc := (eq $content "c") -}}

  {{- if or $condcontentlen $condcontentnc $condcontentc -}}
  {{- $test := .Tests -}}
  {{/* Test if the test result is the same for all the page */}}
  {{- $.Scratch.Set "similaryresult" slice -}}
  {{ range $k, $s := $value }}
    {{ if not (intersect (slice $k) (slice "Sujet" "Critère" "Tests")) }}{{- $.Scratch.Add "similaryresult" . -}}{{ end }}
  {{ end }}
  {{- if not (eq (len (uniq ($.Scratch.Get "similaryresult"))) 1) -}}
  {{ $.Scratch.Set "text" 1 }}
  <p class="mb-0"><strong>
    {{ if $condcontentc }}✅&nbsp;{{ end }}{{ if or $condcontentnc $condcontentlen }}❌&nbsp;{{ end }} Test {{ .Sujet }}.{{ .Critère }}.{{ .Tests }} <small>- {{ if $condcontentc }}Conforme{{ end }}{{ if or $condcontentnc $condcontentlen }}Non conforme{{ end }}</small>
    {{ if eq (upper (delimit (findRE "!(.*)!" $content) "")) "!F!" }}<span class="badge good">Facile</span>{{ end }}
    {{ if eq (upper (delimit (findRE "!(.*)!" $content) "")) "!M!" }}<span class="badge medium">Modéré</span>{{ end }}
    {{ if eq (upper (delimit (findRE "!(.*)!" $content) "")) "!D!" }}<span class="badge bad">Difficile</span>{{ end }}
  </strong></p>
  {{- if $condcontentlen }}<p class="m-0"><strong>{{ (replaceRE "!(.*)!" "" $content 1) | markdownify }}</strong></p>{{ end }}
  {{- $s := where (index $.Site.Data.criteres "topics") "number" "eq" (int .Sujet) -}}
  {{- range $idx, $value := ((index (index $s 0).criteria (sub (int .Critère) 1)).criterium).tests -}}
    {{- if eq $idx (string $test) -}}
    {{ if reflect.IsSlice . }}
    <p><em>{{ index . 0 | markdownify }}</em></p>
    <ol>
      {{ range after 1 .}}<li>{{ . | markdownify }}</li>{{ end }}
    </ol>
    {{- else -}}
    <p><em>{{ . | markdownify }}</em></p>
    {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- end -}}
  {{- end -}}
  {{- end -}}
  {{ if eq ($.Scratch.Get "text") 0 }}Pas d’erreur spécifique à cette page.{{ end }}
{{- end -}}
{{- else -}}
  <p>
  Il manque la présence d’un fichier : <code>{{- if eq (len (split .Path "/")) 3 -}}data/{{ $project }}/{{- else -}}data/{{- end -}}accessibility.json</code>.
  </p>
{{- end -}}
{{- end -}}
