{{- define "main" -}}
{{/* Vars */}}

{{- $.Scratch.Set "projectfolders" "" -}}
{{- if eq (len (split .Path "/")) 3 -}}
  {{- $.Scratch.Set "projectfolders" (index (split .Path "/") 1) -}}
{{- end -}}
{{- $pathimage := printf "./static/images/%s/" ($.Scratch.Get "projectfolders") }}
{{- $context := . -}}
{{- $.Scratch.Set "auditfile-csv" "" }}

{{/* Set the audit file */}}
{{/* Set the audit file - test if a specific file is called */}}
{{- if .Params.datafilename -}}
  {{/* Condition about structure level */}}
  {{- if eq (len (split .Path "/")) 3 -}}
  {{- $.Scratch.Set "auditpath-csv" (printf "static/%s/%s.csv" ($.Scratch.Get "projectfolders") .Params.datafilename) -}}
  {{- else -}}
  {{- $.Scratch.Set "auditpath-csv" (printf "static/%s.csv" .Params.datafilename) -}}
  {{- end -}}
{{- else -}}
  {{/* Set the audit file - test if a generic file is called */}}
  {{/* Test if a set of archived audit exists */}}
  {{- if fileExists (printf "static/%s/accessibility/" ($.Scratch.Get "projectfolders")) -}}
    {{- range $key, $value := (readDir (printf "static/%s/accessibility/" ($.Scratch.Get "projectfolders"))) -}}
      {{- $.Scratch.SetInMap "allaudits" (string (add $key 1)) (printf "static/%s/accessibility/%s" ($.Scratch.Get "projectfolders") .Name) -}}
      {{- $.Scratch.SetInMap "allauditsname" (string (add $key 1)) (replace .Name ".csv" "") -}}
    {{- end -}}
    {{- $.Scratch.Set "auditpath-csv" (index ($.Scratch.Get "allaudits") "1") -}}
  {{- else if fileExists (printf "static/accessibility/" ($.Scratch.Get "projectfolders")) -}}
    {{- range $key, $value := (readDir (printf "static/accessibility/" ($.Scratch.Get "projectfolders"))) -}}
      {{- $.Scratch.SetInMap "allaudits" (string (add $key 1)) (printf "static/accessibility/%s" ($.Scratch.Get "projectfolders") .Name) -}}
      {{- $.Scratch.SetInMap "allauditsname" (string (add $key 1)) (replace .Name ".csv" "") -}}
    {{- end -}}
    {{/* Keep only the last file - if a root file doesn't exist */}}
    {{- $.Scratch.Set "auditpath-csv" (index ($.Scratch.Get "allaudits") "1") -}}
  {{- end -}}
  {{/* Condition about structure level for a root generic file */}}
  {{- if or (fileExists (printf "static/%s/%s.csv" ($.Scratch.Get "projectfolders") "accessibility")) (fileExists (printf "static/%s%s.csv" ($.Scratch.Get "projectfolders") "accessibility")) -}}
    {{- if eq (len (split .Path "/")) 3 -}}
      {{- $.Scratch.Set "auditpath-csv" (printf "static/%s/%s.csv" ($.Scratch.Get "projectfolders") "accessibility") -}}
    {{- else -}}
    {{- $.Scratch.Set "auditpath-csv" (printf "static/%s%s.csv" ($.Scratch.Get "projectfolders") "accessibility") -}}
    {{- end -}}
    {{- $.Scratch.SetInMap "allaudits" "zz" ($.Scratch.Get "auditpath-csv") -}}
    {{- $.Scratch.SetInMap "allauditsname" "zz" (now.Format "2006-01-02") -}}
  {{- end -}}
{{- end -}}

<div class="wrapper narrow audit">

{{- if ($.Scratch.Get "auditpath-csv") -}}

{{- $.Scratch.Set "auditfile-csv" (getCSV "," ($.Scratch.Get "auditpath-csv")) -}}
{{- $scores := partial "render/conformity" (dict "context" $context "auditfile" ($.Scratch.Get "auditfile-csv")) -}}

{{- if eq (len (split .Path "/")) 3 -}}
<p class="no-print">⬅ <a href="/projects/{{ ($.Scratch.Get "projectfolders") }}/" class="link-more link-back">Retour à la page projet</a></p>
{{- end -}}
<h1>{{ .Title }}</h1>

{{- if gt (len .Content) 10 -}}
<div class="note">
{{- partial "elements/content.html" .Content -}}
</div>
{{- end -}}

{{- if and ($.Scratch.Get "auditfile-csv") $scores (index $scores "testtotal") -}}

{{/* Create an array with all pages */}}
{{- $pages := (index ($.Scratch.Get "auditfile-csv") 0) | symdiff (slice "Thématiques" "Critères" "Tests") -}}

{{/* Call score components */}}
<h2 class="text-center">Scores -&nbsp;{{- len ($.Scratch.Get "criteretotal") -}}&nbsp;critères</h2>
<h3>Conformité globale selon les critères</h3>
{{/* Call accessibility partial */}}
{{- $conforme := index $scores "critereconformepercent" -}}
{{- partial "components/scores/accessibility" (dict "context" . "score" $conforme) -}}
{{/* Call criterium partial */}}
{{- partial "components/scores/criterium" (dict "context" . "criteres" $scores) -}}
{{/* If serveral pages tested */}}
{{- if gt (len $pages) 1 -}}
<h3 class="mb-0">Conformité détaillée de répartition des tests</h3>
{{- partial "components/scores/accessibility-graph-csv" (dict "context" . "auditfile" ($.Scratch.Get "auditfile-csv")) -}}

{{/* Call page parameters */}}
{{- with .Params.accessibility -}}
<h2>Contexte</h2>
<p>
  <strong>Version du référentiel&nbsp;: </strong>{{ .guidelines }}<br>
  <strong>Technologies utilisées sur le site&nbsp;: </strong>{{ delimit .technologies ", " }}<br>
  <strong>Outils pour réaliser l’audit&nbsp;: </strong>{{ delimit .tools ", " }}<br>
  <strong>Environnement de test&nbsp;: </strong>{{ delimit .environment ", " }}<br>
</p>
{{- end -}}

<hr>

{{/* If serveral pages tested */}}

<h2>Liste des pages auditées</h2>

{{/* Create a anchors menu */}}
<div class="tableofcontents">
  <h3>Accéder aux pages auditées</h3>
  <ul>
    <li><a href="#pagesall">Erreurs sur toutes les pages</a></li>
    {{/* Loop all pages for anchor navigation */}}
    {{- range $id, $value := $pages -}}
    <li><a href="#{{ . | urlize }}">{{ . }}</a></li>
    {{- end -}}
  </ul>
</div>
{{- end -}}

<h2>Par ordre des tests du référentiel RGAA</h2>

{{- if gt (len $pages) 0 -}}
{{/* Range map errors sort by RGAA order - on all pages */}}
<h3 id="pagesall">A - Erreurs présentes sur toutes les pages</h3>
{{- end -}}
{{- range $key, $value := after 1 ($.Scratch.Get "auditfile-csv") -}}
  {{ $content := delimit (uniq (after 3 .)) "" }}
  {{- $condcontentlen := gt (len $content) 2 -}}
  {{- $condcontentnc := (eq $content "nc") -}}
  {{- $condcontentc := (eq $content "c") -}}
  {{- $thematiques := index $value 0 -}}
  {{- $criteres := index $value 1 -}}
  {{- $tests := index $value 2 -}}
  {{ if eq (len (uniq (after 3 .))) 1 }}
  {{- range first 1 . -}}
    {{- if or $condcontentlen $condcontentnc -}}
    <p class="mb-0"><strong>
      {{- if $condcontentc -}}✅{{ end }}{{ if or $condcontentnc $condcontentlen }}❌{{ end }}&nbsp;Test {{ $thematiques }}.{{ $criteres }}.{{ $tests}} <small>- {{ if $condcontentc }}Conforme{{ end }}{{ if or $condcontentnc $condcontentlen }}Non conforme{{ end }}</small>
      {{ if eq (upper (delimit (findRE "!(.*)!" $content) "")) "!F!" -}}<span class="badge good">Facile</span>{{- end -}}
      {{ if eq (upper (delimit (findRE "!(.*)!" $content) "")) "!M!" -}}<span class="badge medium">Modéré</span>{{- end -}}
      {{ if eq (upper (delimit (findRE "!(.*)!" $content) "")) "!D!" -}}<span class="badge bad">Difficile</span>{{- end -}}
    </strong></p>
    {{- if $condcontentlen }}<p class="m-0"><strong>{{ replace (replaceRE "!(.*)!" "" $content 1) "\n" "<br>" | markdownify }}</strong></p>{{ end }}
      {{- $s := where (index $.Site.Data.criteres "topics") "number" "eq" (int ($thematiques)) -}}
      {{- range $idx, $value := ((index (index $s 0).criteria (sub (int ($criteres)) 1)).criterium).tests -}}
        {{- if eq $idx (string ($tests)) -}}
        {{- if reflect.IsSlice . -}}
        <p><em>{{ (replaceRE "=\"#" "=\"/glossaire/#" ((index . 0) | markdownify) 100) | markdownify }}</em><br></p>
        {{- if (after 1 .) -}}
        <ol>
          {{ range after 1 . }}<li>{{ (replaceRE "=\"#" "=\"/glossaire/#" (. | markdownify) 100) | markdownify }}</li>{{ end }}
        </ol>
        {{- end -}}
        {{- else -}}
        <p><em>{{ (replaceRE "=\"#" "=\"/glossaire/#" (. | markdownify) 100) | markdownify }}</em></p>
        {{- end -}}
      {{- end -}}
    {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- end -}}
{{- end -}}

{{/* If serveral pages tested */}}
{{- if gt (len $pages) 1 -}}

{{/* Range map errors sort by RGAA order - on specifics pages */}}
<h3>B - Erreurs présentes sur les pages spécifiques</h3>
{{/* Display errors presents on specific pages */}}
{{- range $id, $value := $pages -}}
  {{ $.Scratch.Set "text" 0 }}
  {{ $page := . }}
  <h4 id="{{ . | urlize }}">♦︎ Page : {{ . }}</h4>
  {{- $.Scratch.Set "is-page-error" 0 -}}
  {{- range $key, $value := after 1 ($.Scratch.Get "auditfile-csv") -}}
  {{ if ne (len (uniq (after 3 .))) 1 }}
    {{- $content := (string (index . (add $id 3))) -}}
    {{- $condcontentlen := gt (len $content) 2 -}}
    {{- $condcontentnc := (eq $content "nc") -}}
    {{- $condcontentc := (eq $content "c") -}}
    {{- $thematiques := index $value 0 -}}
    {{- $criteres := index $value 1 -}}
    {{- $tests := index $value 2 -}}
    {{- if or $condcontentlen $condcontentnc -}}
    {{- $.Scratch.Add "is-page-error" 1 -}}
        <p class="mb-0"><strong>
        {{- if $condcontentc -}}✅{{ end }}{{ if or $condcontentnc $condcontentlen }}❌{{ end }} Test {{ $thematiques }}.{{ $criteres }}.{{ $tests}} <small>- {{ if $condcontentc }}Conforme{{ end }}{{ if or $condcontentnc $condcontentlen }}Non conforme{{ end }}</small>
        {{- if eq (upper (delimit (findRE "!(.*)!" $content) "")) "!F!" -}}<span class="badge d-none good">Facile</span>{{- end -}}
        {{- if eq (upper (delimit (findRE "!(.*)!" $content) "")) "!M!" -}}<span class="badge d-none medium">Modéré</span>{{- end -}}
        {{- if eq (upper (delimit (findRE "!(.*)!" $content) "")) "!D!" -}}<span class="badge d-none bad">Difficile</span>{{- end -}}
      </strong></p>
      {{- if $condcontentlen }}<p class="m-0"><strong>{{ replace (replaceRE "!(.*)!" "" $content 1) "\n" "<br>" | markdownify }}</strong></p>{{ end }}
        {{- $s := where (index $.Site.Data.criteres "topics") "number" "eq" (int ($thematiques)) -}}
        {{- range $idx, $value := ((index (index $s 0).criteria (sub (int ($criteres)) 1)).criterium).tests -}}
          {{- if eq $idx (string ($tests)) -}}
          {{- if reflect.IsSlice . -}}
          <p><em>{{ (replaceRE "=\"#" "=\"/glossaire/#" ((index . 0) | markdownify) 100) | markdownify }}</em><br></p>
          {{- if (after 1 .) -}}
          <ol>
            {{ range after 1 . }}<li>{{ (replaceRE "=\"#" "=\"/glossaire/#" (. | markdownify) 100) | markdownify }}</li>{{ end }}
          </ol>
          {{- end -}}
          {{- else -}}
          <p><em>{{ (replaceRE "=\"#" "=\"/glossaire/#" (. | markdownify) 100) | markdownify }}</em></p>
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- if eq ($.Scratch.Get "is-page-error") 0 -}}<p>Aucune erreur spécifique sur cette page.</p>{{- end -}}
{{- end -}}
{{- end -}}
{{- if gt (len $pages) 0 -}}
<br><hr class="divider">
{{/* Range map errors sort by RGAA order - on all pages */}}
<h3 id="pagesall">Tous les critères non conformes du site</h3>
<div class="flex flex-column">
{{- range $key, $value := (index $scores "criterenonconforme") -}}
  {{- $thematiques := index (split $key ".") 0 -}}
  {{- $criteres := index (split $key ".") 1 -}}
  <div style="order:{{ $thematiques }};">
  <p class="mb-0"><strong>Critère {{ $thematiques }}.{{ $criteres }}</strong></p>
  {{- $s := where (index $.Site.Data.criteres "topics") "number" "eq" (int (index (split $key ".") 0)) -}}
  {{- $content := (index (index $s 0).criteria (sub (int ($criteres)) 1)).criterium.title -}}
  <p><em>{{ (replaceRE "=\"#" "=\"/glossaire/#" ($content | markdownify) 100) | markdownify }}</em></p>
  </div>
{{- end -}}
</div>
{{- end -}}
{{- else -}}
  <p>Le fichier d’audit RGAA est vide pour le moment.</p>
{{- end -}}
</div>
{{- else -}}
  <p>Le fichier d’audit RGAA est manquant : `accessibility.csv`</p>
{{- end -}}
{{- end -}}
