/*
/// Form
*/

form {
  margin: auto;
  padding: var(--baseline) calc(var(--baseline) * 2);
  max-width: 40em;
  background: var(--color-primary-verylight);
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

fieldset > * {
  overflow: hidden;
  padding: 0.2em;
}

legend {
  margin-bottom: calc(var(--baseline) * 2 );
  line-height: 1;
  color: var(--color-grey-dark);
}

.form__required {
  display: block;
  float: right;
  padding: 0.3em;
  font-size: var(--smaller);
}

form label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  order: -1;
  width: 100%;
  height: var(--baseline);
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-grey-dark);
}


input[type=text],
input[type=url],
input[type=tel],
input[type=date],
input[type=email],
input[type=password],
input[type=number],
textarea {
  box-sizing: border-box;
  margin-bottom: calc(var(--baseline) / 2);
  padding: calc(var(--baseline) / 2);
  width: 100%;
  font-family: inherit;
  font-size: 1em;
  vertical-align: middle;
  border: 1px solid var(--color-grey-dark);
  outline: none;
  background-color: #fff;
}

input[type=text]:optional,
input[type=url]:optional,
input[type=tel]:optional,
input[type=date]:optional,
input[type=email]:optional,
input[type=password]:optional,
input[type=number]:optional {
  border-color: var(--color-grey-light);
}

input[type=text]:required,
input[type=url]:required,
input[type=tel]:required,
input[type=date]:required,
input[type=email]:required,
input[type=password]:required,
input[type=number]:required {
  border-color: var(--color-grey);
}

input[type=text]:focus,
input[type=url]:focus,
input[type=tel]:focus,
input[type=date]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=number]:focus {
  border-color: var(--color-primary);
}

input[type=text]:disabled,
input[type=url]:disabled,
input[type=tel]:disabled,
input[type=date]:disabled,
input[type=email]:disabled,
input[type=password]:disabled,
input[type=number]:disabled {
  cursor: not-allowed;
  background-color: var(--color-grey-light);
}

input[type=text]:not(:placeholder-shown),
input[type=url]:not(:placeholder-shown),
input[type=tel]:not(:placeholder-shown),
input[type=date]:not(:placeholder-shown),
input[type=email]:not(:placeholder-shown),
input[type=password]:not(:placeholder-shown),
input[type=number]:not(:placeholder-shown) {
  border-color: var(--color-grey-light);
  box-shadow: none;
}

input[type=text]:not(:placeholder-shown):valid,
input[type=url]:not(:placeholder-shown):valid,
input[type=tel]:not(:placeholder-shown):valid,
input[type=date]:not(:placeholder-shown):valid,
input[type=email]:not(:placeholder-shown):valid,
input[type=password]:not(:placeholder-shown):valid,
input[type=number]:not(:placeholder-shown):valid {
  border-color: hsl(var(--base-green), var(--base-sat), var(--base-light));
  box-shadow: none;
}

input[type=text]:not(:placeholder-shown):invalid,
input[type=url]:not(:placeholder-shown):invalid,
input[type=tel]:not(:placeholder-shown):invalid,
input[type=date]:not(:placeholder-shown):invalid,
input[type=email]:not(:placeholder-shown):invalid,
input[type=password]:not(:placeholder-shown):invalid,
input[type=number]:not(:placeholder-shown):invalid {
  border-color: hsl(var(--base-red), var(--base-sat), var(--base-light));
  box-shadow: none;
}

.hf-warning {
  overflow: hidden;
  margin: calc(var(--baseline) / -2) 0 calc(var(--baseline) / 2);
  font-size: 75%;
  color: hsl(var(--base-red), var(--base-sat), var(--base-light));
}
