/*
/// Title icon
*/

.icon:before {
  content: "";
  display: block;
  margin: 0 auto 1em;
  width: 100px;
  height: 100px;
  color: var(--color-primary-dark);
  border: 1px solid var(--color-primary-verylight);
  border-radius: 50%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
}

.control:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 24 24' fill='none' stroke='midnightblue' stroke-width='2' stroke-linecap='square' stroke-linejoin='round'%3E%3Cpath d='M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2'%3E%3C/path%3E%3Ccircle cx='8.5' cy='7' r='4'%3E%3C/circle%3E%3Cpolyline points='17 11 19 13 23 9'%3E%3C/polyline%3E%3C/svg%3E");
}

.externalize:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 24 24' fill='none' stroke='midnightblue' stroke-width='2' stroke-linecap='square' stroke-linejoin='round'%3E%3Cpath d='M16 17l5-5-5-5M19.8 12H9M13 22a10 10 0 1 1 0-20'/%3E%3C/svg%3E");
}

.facilitate:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 24 24' fill='none' stroke='midnightblue' stroke-width='2' stroke-linecap='square' stroke-linejoin='round'%3E%3Cpath d='M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3'%3E%3C/path%3E%3C/svg%3E");
}
