/*
/// Pagination
*/

.pagination--item {
  position: relative;
  display: block;
  padding: 1em 0;
  color: var(--text-color);
}

.pagination--item::before {
  position: absolute;
}

.pagination--prev {
  padding-left: 1em;
}

.pagination--prev .pagination--item::before {
  content: "< ";
  left: -1em;
}

.pagination--next {
  padding-right: 1em;
}

.pagination--next .pagination--item::before {
  content: ">";
  right: -1em;
}
