/*
/// Details & Summary
*/
/* https://codepen.io/MoritzGiessmann/pen/PobErJB */

.details,
details {
  overflow: hidden;
  width: 100%;
  border-bottom: 1px solid var(--background-color-grey-dark);
  background: var(--background-color-grey);
}

details:last-of-type {
  border-bottom: none;
}

.summary,
summary {
  position: relative;
  display: block;
  align-items: center;
  margin-bottom: 0;
  padding: 20px 30px;
  font-weight: 600;

  user-select: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  background: var(--background-color-grey);
}

.details-arrow summary:before {
  position: absolute;
  content: "";
  top: 1.6rem;
  left: 1rem;
  transition: 0.25s transform ease;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  border-width: 0.4rem;
  border-style: solid;
  border-color: transparent transparent transparent #000;
}

summary ~ * {
  padding-left: 30px;
}

summary ~ ul {
  padding-left: 60px;
}

.summary:last-of-type,
summary:last-of-type {
  border-bottom: none;
}

.details-arrow summary::marker,
.details-arrow summary::-webkit-details-marker {
  display: none;
}

summary:hover {
  cursor: pointer;
  background: var(--background-color-grey-dark,#f6f8fb);
}

details[open] summary {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
