/*
/// Timeline
*/

.timeline {
  padding-left: 30px;
  list-style: none;
  border-left: 8px solid var(--color-grey-light);
}

@media only screen and (min-width: 600px) {
  .timeline {
    margin: 50px 0 30px 120px;
    padding-left: 30px;
    list-style: none;
    border-left: 8px solid var(--color-grey-light);
  }
}

.timeline a {
  color: var(--background-color-body);
}

.timeline li {
  position: relative;
  margin: 40px 0;
}

.timeline p {
  margin: 5px 0 15px;
}

@media only screen and (min-width: 600px) {
  .timeline .date {
    position: absolute;
    top: 50%;
    left: -158px;
    margin-top: -10px;
    line-height: 20px;
    font-size: 0.95em;
  }
}

.timeline .circle {
  position: absolute;
  top: 50%;
  left: -44px;
  display: block;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  border: 5px solid var(--color-grey-verylight);
  border-radius: 50%;
  background: #48b379;
}

.timeline .content p {
  overflow: hidden;
  max-height: 200px;
  text-align: justify;
  word-break: break-word;
  color: var(--background-color-body);
}

.timeline label {
  font-size: 1.3em;
  font-weight: bold;
  cursor: auto;
}

.timeline .radio {
  display: none;
}

@media only screen and (min-width: 600px) {
  .timeline .content {
    max-height: 180px;
    transform: translateX(20px);
    border-width: 2px;
    border-style: solid;
    border-color: var(--color-grey-light,transparent);
    border-radius: 0.5em;
  }

  .timeline label {
    position: absolute;
    z-index: 100;
    top: 20px;
    transform: translateX(42px);
  }

  .timeline .content {
    position: relative;
    margin-right: 20px;
    padding: 50px 20px 0;
  }

  .timeline .content:before,
  .timeline .content:after {
    position: absolute;
    content: "";
    right: calc(100% + 1px);
    width: 0;
    height: 0;
    pointer-events: none;
    border: solid transparent;
  }

  .timeline .content:before {
    top: 50%;
    margin-top: -20px;
    border-width: 20px;
    border-right-color: inherit;
  }

  .timeline .content:after {
    top: 50%;
    margin-top: -17px;
    border-width: 17px;
  }
}
