{{- define "main" -}}
{{ partial "elements/content.html" .Content }}
<!--$paginator-->
{{- if .IsHome -}}
{{.Scratch.Set "Paginator" (.Paginate (where .Site.RegularPages "Page.Type" "in" site.Params.mainSections)) }}
{{- else -}}
{{.Scratch.Set "Paginator" (.Paginate .RegularPagesRecursive) }}
{{- end -}}
{{- $paginator:=(.Scratch.Get "Paginator") -}}
{{ partial "utils/css.html" (dict "context" . "filefolder" "overgo/object" "filename" "card") }}
<article class="wrapper narrow">
<h1>{{ .Title }}</h1>
{{- $.Scratch.Set "linksingle" .RelPermalink -}}
{{- $.Scratch.Set "hassection" .Sections -}}
{{- $sectionTitle := (.Site.GetPage .Section).Title -}}
{{- range $paginator.Pages -}}
  <div>
    <h2 class="h3"><a href="{{ .Permalink }}">{{ if .Title }}{{ .Title }}{{ else }}{{ $sectionTitle }} {{ replace (path.Base .Path) (path.Ext .Path) "" }}{{ end }}</a></h2>
    {{- if or .Date ($.Scratch.Get "hassection") -}}
    <p style="display:block;margin-top:-1.5em;">
      {{- if .Date -}}<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Day }} {{ index $.Site.Data.month (printf "%d" .Date.Month) }} {{ .Date.Year }}</time>{{ end }}
      {{- if $.Scratch.Get "hassection" -}}{{ if lt (len (split ($.Scratch.Get "linksingle") "/")) 4 }} pour <a href="{{ $.Site.BaseURL | default "/" }}{{ index (last 3 (split (delimit (split .RelPermalink "/") "," "") ",")) 0 }}/{{ index (last 2 (split (delimit (split .RelPermalink "/") "," "") ",")) 0 }}/">{{ index (last 2 (split (delimit (split .RelPermalink "/") "," "") ",")) 0 }}</a>{{- end -}}{{- end -}}
    </p>
    {{- end -}}
    {{- if .Params.summary -}}
    <p>{{ .Params.summary }}</p>
    {{- end -}}
  </div>
  <hr>
{{- end -}}
<!--pagination-->
<br>
{{- partial "navigations/paginator.html" . -}}
</article>
{{- end -}}
