{{- define "main" -}}
{{ partial "elements/content.html" .Content }}
<!--$paginator-->
{{- if .IsHome -}}
{{.Scratch.Set "Paginator" (.Paginate (where .Site.RegularPages "Page.Type" "in" site.Params.mainSections))}}
{{- else -}}
{{.Scratch.Set "Paginator" (.Paginate (where .Site.RegularPages "Page.Type" "in" site.Params.mainSections))}}
{{- end -}}
{{ $paginator:=(.Scratch.Get "Paginator") }}
{{ partial "utils/css.html" (dict "context" . "filefolder" "overgo/object" "filename" "card") }}
<div class="wrapper narrow">
<h1>{{ .Title }}</h1>
{{ range $paginator.Pages }}
  <div>
    <h2 {{ with .Params.slug }} class="icon {{ . }}"{{ end }}><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    <p style="display:block;margin-top:-1.5em;">{{- if .Date -}}<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Day }} {{ index $.Site.Data.month (printf "%d" .Date.Month) }} {{ .Date.Year }}</time>{{ end }} {{ if .Params.tags }}pour {{ range .Params.tags }}<a href="/tags/{{ . }}">{{ . }}</a> {{ end }}{{ end }}</p>
    <p>{{ .Params.summary }}</p>
  </div>
  <hr>
{{ end }}
<!--pagination-->
<br>
{{- partial "navigations/paginator.html" . -}}
</div>
{{- end -}}
