{{- define "main" -}}
{{- if .Content -}}
<div class="wrapper narrow">
  <p class="no-print hide">⬅ <a href="{{ $.Site.BaseURL | default "/" }}{{ .Parent.Permalink }}" class="link-more link-back">Retour à la liste des {{ .Parent.Title }}</a></p>
  <h1>{{ .Title }}</h1>
  {{ with .Params.persons }}
  <h2>Présents</h2>
  <ul>
  {{- range . -}}
    {{- range $id, $p := where $.Site.Data.directory "name" . -}}
      {{ if . }}<li><a href="{{ $.Site.BaseURL | default "/" }}directory#{{ .name | urlize }}">{{ .name }}{{ if . }}</a>{{ end }}{{ if .ministry }} - {{ .ministry }}{{ end }}{{ if not (eq .job "") }} - {{ .job }}{{ end }}</li>{{ end }}
    {{- end -}}
  {{- end -}}
  </ul>
  {{- end -}}
  {{ partialCached "elements/content.html" .Content .Content }}
  <hr class="divider">
  {{ partial "navigations/nav-prevnext.html" . }}
</div>
{{- end -}}
{{- end -}}
