
body {
  font-size: 1em;
  font-family: "Marianne", Arial;
}

h1 {
  font-size: 46px;
  line-height: 52px;
  font-weight: 800;
  color: black;
  font-family: "Marianne", Arial;
}

h2 {
  font-size: 38px;
  line-height: 44px;
  font-weight: 800;
  color: black;
  font-family: "Marianne", Arial;
}

h3 {
  font-size: 30px;
  font-weight: 800;
  line-height: 34px;
  color: #000000;
  font-family: "Marianne", Arial;
}

h4 {
  font-size: 26px;
  font-weight: 800;
  line-height: 28px;
  color: #000000;
  font-family: "Marianne", Arial;
}

h5 {
  font-size: 20px;
  font-weight: 800;
  line-height: 22px;
  color: #000000;
  font-family: "Marianne", Arial;
}


img {
  max-width: 100%;
}

.charte-img-mobile {
  display: none;
}

@media screen and (max-width: 959px) {
  .charte-img-mobile {
    display: inline-block;
  }

  .charte-img-mobile+.charte-img-desktop {
    display: none;
  }
}

.charte-homepage-header {
  background-color: #f9f8f6;
  padding-top: 70px;
  padding-bottom: 70px;
}

.charte-homepage-header h1,
.charte-homepage-header .charte-main-title {
  color: #000091;
  font-size: 52px;
  line-height: 56px;
  font-weight: 800;
  width: 60%;
}

@media screen and (max-width: 959px) {
  .charte-homepage-header h1,
  .charte-homepage-header .charte-main-title {
    width: 100%;
  }
}

.charte-homepage-header #charte-homepage-header-texte {
  margin-top: 30px;
}

.charte-homepage-header ul {
  margin-top: 45px;
}

@media screen and (max-width: 959px) {
  .charte-homepage-header ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.charte-homepage-header ul li {
  float: left;
  padding-bottom: 6px;
  margin-right: 30px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.charte-homepage-header ul li:last-child {
  margin-right: 0;
}

.charte-homepage-header ul li .mask-border {
  display: none;
}

.charte-homepage-header ul li.active,
.charte-homepage-header ul li:hover {
  position: relative;
}

.charte-homepage-header ul li.active .mask-border,
.charte-homepage-header ul li:hover .mask-border {
  display: block;
  width: 50%;
  border-top: 2px solid black;
  margin-top: 2px;
}

.charte-homepage-header ul li a {
  color: black;
  font-weight: 800;
  font-size: 14px;
}

.charte-homepage-header ul li a:hover,
.charte-homepage-header ul li a:focus,
.charte-homepage-header ul li a:active {
  text-decoration: none;
}

#charte-header-bottom-separator {
  box-shadow: 0 12px 17px 0 rgba(170, 170, 170, 0.23);
  background-color: #ffffff;
  height: 5px;
}

#content.page-charte-graphique-homepage a.link-read-more {
  font-size: 12px;
  line-height: 20px;
  color: #000091;
}

#content.page-charte-graphique-homepage .bloc-applat {
  background-color: #e6eaf5;
}

#content.page-charte-graphique-homepage .charte-homepage-marianne {
  padding: 70px 0 30px;
}

#content.page-charte-graphique-homepage .charte-homepage-marianne h2 {
  z-index: 1;
}

#content.page-charte-graphique-homepage .charte-homepage-marianne #charte-homepage-marianne-contenu {
  z-index: 1;
  position: relative;
}

#content.page-charte-graphique-homepage .charte-homepage-marianne #charte-homepage-marianne-contenu #charte-homepage-marianne-texte {
  width: 50%;
  margin-top: 50px;
}

@media screen and (max-width: 959px) {
  #content.page-charte-graphique-homepage .charte-homepage-marianne #charte-homepage-marianne-contenu #charte-homepage-marianne-texte {
    width: 100%;
  }
}

#content.page-charte-graphique-homepage .charte-homepage-marianne #charte-homepage-marianne-contenu #charte-homepage-marianne-lien {
  margin-top: 28px;
  width: 25%;
}

@media screen and (max-width: 959px) {
  #content.page-charte-graphique-homepage .charte-homepage-marianne #charte-homepage-marianne-contenu #charte-homepage-marianne-lien {
    width: 50%;
  }
}

#content.page-charte-graphique-homepage .charte-homepage-marianne #charte-homepage-marianne-image {
  text-align: right;
}

@media screen and (max-width: 959px) {
  #content.page-charte-graphique-homepage .charte-homepage-marianne #charte-homepage-marianne-image {
    position: initial;
    margin-top: 30px;
    text-align: center;
  }
}

#content.page-charte-graphique-homepage .charte-homepage-typo {
  text-align: right;
  position: relative;
}

@media screen and (max-width: 959px) {
  #content.page-charte-graphique-homepage .charte-homepage-typo {
    margin-top: 0;
  }
}

#content.page-charte-graphique-homepage .charte-homepage-typo #charte-homepage-typo-applat {
  height: 468px;
  position: absolute;
  background-color: #e6eaf5;
  width: calc(100% - (100% - 960px) / 2 + 2%);
  z-index: 0;
  top: 21px;
}

@media screen and (max-width: 959px) {
  #content.page-charte-graphique-homepage .charte-homepage-typo #charte-homepage-typo-applat {
    width: 95%;
    height: 368px;
  }
}

#content.page-charte-graphique-homepage .charte-homepage-typo #charte-homepage-typo-contenu-container {
  z-index: 1;
  position: relative;
}

@media screen and (max-width: 959px) {
  #content.page-charte-graphique-homepage .charte-homepage-typo #charte-homepage-typo-contenu-container {
    padding-right: 5%;
  }
}

#content.page-charte-graphique-homepage .charte-homepage-typo #charte-homepage-typo-contenu-container #charte-homepage-typo-texte {
  width: 40%;
  float: right;
  margin-top: 55px;
}

@media screen and (max-width: 959px) {
  #content.page-charte-graphique-homepage .charte-homepage-typo #charte-homepage-typo-contenu-container #charte-homepage-typo-texte {
    width: 100%;
  }
}

#content.page-charte-graphique-homepage .charte-homepage-typo #charte-homepage-typo-contenu-container #charte-homepage-typo-lien {
  clear: both;
  margin-top: 26px;
  float: right;
  width: 20%;
}

@media screen and (max-width: 959px) {
  #content.page-charte-graphique-homepage .charte-homepage-typo #charte-homepage-typo-contenu-container #charte-homepage-typo-lien {
    width: 60%;
  }
}

#content.page-charte-graphique-homepage .charte-homepage-typo #charte-homepage-typo-contenu-container #charte-homepage-typo-image {
  clear: both;
  text-align: left;
}

@media screen and (max-width: 959px) {
  #content.page-charte-graphique-homepage .charte-homepage-typo #charte-homepage-typo-contenu-container #charte-homepage-typo-image {
    padding-top: 30px;
    text-align: center;
  }
}

#content.page-charte-graphique-homepage .charte-homepage-typo #charte-homepage-typo-contenu-container #charte-homepage-typo-image img,
#content.page-charte-graphique-homepage .charte-homepage-typo #charte-homepage-typo-contenu-container #charte-homepage-typo-image canvas {
  box-shadow: 0 0 17px 0 rgba(181, 181, 181, 0.5);
}

#content.page-charte-graphique-homepage .charte-homepage-typo #charte-homepage-typo-contenu-container #charte-homepage-typo-diagramme {
  clear: both;
  margin-top: 40px;
  text-align: center;
}

#content.page-charte-graphique-homepage .charte-homepage-valeurs {
  position: relative;
}

#content.page-charte-graphique-homepage .charte-homepage-valeurs #charte-homepage-valeurs-applat {
  height: 468px;
  position: absolute;
  background-color: #e6eaf5;
  width: calc(100% - (100% - 960px) / 2 + 2%);
  margin-left: calc(100% - (100% - (100% - 960px) / 2 + 2%));
  z-index: 0;
  top: 24px;
}

@media screen and (max-width: 959px) {
  #content.page-charte-graphique-homepage .charte-homepage-valeurs #charte-homepage-valeurs-applat {
    width: 95%;
    height: 368px;
    margin-left: 5%;
  }
}

#content.page-charte-graphique-homepage .charte-homepage-valeurs #charte-homepage-valeurs-contenu-container {
  z-index: 1;
  position: relative;
}

@media screen and (max-width: 959px) {
  #content.page-charte-graphique-homepage .charte-homepage-valeurs #charte-homepage-valeurs-contenu-container {
    padding-left: 5%;
  }
}

#content.page-charte-graphique-homepage .charte-homepage-valeurs #charte-homepage-valeurs-contenu-container #charte-homepage-valeurs-texte {
  width: 40%;
  margin-top: 55px;
}

@media screen and (max-width: 959px) {
  #content.page-charte-graphique-homepage .charte-homepage-valeurs #charte-homepage-valeurs-contenu-container #charte-homepage-valeurs-texte {
    width: 100%;
  }
}

#content.page-charte-graphique-homepage .charte-homepage-valeurs #charte-homepage-valeurs-contenu-container #charte-homepage-valeurs-lien {
  margin-top: 26px;
  width: 20%;
}

@media screen and (max-width: 959px) {
  #content.page-charte-graphique-homepage .charte-homepage-valeurs #charte-homepage-valeurs-contenu-container #charte-homepage-valeurs-lien {
    width: 60%;
  }
}

#content.page-charte-graphique-homepage .charte-homepage-valeurs #charte-homepage-valeurs-contenu-container #charte-homepage-valeurs-image {
  clear: both;
  text-align: right;
}

@media screen and (max-width: 959px) {
  #content.page-charte-graphique-homepage .charte-homepage-valeurs #charte-homepage-valeurs-contenu-container #charte-homepage-valeurs-image {
    text-align: center;
    padding-top: 30px;
  }
}

#content.page-charte-graphique-homepage .charte-homepage-valeurs #charte-homepage-valeurs-contenu-container #charte-homepage-valeurs-image img,
#content.page-charte-graphique-homepage .charte-homepage-valeurs #charte-homepage-valeurs-contenu-container #charte-homepage-valeurs-image canvas {
  box-shadow: 0 0 17px 0 rgba(181, 181, 181, 0.5);
}

#content.page-charte-graphique-homepage .charte-homepage-valeurs #charte-homepage-valeurs-contenu-container #charte-homepage-valeurs-image .jsgif_toolbar img {
  box-shadow: none;
}

#content.page-charte-graphique-homepage .charte-homepage-marque {
  padding: 70px 0;
  text-align: right;
}

#content.page-charte-graphique-homepage .charte-homepage-marque #charte-homepage-marque-contenu {
  z-index: 1;
}

#content.page-charte-graphique-homepage .charte-homepage-marque #charte-homepage-marque-contenu #charte-homepage-marque-texte {
  width: 50%;
  margin-top: 50px;
  float: right;
}

@media screen and (max-width: 959px) {
  #content.page-charte-graphique-homepage .charte-homepage-marque #charte-homepage-marque-contenu #charte-homepage-marque-texte {
    width: 100%;
  }
}

#content.page-charte-graphique-homepage .charte-homepage-marque #charte-homepage-marque-contenu #charte-homepage-marque-lien {
  margin-top: 28px;
  width: 25%;
  float: right;
  clear: right;
}

@media screen and (max-width: 959px) {
  #content.page-charte-graphique-homepage .charte-homepage-marque #charte-homepage-marque-contenu #charte-homepage-marque-lien {
    width: 60%;
  }
}

#content.page-charte-graphique-homepage .charte-homepage-marque #charte-homepage-marque-slider {
  clear: both;
  position: relative;
  z-index: 0;
  width: 60%;
  top: -30px;
}

@media screen and (max-width: 959px) {
  #content.page-charte-graphique-homepage .charte-homepage-marque #charte-homepage-marque-slider {
    width: 100%;
    top: 0;
    padding-top: 30px;
  }
}

#content.page-charte-graphique-homepage .charte-homepage-marque #charte-homepage-marque-slider .slick-track {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

#content.page-charte-graphique-homepage .charte-homepage-marque #charte-homepage-marque-slider .slick-list {
  margin-bottom: 20px;
}

#content.page-charte-graphique-homepage .charte-homepage-marque #charte-homepage-marque-slider .slick-list .slick-slide {
  text-align: left;
}

#content.page-charte-graphique-homepage .charte-homepage-marque #charte-homepage-marque-slider .slick-list .slick-slide img {
  max-height: 100%;
  display: inline;
}

#content.page-charte-graphique-homepage .charte-homepage-marque #charte-homepage-marque-slider .slick-prev,
#content.page-charte-graphique-homepage .charte-homepage-marque #charte-homepage-marque-slider .slick-next {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  float: left;
}

#content.page-charte-graphique-homepage .charte-homepage-marque #charte-homepage-marque-slider .slick-prev::before,
#content.page-charte-graphique-homepage .charte-homepage-marque #charte-homepage-marque-slider .slick-next::before {
  font-family: "Open Sans", Arial, Sans-Serif;
  color: #000091;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
}

#content.page-charte-graphique-homepage .charte-homepage-marque #charte-homepage-marque-slider .slick-prev::before {
  content: "‹";
}

#content.page-charte-graphique-homepage .charte-homepage-marque #charte-homepage-marque-slider .slick-next::before {
  content: "›";
}

#content.page-charte-graphique-homepage .charte-homepage-marque #charte-homepage-marque-slider .slick-dots {
  position: relative;
  bottom: -7px;
  width: 12%;
  float: left;
}

@media screen and (max-width: 959px) {
  #content.page-charte-graphique-homepage .charte-homepage-marque #charte-homepage-marque-slider .slick-dots {
    float: right;
    width: 30%;
  }
}

#content.page-charte-graphique-homepage .charte-homepage-marque #charte-homepage-marque-slider .slick-dots li {
  height: auto;
  width: auto;
  margin: 0;
}

#content.page-charte-graphique-homepage .charte-homepage-marque #charte-homepage-marque-slider .slick-dots li.slick-active a {
  background-color: #6a6563;
}

#content.page-charte-graphique-homepage .charte-homepage-marque #charte-homepage-marque-slider .slick-dots li a {
  display: block;
  margin: 0px 1px;
  background: #d8d8d8;
  border-radius: 50px;
  height: 14px;
  width: 14px;
}

#content.page-charte-graphique-homepage .charte-homepage-sources {
  background-color: #f9f8f6;
  padding: 80px 0;
}

#content.page-charte-graphique-homepage .charte-homepage-sources .limiter {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 959px) {
  #content.page-charte-graphique-homepage .charte-homepage-sources .limiter {
    display: block;
  }
}

#content.page-charte-graphique-homepage .charte-homepage-sources #charte-homepage-sources-contenu {
  width: 100%;
}

#content.page-charte-graphique-homepage .charte-homepage-sources h1 {
  color: #000091;
  font-size: 52px;
  line-height: 56px;
  font-weight: 800;
  width: 95%;
}

@media screen and (max-width: 959px) {
  #content.page-charte-graphique-homepage .charte-homepage-sources h1 {
    width: 100%;
  }
}

#content.page-charte-graphique-homepage .charte-homepage-sources #charte-homepage-sources-texte {
  margin-top: 35px;
  width: 90%;
}

@media screen and (max-width: 959px) {
  #content.page-charte-graphique-homepage .charte-homepage-sources #charte-homepage-sources-texte {
    width: 100%;
  }
}

#content.page-charte-graphique-homepage .charte-homepage-sources #charte-homepage-sources-lien {
  -webkit-flex-basis: 65%;
  -ms-flex-preferred-size: 65%;
  flex-basis: 65%;
}

@media screen and (max-width: 959px) {
  #content.page-charte-graphique-homepage .charte-homepage-sources #charte-homepage-sources-lien {
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
}

#content.page-charte-graphique-homepage .charte-homepage-sources h1 {
  opacity: 0;
  -webkit-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  transition: opacity 1s ease-out, -webkit-transform 2s ease-out;
  transition: transform 2s ease-out, opacity 1s ease-out;
  transition: transform 2s ease-out, opacity 1s ease-out, -webkit-transform 2s ease-out;
  will-change: transform, opacity;
}

#content.page-charte-graphique-homepage .charte-homepage-sources h1.is-visible {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

#content.page-charte-graphique-homepage .charte-homepage-marianne h2,
#content.page-charte-graphique-homepage #charte-homepage-marianne-texte,
#content.page-charte-graphique-homepage #charte-homepage-marianne-lien,
#content.page-charte-graphique-homepage .charte-homepage-typo h2,
#content.page-charte-graphique-homepage #charte-homepage-typo-texte,
#content.page-charte-graphique-homepage #charte-homepage-typo-lien,
#content.page-charte-graphique-homepage .charte-homepage-valeurs h2,
#content.page-charte-graphique-homepage #charte-homepage-valeurs-texte,
#content.page-charte-graphique-homepage #charte-homepage-valeurs-lien,
#content.page-charte-graphique-homepage .charte-homepage-marque h2,
#content.page-charte-graphique-homepage #charte-homepage-marque-texte,
#content.page-charte-graphique-homepage #charte-homepage-marque-lien,
#content.page-charte-graphique-homepage .charte-homepage-valeurs h2,
#content.page-charte-graphique-homepage #charte-homepage-valeurs-texte,
#content.page-charte-graphique-homepage #charte-homepage-valeurs-lien,
#content.page-charte-graphique-homepage #charte-homepage-sources-texte {
  opacity: 0;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  transition: opacity 1s ease-out, -webkit-transform 2s ease-out;
  transition: transform 2s ease-out, opacity 1s ease-out;
  transition: transform 2s ease-out, opacity 1s ease-out, -webkit-transform 2s ease-out;
  will-change: transform, opacity;
}

#content.page-charte-graphique-homepage .charte-homepage-marianne h2.is-visible,
#content.page-charte-graphique-homepage #charte-homepage-marianne-texte.is-visible,
#content.page-charte-graphique-homepage #charte-homepage-marianne-lien.is-visible,
#content.page-charte-graphique-homepage .charte-homepage-typo h2.is-visible,
#content.page-charte-graphique-homepage #charte-homepage-typo-texte.is-visible,
#content.page-charte-graphique-homepage #charte-homepage-typo-lien.is-visible,
#content.page-charte-graphique-homepage .charte-homepage-valeurs h2.is-visible,
#content.page-charte-graphique-homepage #charte-homepage-valeurs-texte.is-visible,
#content.page-charte-graphique-homepage #charte-homepage-valeurs-lien.is-visible,
#content.page-charte-graphique-homepage .charte-homepage-marque h2.is-visible,
#content.page-charte-graphique-homepage #charte-homepage-marque-texte.is-visible,
#content.page-charte-graphique-homepage #charte-homepage-marque-lien.is-visible,
#content.page-charte-graphique-homepage .charte-homepage-valeurs h2.is-visible,
#content.page-charte-graphique-homepage #charte-homepage-valeurs-texte.is-visible,
#content.page-charte-graphique-homepage #charte-homepage-valeurs-lien.is-visible,
#content.page-charte-graphique-homepage #charte-homepage-sources-texte.is-visible {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

#content.page-charte-graphique-homepage #charte-homepage-valeurs-applat {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
  transition: transform 1s ease-out, -webkit-transform 1s ease-out;
  will-change: transform;
}

#content.page-charte-graphique-homepage #charte-homepage-valeurs-applat.is-visible {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

#content.page-charte-graphique-homepage #charte-homepage-typo-applat {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
  transition: transform 1s ease-out, -webkit-transform 1s ease-out;
  will-change: transform;
}

#content.page-charte-graphique-homepage #charte-homepage-typo-applat.is-visible {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
