.debug {
  position: relative;
  font-size: 14px;
  color: #fff;
}

.debug.expanded .debug-badge {
  position: absolute;
  top: -40px;
}

.debug.expanded .debug-content {
  display: block;
}

.debug-badge {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  display: inline-flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 39px;
  color: white;
  border: none;
  background: #0a1922;
}

.debug-badge .debug-template-name {
  flex: 0;
  padding: 20px 20px;
  line-height: 1;
  font-weight: normal;
}

.debug-badge .debug-toggle {
  display: flex;
  align-items: center;
  flex: 0;
  padding: 2px 0.5em;
  font-size: 1.7em;
  cursor: pointer;
  background-color: #ff3f88;
}

.debug-badge .debug-toggle:hover {
  background-color: #ff2c7d;
}

.debug-content {
  z-index: 1000;
  bottom: 0;
  display: none;
  margin: 0 auto;
  padding: 60px;
  width: 100%;
  color: white;
  background: #0a1922;
}

.debug-content .debug-expander {
  display: none;
}

.debugprint_wrap {
  display: inline-block;
}

table.debugprint {
  line-height: 1.1;
  font-family: "Source Code Pro", monospace;
  font-size: 15px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid;
  -webkit-font-smoothing: antialiased;
}

table.debugprint tbody tr {
  height: auto;
}

footer + div .debugprint th,
.debugprint td {
  padding: 0 1em;
  border: 1px solid;
}

footer + div .debugprint td {
  text-align: left;
  vertical-align: center;
}

footer + div .debugprint th {
  font-weight: 700;
  text-align: left;
  background-color: #000;
}

footer + div .debugprint th.type {
  display: none;
}

footer + div  .debugprint td.key {
  color: #ffffff;
}

.debugprint td.type {
  display: none;
  font-family: "Source Code Pro", monospace;
  color: #ced0d3;
}

footer + div .debugprint td.value {
  font-family: "Source Code Pro", monospace;
  color: #ced0d3;
}

/* List
/* Style the list */

.debuglist {
  padding: 2em;
  color: #fff;
  background: #0a1922;
}

.debuglist div {
  margin: auto;
  max-width: 70em;
}

.debuglist ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  grid-gap: 1em;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  text-align: center;
  background: #0a1922;
}

.debuglist ul li {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  padding: 0.5em;
  font-weight: bold;
  color: #0a1922;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: var(--enable-shadows, 2px 2px 6px 0 rgba(255,255,255,0.2)),;
}

.debuglist li a {
  color: #333;
}

.debuglist li span {
  display: flex;
  margin: 0 0 0.2em;
}

.debuglist li strong {
  margin-right: 0.3em;
  padding: 0.1em 0.3em;
  min-width: 4em;
  color: #fff;
  border-radius: 4px;
  background: #333;
}

/* Rel noopener */
/* https://twitter.com/argyleink/status/1276517319825518593 */
a[target="_blank"]:not([rel*="noopener"]):not([rel*="noreferrer"])::after {
  content: "‼️";
}

/* Empty buttons or links without any kind of labelling */
/* https://codepen.io/GeoffreyCrofte/pen/PoZQKNj?editors=1100 */
:is(button, a):empty:not([aria-label]):not([aria-labelledby]),
:is(button, a):not([aria-label]):not([aria-labelledby]) img:only-child:is(:not([alt]),[alt=""]),
:is(button, a):not([aria-label]):not([aria-labelledby]) i:only-child:not([aria-label]):not([aria-labelledby]) {
  padding: 8px;
  outline: 2px dashed darksalmon;
}

/* Tabs
/* Style the tab */
.tabs {
  width: 100%;
}

.tab {
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: inline-block;
  padding: 14px 20px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
  border: none;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  outline: none;
  background: #586168;
  background-color: inherit;
}

.tab button:focus {
  outline: none;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #33414b;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #2c353b;
}

/* Style the tab content */
.tabcontent {
  display: none;
  overflow: auto;
  padding: 20px 20px;
  width: 100%;
  border-top: none;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  background: #2c353b;
}
