@media (prefers-reduced-data: no-preference) {
  /* Marianne-Light - latin */
  @font-face {
    font-family: 'Marianne';
    font-style: normal;
    font-weight: 300;
    src: local('Marianne Light'), local('Marianne-Light'),
        url('/assets/fonts/Marianne-Light.woff2') format('woff2');
    font-display: optional;
  }
  /* Marianne-regular - latin */
  @font-face {
    font-family: 'Marianne';
    font-style: normal;
    font-weight: 400;
    src: local('Marianne Regular'), local('Marianne-Regular'),
        url('/assets/fonts/Marianne-Regular.woff2') format('woff2');
    font-display: optional;
  }
  /* Marianne-Bold - latin */
  @font-face {
    font-family: 'Marianne';
    font-style: normal;
    font-weight: 600;
    src: local('Marianne SemiBold'), local('Marianne-SemiBold'),
        url('/assets/fonts/Marianne-Bold.woff2') format('woff2');
    font-display: optional;
  }
}
