{{- partialCached "utils/css.html" (dict "context" . "filefolder" "object" "filename" "nav-tabs") "nav-tabs" -}}
<section>
  <h2 class="text-center">{{ .Params.steps.title }}</h2>
  <div class="js-tabs" data-existing-hx="h2" data-tabs-prefix-class="nav">
    <ul class="list-unstyled" role="list">
      {{- range $i, $p := .Params.steps.elements -}}
      <li>
        <a href="#id_{{ $i }}" class="js-tablist__link"><span>{{ add $i 1 }}</span> <strong>{{ .title }}</strong></a>
      </li>
      {{- end -}}
    </ul>
    {{- range $i, $p := .Params.steps.elements -}}
    <div id="id_{{ $i }}" class="js-tabcontent card-border grid align-items-center">
      <div>
        <p>{{ .text }}</p>
      </div>
      {{ if .image }}
      <div>
      {{ partial "elements/images.html" (dict "image" .image) }}
      </div>
      {{ end }}
    </div>
    {{- end -}}
  </div>
  </div>
</section>
