{{- define "main" -}}
<div class="wrapper narrow">
<h1>{{ .Title }}</h1>
{{- partial "elements/content.html" .Content -}}
{{- range $key, $value := (index $.Site.Data "rgaa4.0").glossary -}}
  {{- range $value -}}
  <h2>{{ .section }}</h2>
  <dl>
    {{- range .dl -}}
      <dt id="{{ .dt | urlize }}">{{ .dt }}</dt>
      <dd>
        {{- range .dd -}}
          {{- if reflect.IsMap . -}}
              {{- range . -}}
              <ul>
              {{- range . -}}
              {{- if reflect.IsMap . -}}
                <li>
                  {{- range . -}}
                  <ul>
                    {{- range . -}}
                      <li>
                      {{ . | markdownify }}
                      </li>
                    {{- end -}}
                  </ul>
                  {{- end -}}
                </li>
              {{- else -}}
                <li>{{ . | markdownify }}</li>
              {{- end -}}
              {{- end -}}
              </ul>
              {{- end -}}
          {{- else -}}
            <p>{{ . | markdownify }}</p>
          {{- end -}}
        {{- end -}}
      </dd>
    {{- end -}}
  </dl>
  {{- end -}}
{{- end -}}
</div>
{{- end -}}
