{{- define "main" -}}
{{- $patharray :=  split .Path "/" -}}
{{- $.Scratch.Set "guidelinename" "rgaa" -}}
{{- $.Scratch.Set "guidelineversion" "4.1" -}}
{{- if ge ($patharray) 2 -}}
  {{ $.Scratch.Set "guideline" (index $patharray 0) }}
  {{- $.Scratch.Set "guidelinename" (index $patharray 0) -}}
  {{- $.Scratch.Set "guidelineversion" (index $patharray 1) -}}
{{- end -}}
<div class="wrapper narrow">
<h1>{{ .Title }}</h1>
{{- partial "elements/content.html" .Content -}}
{{- range $key, $value := (index (index $.Site.Data ($.Scratch.Get "guidelinename")) ($.Scratch.Get "guidelineversion")).glossary -}}
  {{- range $value -}}
  <h2>{{ .section }}</h2>
  <dl>
    {{- range .dl -}}
      <dt id="{{ .dt | replaceRE "'" "-" | replaceRE "[èéêë]" "e" | replaceRE "[àáâãäå]" "a" | replaceRE "[ìíîï]" "i" | replaceRE "[òóôõö]" "o" | replaceRE "[ùúûü]" "u" | replaceRE "[æ]" "ae" | replaceRE "[/œ]" "oe" | anchorize }}">{{ .dt }}</dt>
      <dd>
        {{- range .dd -}}
          {{- if reflect.IsMap . -}}
              {{- range . -}}
              <ul>
              {{- range . -}}
              {{- if reflect.IsMap . -}}
                <li>
                  {{- range . -}}
                  <ul>
                    {{- range . -}}
                      <li>
                      {{ . | markdownify }}
                      </li>
                    {{- end -}}
                  </ul>
                  {{- end -}}
                </li>
              {{- else -}}
                <li>{{ . | markdownify }}</li>
              {{- end -}}
              {{- end -}}
              </ul>
              {{- end -}}
          {{- else -}}
            <p>{{ . | markdownify }}</p>
          {{- end -}}
        {{- end -}}
      </dd>
    {{- end -}}
  </dl>
  {{- end -}}
{{- end -}}
</div>
{{- end -}}
