{{ partial "head" . }}
<body class="wrapper">
  <main>
    <h1>{{ .Title }}</h1>
    {{ $project := "amendes"}}
    {{ $accessibilityfile := (index $.Site.Data $project).accessibility }}
    <h2 class="text-center">Scores</h2>
    <h3 class="m-0">Performance</h3>
    {{- partial "components/scores/performance" (dict "context" . "project" $project) -}}
    {{- if $accessibilityfile -}}
    <h3 class="m-0">Accessibilité</h3>
    {{- partial "components/scores/accessibility" (dict "context" . "auditfile" $accessibilityfile) -}}
    {{- end -}}
    {{ partial "elements/content.html" .Content }}
    {{ $tag := slice "print" }}
    {{ range where .Site.RegularPages ".Params.tags" "intersect" $tag }}
      <h2 id="{{ substr .RelPermalink 1 -1 }}" class="page-break">{{ .Title }}</h2>
      {{ .Content }}
    {{ end }}
  </main>
</body>
</html>
