{{- define "main" -}}
{{- $patharray := split (path.Dir .Path) "/" -}}

{{- $.Scratch.Set "guidelinename" "rgaa" -}}
{{- $.Scratch.Set "guidelineversion" "4.1" -}}
{{- if ge ($patharray) 2 -}}
  {{- $.Scratch.Set "guideline" (index $patharray 0) -}}
  {{- $.Scratch.Set "guidelinename" (index $patharray 0) -}}
  {{- $.Scratch.Set "guidelineversion" (index $patharray 1) -}}
{{- end -}}

{{- $glossaire := printf "=\"/%s/%s/glossaire/#" ($.Scratch.Get "guidelinename") ($.Scratch.Get "guidelineversion") -}}
{{- $criteriafile := (index (index $.Site.Data ($.Scratch.Get "guidelinename")) ($.Scratch.Get "guidelineversion")).criteria.topics -}}

<article class="wrapper narrow">
<h1>Critères {{ replace ($.Scratch.Get "guidelinename" | upper) "RGAA" "RGAA "}}</h1>
  {{ partialCached "utils/css.html" (dict "context" . "filefolder" "element" "filename" "tableofcontents") "tableofcontents" }}
  <div class="tableofcontents">
    <h2>Thématiques</h2>
    <ol>
    {{/* Range all topics for anchors menu */}}
    {{- range $key1, $value1 := $criteriafile -}}
      <li><a href="#{{ .topic | urlize }}">{{ .topic }}</a></li>
    {{- end -}}
    </ol>
  </div>
  {{- $auditquick := index .Site.Data.rgaa.tests "25" -}}
  {{- $auditcomplementary := index .Site.Data.rgaa.tests "50" -}}
  {{- $auditnecessary := index .Site.Data.rgaa.tests "81" -}}
  {{ partialCached "utils/css.html" (dict "context" . "filefolder" "object" "filename" "buttons") "buttons" }}
  <ul class="list-unstyled list-inline">
    <li><button id="auditall" class="btn btn-small mb-0">Tous les critères</button></li>&nbsp;
    <li><button id="auditquick" class="btn btn-small mb-0">25 critères</button></li>&nbsp;
    <li><button id="auditcomplementary" class="btn btn-small mb-0">50 critères</button></li>&nbsp;
    <li><button id="auditnecessary" class="btn btn-small mb-0">81 critères</button></li>
  </ul>
{{/* Range all topics */}}
{{- range $key1, $value1 := $criteriafile -}}
  <h2 id="{{ .topic | urlize }}" >{{ add $key1 1 }} - {{ .topic }}</h2>
  {{/* Range level 1 */}}
  {{- range $key2, $value2 := .criteria -}}
    {{- $key     := printf "%s.%s" (string (add $key1 1)) (string (add $key2 1)) -}}
    {{- $keyslug := printf "%s-%s" (string (add $key1 1)) (string (add $key2 1)) -}}
    <div id="{{ add $key1 1 }}-{{ add $key2 1 }}" class="topic{{ if ge (len (intersect $auditquick (slice $key))) 1 }} auditquick{{ end }}{{ if ge (len (intersect $auditcomplementary (slice $key))) 1 }} auditcomplementary{{ end }}{{ if ge (len (intersect $auditnecessary (slice $key))) 1 }} auditnecessary{{ end }}">
    {{ $title := (replaceRE "=\"#" $glossaire (.criterium.title | markdownify) 100) | safeHTML }}
    <h3 id="{{ $keyslug | urlize | safeURL }}">{{ printf "<a class=\"anchor\" href=\"#%s\" title='%s\"%s\"'><svg aria-hidden=\"true\" height=\"16\" version=\"1.1\" viewBox=\"0 0 16 16\" width=\"16\"><path fill-rule=\"evenodd\" d=\"M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z\"></path></svg></a>" ($keyslug | urlize | safeURL) (T "anchor_for") ($keyslug | plainify | safeHTML) | safeHTML }}Critère {{ add $key1 1 }}.{{ add $key2 1 }} - {{ $title }}</h3>

      {{- if or .criterium.technicalNote .criterium.particularCases -}}
      <div class="note">
      {{- if or .criterium.technicalNote -}}<h4 class="m-0">Note technique</h4>
      {{- range $key5, $value5 := .criterium.technicalNote -}}
        {{ if reflect.IsMap . }}
          <ul>
            {{ range .ul }}<li>{{ (replaceRE "=\"#" $glossaire (. | markdownify) 100) | safeHTML }}</li>{{ end }}
          </ul>
        {{ else }}
        <p>{{ (replaceRE "=\"#" $glossaire (. | markdownify) 100) | safeHTML  }}</p>
        {{ end }}
      {{- end -}}
      {{- end -}}
      {{- if .criterium.particularCases -}}<h4 class="m-0">Cas particuliers</h4>
      {{- range $key5, $value5 := .criterium.particularCases -}}
        {{ if reflect.IsMap . }}
          <ul>
            {{ range .ul }}<li>{{ (replaceRE "=\"#" $glossaire (. | markdownify) 100) | safeHTML }}</li>{{ end }}
          </ul>
        {{ else }}
        <p>{{ (replaceRE "=\"#" $glossaire (. | markdownify) 100) | safeHTML  }}</p>
        {{ end }}
      {{- end -}}
      {{- end -}}
      </div>
      {{- end -}}
    {{/* Range level 2 */}}
    {{- range $key3, $value3 := .criterium.tests -}}
        <p id="{{ add $key1 1 }}-{{ add $key2 1 }}-{{ $key3 }}" {{ if reflect.IsSlice $value3 }}class="mb-0"{{ end }}><strong>Test {{ add $key1 1 }}.{{ add $key2 1 }}.{{ $key3 }}</strong> -
        {{/* Test if value is an array */}}
        {{- if reflect.IsSlice $value3 -}}
        {{ (replaceRE "=\"#" $glossaire ((index $value3 0) | markdownify) 100) | safeHTML }}</p>
        <ol>
        {{/* Range array and prepend "glossaire" before all links */}}
        {{ range $key4, $value4 := after 1 $value3 }}<li>{{ (replaceRE "=\"#" $glossaire (. | markdownify) 100) | safeHTML }}</li>{{- end -}}
        </ol>
        {{- else -}}
        {{/* Prepend "glossaire" before all links */}}
        {{ (replaceRE "=\"#" $glossaire ($value3 | markdownify) 100) | safeHTML }}</p>
        {{- end -}}
    {{- end -}}
    <hr>
    </div>
  {{- end -}}
{{- end -}}
</div>
<script>
  document.querySelector("#auditall").addEventListener("click", function(){
    document.querySelectorAll(".topic").forEach(function(elm){
      elm.classList.remove("hide");
    })
  });
  document.querySelector("#auditquick").addEventListener("click", function(){
    document.querySelectorAll(".topic").forEach(function(elm){
      elm.classList.remove("hide");
      if (!elm.classList.contains("auditquick")) {
        elm.classList.add("hide");
      }
    })
  });
  document.querySelector("#auditcomplementary").addEventListener("click", function(){
    document.querySelectorAll(".topic").forEach(function(elm){
      elm.classList.remove("hide");
      if (!elm.classList.contains("auditcomplementary")) {
        elm.classList.add("hide");
      }
    })
  });
  document.querySelector("#auditnecessary").addEventListener("click", function(){
    document.querySelectorAll(".topic").forEach(function(elm){
      elm.classList.remove("hide");
      if (!elm.classList.contains("auditnecessary")) {
        elm.classList.add("hide");
      }
    })
  });
</script>
{{- end -}}
