<div class="debuglist">
  <div>
    <h2>Page lists loop</h2>
    <h3>All Pages in this section</h3>
    {{ partial "debug/debuglist-element.html" (dict "context" . "range" .Pages) }}
    <h3>All RegularPages in this section</h3>
    {{ partial "debug/debuglist-element.html" (dict "context" . "range" .RegularPages) }}
    <h3>All RegularPagesRecursive in this section</h3>
    {{ partial "debug/debuglist-element.html" (dict "context" . "range" .RegularPagesRecursive) }}
    <h3>All Site Sections</h3>
    {{ partial "debug/debuglist-element.html" (dict "context" . "range" .Site.Sections) }}
    <h3>All Site Pages</h3>
    {{ partial "debug/debuglist-element.html" (dict "context" . "range" .Site.Pages) }}
    <h3>All Site RegularPages</h3>
    {{ partial "debug/debuglist-element.html" (dict "context" . "range" .Site.RegularPages) }}
  </div>
</div>
