{{ .context.Scratch.Set "kind" "" }}
{{ if .range }}
{{- range $i, $p := sort .range ".Kind" "asc" -}}
{{ if eq .Kind ($.context.Scratch.Get "kind") }}
{{ else }}
{{ if not (eq $i 0) }}</ul>{{ end }}
{{ $.context.Scratch.Set "kind" .Kind }}
<h4>Section : {{ $.context.Scratch.Get "kind" }}</h4>
<ul>
{{ end }}
<li>
  <span><strong>Nom</strong><a href="{{ .Permalink }}">{{ with .Title }}{{ . }}{{ else }}Titre manquant{{ end }}</a></span>
  <span><strong>Url</strong> {{ .RelPermalink }}</span>
  <span><strong>Type</strong> {{ .Type }}</span>
  <span><strong>Genre</strong> {{ .Kind }}</span>
</li>
{{ $.context.Scratch.Set "kind" .Kind }}
{{- end -}}
</ul>
<br><hr>
{{- else -}}
<p>Any page listed for this page call</p>
{{- end -}}
