{{- define "title" -}}
  {{- $context      := . -}}
  {{- $project      := partialCached "render/projectpath" . . -}}
  {{- $projectPath  := cond (fileExists (printf "audits/%s/index.md" ($project))) (printf "audits/%s/index.md" ($project)) (printf "audits/%s/_index.md" ($project)) -}}
  {{- $projectTitle := (.GetPage $projectPath).Title -}}

  {{- $alternate  := where (where .OutputFormats "Permalink" "eq" .Permalink) "Rel" "eq" "alternate" -}}
  {{- if ne (len $alternate) 0 -}}
    {{- with $alternate -}}
      {{- range $key, $value := . -}}
        {{- if eq .Format.BaseName "accessibility" -}}
          Audit Accessibilité
        {{- else if eq .Format.BaseName "quality" -}}
          Recommandations
        {{- else if or (eq .Format.BaseName "recommendation") -}}
          Recommandations
        {{- else if eq .Format.BaseName "performance" -}}
          Audit Performance
        {{- else if eq .Format.BaseName "declaration" -}}
          Déclaration
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- else -}}
        Synthèse
  {{- end -}}
  {{ with $projectTitle }} pour {{ $projectTitle }}{{ else }}{{ (index (split (path.Dir .Path) "/") 1) }}{{ end }}
{{- end -}}

{{- define "main" -}}
{{- $patharray  := split (path.Dir .Path) "/" -}}
{{- $context    := . -}}
{{- $project    := cond (eq (len (split (path.Dir $context.Path) "/")) 1) "audits" (replace (path.Dir $context.Path) "audits/" "") -}}
{{- if or (and (gt (len $patharray) 1) ($project)) (eq (len (split (.RelPermalink) "/")) 2) (eq (len $patharray) 1) -}}
  {{- $alternate := where (where .OutputFormats "Permalink" "eq" .Permalink) "Rel" "eq" "alternate" -}}
    {{ if ne (len $alternate) 0 }}
      {{- with $alternate -}}{{- range $key, $value := . -}}
        {{- if eq .Format.BaseName "accessibility" -}}
          {{- $partial := (partialCached "templates/accessibility.html" (dict "context" $context) $context) -}}
          {{- partialCached "elements/content.html" $partial $partial -}}
        {{- else if or (eq .Format.BaseName "quality") -}}
          {{- $partial := (partialCached "templates/recommendation.html" (dict "context" $context) $context) -}}
          {{- partialCached "elements/content.html" $partial $partial -}}
        {{- else if or (eq .Format.BaseName "recommendation") -}}
          {{- $partial := (partialCached "templates/recommendation.html" (dict "context" $context) $context) -}}
          {{- partialCached "elements/content.html" $partial $partial -}}
        {{- else if eq .Format.BaseName "performance" -}}
          {{- $partial := (partialCached "templates/performance.html" (dict "context" $context "project" $project) $project) -}}
          {{- partialCached "elements/content.html" $partial $partial -}}
        {{- else if eq .Format.BaseName "declaration" -}}
          <article class="fg-wrapper narrow">
            {{- $context.Scratch.Set "audits" (partialCached "render/lastfile.html" (dict "context" $context "project" $project "type" "accessibility" "datafilename" $context.Params.datafilename) $project "accessibility" $context.Params.datafilename) -}}
            {{- $partial := (partialCached "templates/declaration.html" (dict "context" $context "audits" ($context.Scratch.Get "audits")) ($context.Scratch.Get "audits")) -}}
            {{- partialCached "elements/content.html" $partial $partial -}}
          </article>
        {{- end -}}
      {{- end -}}{{- end -}}
    {{- else -}}
      {{- if and (ne $project "audits") (not (partialCached "render/issimpleproject.html" "arg" "arg")) -}}
        {{- if and (not (in (path.Base .Path) "index.md")) -}}
          <article class="fg-wrapper narrow">
            {{ partialCached "elements/content.html" .Content .Content }}
          </article>
        {{- else -}}
          {{- $partialprojects := (partialCached "templates/projects.html" $context $context) -}}
          {{- partialCached "elements/content.html" $partialprojects $partialprojects -}}
        {{- end -}}
      {{- else -}}
        {{- if (partialCached "render/issimpleproject.html" . .) -}}
          {{- $partialprojects := (partialCached "templates/projects.html" $context $context) -}}
          {{- partialCached "elements/content.html" $partialprojects $partialprojects -}}
        {{- else -}}
          {{- $partialdashboard := (partialCached "templates/dashboard.html" $context $context) -}}
          {{- partialCached "elements/content.html" $partialdashboard $partialdashboard -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- else -}}
  <p class="no-print">← <a href="{{ .Parent.Permalink }}" class="link-more link-back">Retour à la liste des {{ .Parent.Title }}</a></p>
    {{ with .Title }}<h1 class="text-center wrapper">{{ . }}</h1>{{ end }}
    {{- if and (ne $project "audits") (not (partialCached "render/issimpleproject.html" "arg" "arg")) -}}
      {{- if and (not (in (path.Base .Path) "index.md")) -}}
        <article class="fg-wrapper narrow">
          {{ partialCached "elements/content.html" .Content .Content }}
        </article>
      {{- else -}}
        {{- $partialprojects := (partialCached "templates/projects.html" $context $context) -}}
        {{- partialCached "elements/content.html" $partialprojects $partialprojects -}}
      {{- end -}}
    {{- else -}}
      {{- $partialdashboard := (partialCached "templates/dashboard.html" $context $context) -}}
      {{- partialCached "elements/content.html" $partialdashboard $partialdashboard -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
