<div class="card smaller{{ if .context.selected }} card-border{{ end }}">
  <div>
  {{- $name := .context.name | urlize -}}
  {{- if (fileExists "/static/images/personas") -}}
  {{- range (readDir "/static/images/personas") -}}
    {{- if eq $name (replace .Name ".png" "") -}}
    <figure class="rounded">
      <img src="{{ site.BaseURL | default "/" }}images/personas/{{ .Name }}">
    </figure>
    {{- end -}}
  {{- end -}}
  {{- end -}}
  {{- $personaspath := printf "/personas/%s/%s" .project $name -}}
  <h3 class="text-center">{{ with .pages.GetPage $personaspath }}<a href="{{ site.BaseURL | default "/" }}{{ $personaspath }}">{{ end }}{{ .context.name }}{{ with .pages.GetPage $personaspath }}</a>{{ end }}<br><small>{{ .context.job }}</small></h3>
  </div>
  <div>
    <p>
      Âge : {{ .context.age }}<br>
      Raison: {{ .context.reason }}
    </p>
    <hr>
    <h4 class="mb-0">Motivations</h4>
    <ul class="list-unstyled" role="list">
      {{- range .context.motivations -}}
        <li>. {{ . }}</li>
      {{- end -}}
    </ul>
    <h4 class="mb-0">Frustrations</h4>
    <ul class="list-unstyled" role="list">
      {{- range .context.frustrations -}}
        <li>. {{ . }}</li>
      {{- end -}}
    </ul>
    <h4 class="mb-0">Sentiments</h4>
    <ul class="list-unstyled" role="list">
        <li>. {{ .context.feeling }}</li>
    </ul>
  </div>
  <div>
    <h4 class="mb-0">Aisance numérique</h4>
    {{- $ditmissed := sub 5 (int .context.digitalease) -}}
    {{- range seq .context.digitalease -}}
      <span class="dot">{{ . }}</span>
    {{- end -}}
    {{- range seq $ditmissed -}}
      <span class="dot dot-missed">{{ . }}</span>
    {{- end -}}
    </p>
  </div>
</div>
