{{- define "title" -}}Audit Performance {{ (index (split (path.Dir .Path) "/") 1) }}{{- end -}}
{{- define "main" -}}
{{/* Vars */}}
{{- $patharray := split (path.Dir .Path) "/" -}}
{{- $project :=  index $patharray 1 -}}
{{- $.Scratch.Set "projectfolders" (cond (eq (len $patharray) 2) $project "/") -}}

<div class="wrapper narrow">
  {{- if eq (len $patharray) 2 -}}
  <p class="no-print" hidden>⬅ <a href="/projects/{{ $project }}/" class="link-more link-back">Retour à la page {{ $project }}</a></p>
  {{- end -}}
  <h1>{{ with .Title }}{{ . }}{{ else }}Audit Performance{{ end }} <small hidden>{{ if .Params.tags }}{{ range .Params.tags }}pour <a href="/tags/{{ . }}">{{ . }}</a>{{ end }}{{ end }}</small></h1>
  {{- partial "elements/content.html" .Content -}}
  {{/* Vars */}}

  {{/* Test if files are in static or in each projets */}}
  {{- $.Scratch.Set "mainpath" (partial "render/check-rootpath-ressources" (dict "context" . "project" ($.Scratch.Get "projectfolders") "type" "lighthouse")) -}}

  {{/* Test if exist and call performance file */}}
  {{- if (fileExists (printf "/%s/lighthouse/" ($.Scratch.Get "mainpath")))  -}}
    {{- $.Scratch.Set "dir" (readDir (replace (printf "/%s/lighthouse/" ($.Scratch.Get "mainpath")) "//" "/")) -}}
  {{- end -}}
  {{- if and ($.Scratch.Get "projectfolders") (ne ($.Scratch.Get "projectfolders") "index") (printf "/%s/%s/lighthouse/" ($.Scratch.Get "mainpath") ($.Scratch.Get "projectfolders")) -}}
    {{- $.Scratch.Set "dir" (readDir (replace (printf "/%s/%s/lighthouse/" ($.Scratch.Get "mainpath") ($.Scratch.Get "projectfolders")) "//" "/")) -}}
  {{- end -}}

  {{- with ($.Scratch.Get "dir") -}}
    {{- range last 1 . -}}
      {{- if (fileExists (printf "/%s/lighthouse/" ($.Scratch.Get "mainpath"))) -}}
        {{- $.Scratch.Set "lastfile" (getJSON (printf "/%s/lighthouse/%s" ($.Scratch.Get "mainpath") .Name)) -}}
      {{- end -}}
      {{- if and ($.Scratch.Get "projectfolders") (ne ($.Scratch.Get "projectfolders") "index") (printf "/%s/%s/lighthouse/" ($.Scratch.Get "mainpath") ($.Scratch.Get "projectfolders")) -}}
        {{- $.Scratch.Set "lastfile" (getJSON (printf "/%s/%s/lighthouse/%s" ($.Scratch.Get "mainpath") ($.Scratch.Get "projectfolders") .Name)) -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{/* Range performance file */}}

  <h2>Scores</h2>
  {{- partial "components/scores/performance" (dict "context" . "project" ($.Scratch.Get "projectfolders")) -}}
  {{- with ($.Scratch.Get "lastfile") -}}
  {{/* Vars with the last file of the lighthouse directory */}}
  <h2>Règles</h2>
  {{ partial "utils/css.html" (dict "context" . "filefolder" "overgo/object" "filename" "summary") }}
  {{ $lastfile := $.Scratch.Get "lastfile" }}
    {{/* Range the file */}}
    {{- range $key, $value := sort (index $lastfile "audits") ".score" "asc" -}}
    {{/* Display only errors - with score different of null */}}
    {{- if and (not (eq (string .score) "1")) (not (eq (string .score) "null")) (.score) (.details) -}}
    <details>
      <summary><h3 class="m-0 d-inline-block">{{ if lt .score 0.5 }}<small class="counter bad">Haute</small> {{ else if eq .score 0.5 }}<small class="counter medium">Medium</small> {{ else if gt .score 0.5 }}<small class="counter good">Faible</small> {{ end }}{{ .id }}</h3></summary>
      <p>
        {{ i18n (printf "/%s%s" .id "description") | markdownify }}<br>
        => <small><strong>{{ replace (replace .displayValue "Potential savings of" "Gain potentiel") "resources found" "ressources trouvées" }}</strong></small>
      </p>
      <ul>
        {{- range .details.items -}}
          {{- if and (not (eq .url "Unattributable")) .url -}}<li>{{ .url }}</li>{{- end -}}
        {{ end }}
      </ul>
    </details>
    {{- end -}}
    {{- end -}}
</div>
{{- end -}}
{{- end -}}
