  {{- $tags := (slice .context.File.BaseFileName) -}}
  {{- $site := .context.Site -}}
  {{ $.context.Scratch.Set "isphases" false }}
  {{- range $key, $taxonomy := .context.Site.Taxonomies.phases -}}
    {{- $projecttaxonomy := where $site.Pages ".Params.tags" "intersect" $tags -}}
    {{- if $projecttaxonomy | intersect $taxonomy.Pages -}}{{ $.context.Scratch.Set "isphases" true }}{{ $.Scratch.Get "isphases" }}{{- end -}}
  {{- end -}}
  {{- if $.context.Scratch.Get "isphases" -}}
  <section class="section{{ if .type }}-{{ .type }}{{ end }}">
  <div class="wrapper">
  {{ $.context.Scratch.Set "counter" 0 }}
  <h2 class="text-center">Phases du projet</h2>
    {{- range $key, $taxonomy := $.context.Site.Taxonomies.phases -}}
    {{ $.context.Scratch.Add "counter" 1 }}
    <h3>{{ $key | humanize }}</h3>
    <ul class='timeline'>
        {{ range $idx, $p := (sort $taxonomy.Pages "Date" "asc")}}
        <li class="work">
          <input class='radio' id='work{{$.context.Scratch.Get "counter"}}{{ $idx }}' name="works{{$.context.Scratch.Get "counter"}}" type="radio">
          <div class="relative">
            <label for="work{{$.context.Scratch.Get "counter"}}{{ $idx }}">{{ .LinkTitle }} - <small><a href="{{ .Permalink }}">Accéder à la page</a></small></label>
            <span class="date">{{- if .Date -}}<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "2006/01/02" | safeHTML }}</time>{{ end }}</span>
            <span class="circle"></span>
          </div>
          <div class="content">
            <p>
              {{ .Params.description }}
            </p>
          </div>
        </li>
        {{- end -}}
    </ul>
    {{- end -}}
    </div>
  </section>
  {{- end -}}
