{{- if .Site.Menus.footer -}}
<footer role="contentinfo">
  <div class="wrapper">
    <div class="text-center">
      <div>
        <ul class="list-unstyled list-inline">
          {{- $currentPage := . -}}
          {{- range .Site.Menus.footer -}}
          <li>&nbsp;<a class="sidebar-nav-item" href="{{ $.Site.BaseURL | default "/" }}{{ slicestr .URL 1 }}" title="{{ .Title }}">{{ .Name }}</a>&nbsp;</li>
          {{- end -}}
        </ul>
      </div>
    </div>
  </div>
</footer>
{{- end -}}
