{{- $patharray := split (path.Dir .context.Path) "/" -}}
{{- $context   := .context   -}}
{{- $project   := cond (eq (len (split (path.Dir $context.Path) "/")) 1) "" (replace (path.Dir $context.Path) "audits/" "") -}}
{{- $section   := where .context.Site.RegularPages "Section" .section -}}
{{/* Set the audit file */}}
{{- if eq (len $patharray) 2 -}}
{{- range $id, $value := $section -}}
  {{- if in (path.Dir .Path) $project -}}{{- $.context.Scratch.SetInMap "element" (string $id) . -}}{{- end -}}
{{- end -}}
{{- else -}}
{{- $.context.Scratch.Set "element" ($section) -}}
{{- end -}}

{{- if $.context.Scratch.Get "element" -}}
<section class="section{{ if .type }}-{{ .type }}{{ end }} text-center">
<div class="wrapper">
<h2>{{ with .context.Site.GetPage .section }}{{ .Title }}{{ end }}</h2>
<br>
<ul class="grid">
{{- range first 4 (sort ($.context.Scratch.Get "element")) -}}
  <li class="card card-shadow card-animate">
    {{- if .Date -}}<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Day }} {{ index .Site.Data.month (printf "%d" .Date.Month) }} {{ .Date.Year }}</time>{{ end }}
    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
  </li>
  {{- $.context.Scratch.Set "linksingle" .RelPermalink -}}
{{- end -}}
</ul>
<a href="{{ site.BaseURL | default "/" }}{{ .section }}/{{ if gt (len (split ($.context.Scratch.Get "linksingle") "/")) 4 }}{{ index (last 1 (split (delimit (split .context.Permalink "/") "," "") ",")) 0 }}/{{ end }}" class="btn secondary">Voir toutes les {{ with .context.Site.GetPage .section }}{{ lower .Title }}{{ end }}</a>
</div>
</section>
{{- end -}}
