{{- with .context.File -}}{{- $.context.Scratch.Set "tags" (slice .BaseFileName) -}}{{- end -}}
{{- $section := where .context.Site.RegularPages "Section" .section -}}
{{- $taxonomy := where .context.Site.Pages ".Params.tags" "intersect" ($.context.Scratch.Get "tags") -}}
{{- $.context.Scratch.Set "linksingle" "" -}}

{{/* Set the audit file */}}
{{- if eq (len (split (path.Dir .Path) "/")) 2 -}}
{{- $.context.Scratch.Set "element" ($section | intersect $taxonomy) -}}
{{- else -}}
{{- $.context.Scratch.Set "element" ($section) -}}
{{- end -}}

{{- if $.context.Scratch.Get "element" -}}
<section class="section{{ if .type }}-{{ .type }}{{ end }} text-center">
<div class="wrapper">
<h2>{{ with .context.Site.GetPage .section }}{{ .Title }}{{ end }}</h2>
<br>
<ul class="grid">
{{- range first 4 ($.context.Scratch.Get "element") -}}
  <li class="card card-shadow card-animate">
    {{- if .Date -}}<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Day }} {{ index .Site.Data.month (printf "%d" .Date.Month) }} {{ .Date.Year }}</time>{{ end }}
    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
    {{- if not $taxonomy -}}{{- if .Params.tags -}}{{ range .Params.tags }}<a href="/tags/{{ . }}">{{ . }}</a>{{ end }}{{ end }}{{ end }}
  </li>
  {{- $.context.Scratch.Set "linksingle" .RelPermalink -}}
{{- end -}}
</ul>
<a href="{{ $.Site.BaseURL }}/{{ .section }}/{{ if gt (len (split ($.context.Scratch.Get "linksingle") "/")) 4 }}{{ index (last 1 (split (delimit (split .context.Permalink "/") "," "") ",")) 0 }}/{{ end }}" class="btn secondary">Voir toutes les {{ with .context.Site.GetPage .section }}{{ lower .Title }}{{ end }}</a>
</div>
</section>
{{- end -}}
