{{- $context      := .context -}}
{{- $project      := partialCached "render/projectpath" $context $context -}}
{{- $data         := newScratch -}}
{{- $projectPath  := cond (fileExists (printf "audits/%s/index.md" ($project))) (printf "audits/%s/index.md" ($project)) (printf "audits/%s/_index.md" ($project)) -}}
{{- $projectTitle := ($context.GetPage $projectPath).Title -}}
{{- $data.Set "pageslist" "" -}}
{{- $data.Set "scores" "" -}}

{{ if and (in "/audits/_index.md" $context.Path) (not (partialCached "render/issimpleproject.html" "" "")) }}
  <section class="wrapper">
  {{- partialCached "templates/projects-monitoring.html" $context $context -}}
  </section>

{{- else -}}
  <article class="wrapper narrow">
  {{/* Load the audit file */}}
  {{- $data.Set "audits" (partialCached "render/lastfile.html" (dict "context" $context "project" $project "type" "accessibility" "datafilename" .context.Params.datafilename) $project "accessibility" .context.Params.datafilename) -}}
  {{- $data.Set "auditpath-csv" (index ($data.Get "audits") "auditfile-path") -}}
  {{/* Display declaration tpl when output format is set */}}
  {{- if and (in .context.Permalink "declaration.html") ($data.Get "audits") -}}
    {{- partialCached "templates/declaration.html" (dict "context" $context "audits" ($data.Get "audits")) ($data.Get "audits") -}}
  {{- else -}}
  {{/* START Test if audit file exists */}}
  {{- if and ($data.Get "auditpath-csv") (ne ($data.Get "auditpath-csv") "/false") -}}

    {{- $data.Set "auditfile-csv" (getCSV "," ($data.Get "auditpath-csv")) -}}
    {{/* Calculate accessibility compliance */}}
    {{- $data.Set "scores" (partialCached "render/accessibility.html" (dict "auditfile" ($data.Get "auditpath-csv")) ($data.Get "auditpath-csv") ) -}}

    {{/* START Test if the csv file has a good name : YYYY-MM-DD.csv */}}
    {{- if ne "0" (printf "%v" (len (findRE "((?:19|20)\\d\\d)-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])" (index ($data.Get "audits") "auditfile-name")))) -}}
      {{- $data.Set "date" (time (string (index ($data.Get "audits") "auditfile-name"))) -}}
    {{- else -}}
      {{- $data.Set "date" now -}}
      {{- warnf "The file %s has a bad name, it should be a date YYYY-MM-DD.csv" (index ($data.Get "audits") "auditfile-path") -}}
    {{- end -}}
    {{/* END Test if the csv file has a good name : YYYY-MM-DD.csv */}}

    {{/* START Determine the version of the audit from the context declaration */}}
    {{- $data.Set "guidelinename" "rgaa" -}}
    {{- $data.Set "guidelineversion" "4.1" -}}
    {{- $data.Set "context" (partialCached "render/context.html" (dict "context" $context "project" $project) $project) -}}
    {{- with ($data.Get "context") -}}
    {{- with (index ($data.Get "audits") "auditfile-name") -}}
    {{- with (index ($data.Get "context") .) -}}
      {{- with .audit -}}
        {{- with .audit.guidelines -}}
          {{- $guideline := (replace (. | urlize) "-" "") -}}
          {{- $data.Set "guidelinename"    (cond (in $guideline "rgaa") "rgaa" (cond (in $guideline "wcag") "wcag" "none")) -}}
          {{- $data.Set "guidelineversion" (replace $guideline ($data.Get "guidelinename") "") -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
    {{- else -}}
      {{- if ne (path.Dir $context.Path) "audits/_index.md" -}}
        {{- warnf "(index ($data.Get 'audits') 'auditfile-name') est vide" -}}
      {{- end -}}
    {{- end -}}
    {{- end -}}
    {{/* END Determine the version of the audit form the context declaration */}}

    {{/* Load the criteria file for the good audit version */}}
    {{- $data.Set "criteriafile" (index (index $.context.Site.Data ($data.Get "guidelinename")) ($data.Get "guidelineversion")).criteria.topics -}}
    {{/* Load the glossary file for the good audit version */}}
    {{- $data.Set "glossaire" (printf "=\"%s%s/glossaire/#" ($data.Get "guidelinename") ($data.Get "guidelineversion")) -}}

    {{- if $project -}}<p>← <a href="{{ site.BaseURL | default "/" }}{{- with $project -}}{{ printf "audits/%s/" . }}{{- end -}}" class="link-more link-back" aria-label="Retour à la page {{ ($context.GetPage $project).Title }}">Retour à la page projet</a></p>{{- end -}}
    <h1>Audit Accessibilité{{ with $projectTitle }}<small> pour {{ partialCached "utils/isURL.html" (dict "context" $context "projectTitle" $projectTitle) $projectTitle }}</small>{{ end }}</h1>

    {{/* START Display page note if exists */}}
    {{- with .context.Params.note -}}
    <div class="note">
      {{ . | markdownify }}
    </div>
    {{- end -}}
    {{/* END Display page note if exists */}}

    {{/* START Test if audit file exists */}}
    {{- if and ($data.Get "auditfile-csv") (ne ($data.Get "scores").isempty 0) -}}

      {{/* Find if the audit file is by criteria or by tests */}}
      {{- $data.Set "auditmethodology" (index (partialCached "render/methodology.html" (dict "context" $context "auditfile" ($data.Get "auditfile-csv")) $context ($data.Get "auditfile-csv")) "methodology") -}}
      {{/* Create an array with all pages */}}
      {{- $data.Set "pageslist" (index (partialCached "render/methodology.html" (dict "context" $context "auditfile" ($data.Get "auditfile-csv")) ($data.Get "auditfile-csv")) "pageslist") -}}
      {{/* Control which tests are made for each type of audit :: this is an help for knowing witch tests are missing */}}
      {{- range $auditname, $audit := $context.Site.Data.rgaa.tests -}}
        {{- $data.Set (printf "criterecontrol%s" (string $auditname)) slice -}}
        {{- range $id, $criterium := index $.context.Site.Data.rgaa.tests $auditname -}}
          {{- range $key, $value := ($data.Get "scores").criteria.total -}}
            {{- if eq $criterium $key -}}{{ $data.Add (printf "criterecontrol%s" (string $auditname)) $key }}{{- end -}}
          {{- end -}}
        {{- end -}}
        {{- $data.Set (printf "criterecontrol%s" (string $auditname)) ((($data.Get (printf "criterecontrol%s" (string $auditname))) | symdiff (index $.context.Site.Data.rgaa.tests $auditname))) -}}
      {{- end -}}

      <script>
        let Background = [
          "padding: 2px",
          "font-weight:bold",
          "background: #222",
          "color: #fff"
        ].join(" ;");
        let BackgroundRed = [
          "padding: 2px",
          "font-weight:bold",
          "background:firebrick",
          "color: #fff"
        ].join(" ;");
        let BackgroundWhite = [
          "padding: 4px 2px",
          "background:#fff",
          "color: #000"
        ].join(" ;");
        console.group('%cCritères par type: ', 'font-size: 12px;');
        console.log('%cCritères C %c %c{{ len ($data.Get "scores").criteria.conforme      }}%c \n{{ range $key, $value := ($data.Get "scores").criteria.conforme      }}{{ $key }}, {{ end }}',Background,BackgroundWhite,BackgroundRed,BackgroundWhite)
        console.log('%cCritères NC%c %c{{ len ($data.Get "scores").criteria.nonconforme   }}%c \n{{ range $key, $value := ($data.Get "scores").criteria.nonconforme   }}{{ $key }}, {{ end }}',Background,BackgroundWhite,BackgroundRed,BackgroundWhite)
        console.log('%cCritères NA%c %c{{ len ($data.Get "scores").criteria.nonapplicable }}%c \n{{ range $key, $value := ($data.Get "scores").criteria.nonapplicable }}{{ $key }}, {{ end }}',Background,BackgroundWhite,BackgroundRed,BackgroundWhite)
        console.log('%cCritères NT%c %c{{ len ($data.Get "scores").criteria.nonteste      }}%c \n{{ range $key, $value := ($data.Get "scores").criteria.nonteste      }}{{ $key }}, {{ end }}',Background,BackgroundWhite,BackgroundRed,BackgroundWhite)
        console.groupEnd();
        console.group('%cCritères non testés: ', 'font-size: 12px;');
        console.log('%cCritères  25%c {{ with ($data.Get "criterecontrol25")  }}{{ delimit ($data.Get "criterecontrol25") ", "  }}{{ else }}aucun{{ end }}',Background,BackgroundWhite)
        console.log('%cCritères  50%c {{ with ($data.Get "criterecontrol50")  }}{{ delimit ($data.Get "criterecontrol50") ", "  }}{{ else }}aucun{{ end }}',Background,BackgroundWhite)
        console.log('%cCritères  81%c {{ with ($data.Get "criterecontrol81")  }}{{ delimit ($data.Get "criterecontrol81") ", "  }}{{ else }}aucun{{ end }}',Background,BackgroundWhite)
        console.log('%cCritères 106%c {{ with ($data.Get "criterecontrol106") }}{{ delimit ($data.Get "criterecontrol106") ", " }}{{ else }}aucun{{ end }}',Background,BackgroundWhite)
        console.groupEnd();
      </script>

      <h2 class="text-center">Scores{{- with ($data.Get "scores").scores.criteria -}}&nbsp;-&nbsp;{{- .total -}}&nbsp;critères{{ end }}</h2>
      <time class="text-center" datetime="{{ ($data.Get "date").Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">Le {{ ($data.Get "date").Day }} {{ index $.context.Site.Data.month (printf "%d" ($data.Get "date").Month) }} {{ ($data.Get "date").Year }}</time>
      {{- with $.context.OutputFormats.Get "declarationpage" -}}<p class="text-center"><a href="{{ .RelPermalink }}" aria-label="Accéder à la déclaration de {{ ($context.GetPage $project).Title }}">Accéder à la déclaration</a></p>{{- end -}}

      <h3 class="mb-0">Conformité globale selon les critères {{/* if le ($data.Get "scores").scores.compliance "75" }} {{ if and (ne ($data.Get "scores").scores.criteria.nonconforme 0) (ne ($data.Get "scores").scores.criteria.conforme 0) }}<small>({{ sub ((div (mul (add (len ($data.Get "scores").criteria.conforme) (($data.Get "scores").scores.criteria.nonconforme) ) 75) 100)) (len ($data.Get "scores").criteria.conforme) }}</b> critères pour atteindre 75%)</small>{{ end }}{{ end */}}</h3>
      {{/* Call accessibility scores partial */}}
      {{- partialCached "components/scores/accessibility" (dict "context" $context "score" ($data.Get "scores").scores.compliance) ($data.Get "scores") -}}
      {{/* Call accessibility number of criteria partial */}}
      {{- partialCached "components/scores/criteria" (dict "context" $context "criteria" ($data.Get "scores").criteria) ($data.Get "scores").criteria -}}

      {{/* START If several pages tested */}}
      {{- if gt (len ($data.Get "pageslist")) 1 -}}
        <h3 class="mb-0">Conformité détaillée de répartition</h3>
        {{/* Call accessibility graph */}}
        {{- partialCached "components/scores/accessibility-graph" (dict "context" $context "auditfile" ($data.Get "auditfile-csv") "scores" ($data.Get "scores").criteria) ($data.Get "scores").criteria -}}
      {{- end -}}
      {{/* END If several pages tested */}}

      {{/* START Display audit context */}}
      {{- with ($data.Get "context") -}}
        {{- with (index . (($data.Get "date").Format "2006-01-02")).audit -}}
          <h2>Contexte</h2>
          <p>
            {{ with .guidelines }}<strong>Version du référentiel&nbsp;: </strong>{{ . }}<br>{{ end }}
            {{ with .technologies }}<strong>Technologies utilisées sur le site&nbsp;: </strong>{{ delimit . ", " }}<br>{{ end }}
            {{ with .tools }}<strong>Outils pour réaliser l’audit&nbsp;: </strong>{{ delimit . ", " }}<br>{{ end }}
            {{ with .environment }}<strong>Environnement de test&nbsp;: </strong>{{ delimit . ", " }}<br>{{ end }}
          </p>
        {{- end -}}
      {{- end -}}
      {{/* END Display audit context */}}

    <hr>

    {{- end -}}

    {{/* START If several page tested */}}
    {{- if and (gt (len ($data.Get "pageslist")) 1) -}}
    <h2>Liste des pages auditées</h2>
    {{/* Create a anchors menu with audited pages */}}
    <div class="tableofcontents">
      <h3>Accéder aux pages auditées</h3>
      <nav>
        <ul role="list">
          <li><a href="#pagesall">Anomalies sur toutes les pages</a></li>
          {{/* Loop all pages for anchor navigation */}}
          {{- range $id, $value := $data.Get "pageslist" -}}
          <li><a href="#{{ if ge (len (split . "|")) 2 }}{{ (index (split . "|") 0) | urlize }}{{ else }}{{ . | urlize }}{{ end }}">{{ if ge (len (split . "|")) 2 }}{{ index (split . "|") 0 }}{{ else }}{{ . }}{{ end }}</a></li>
          {{- end -}}
        </ul>
      <nav>
    </div>
    {{- end -}}
    {{/* END If several page tested */}}

    {{/* START Display page content if exists */}}
    {{- if gt (len .context.Content) 10 -}}
    <h2>Notes correctives</h2>
    <div>
    {{- partial "elements/content.html" .context.Content -}}
    </div>
    {{- end -}}
    {{/* END Display page content if exists */}}

    <h2>Par ordre des critères du référentiel RGAA</h2>

    {{/* Range map errors sort by RGAA order - on all pages */}}
    {{- if and (gt (len ($data.Get "pageslist")) 1) -}}
    <h3 id="pagesall" class="small-caps">Anomalies présentes sur toutes les pages</h3>
    {{- else -}}
    <h3 >Anomalies</h3>
    {{- end -}}

    {{- $data.Set "counterallpages" 0 -}}
    {{- if and ($data.Get "auditmethodology") ($data.Get "auditfile-csv") -}}
    {{- range $key, $value := after 1 ($data.Get "auditfile-csv") -}}
      {{- $indication := (delimit (uniq (after ($data.Get "auditmethodology") .)) "") -}}
      {{- $content := (index (split $indication "|") 0) -}}
      {{- $comment := delimit (uniq ((split $indication "|") | symdiff (slice $content))) ", " -}}
      {{- $condcontentlen := gt (len (split $indication "|")) 1 -}}
      {{- $condcontentnc := (eq $content "nc") -}}
      {{- $condcontentc := (eq $content "c") -}}
      {{- $thematiques := index $value 0 -}}
      {{- $criteria := index $value 1 -}}
      {{- $tests := index $value 2 -}}
      {{ if eq (len (uniq (after ($data.Get "auditmethodology") .))) 1 }}
      {{- range first 1 . -}}
        {{- if or $condcontentlen $condcontentnc -}}
        {{- $data.Set "counterallpages" 1 -}}
        <p class="mb-0"><strong>
          {{- if $condcontentc -}}{{ end }}{{ if or $condcontentnc $condcontentlen }}{{ end }} {{ if eq ($data.Get "auditmethodology") 3 }}Test{{ else }}Critère{{ end }} {{ $thematiques }}.{{ $criteria }}{{ if eq ($data.Get "auditmethodology") 3 }}.{{ $tests }}{{ end }}
          {{ if eq (upper (delimit (findRE "!(.*)!" $comment) "")) "!F!" -}}<span class="badge good">Facile</span>{{- end -}}
          {{ if eq (upper (delimit (findRE "!(.*)!" $comment) "")) "!M!" -}}<span class="badge medium">Modéré</span>{{- end -}}
          {{ if eq (upper (delimit (findRE "!(.*)!" $comment) "")) "!D!" -}}<span class="badge bad">Difficile</span>{{- end -}}
        </strong></p>
        {{- $txt := "" -}}
        {{- if not $condcontentnc -}}
          {{- if $condcontentc -}}
            {{- $txt = "Conforme! Note" -}}
          {{- else -}}
            {{- $txt = "Non applicable" -}}
          {{- end -}}
        {{- else -}}
          {{- $txt = "Commentaire(s)" -}}
        {{- end -}}
        {{- if ge (len $comment) 1 }}<p class="m-0 smaller"><b>{{- $txt -}}</b>&nbsp;: {{ replace (replaceRE "!(.*)!" "" $comment 1) "\n" "<br>" | markdownify }}</p>{{- end -}}
          {{- $s := where ($data.Get "criteriafile") "number" "eq" (int ($thematiques)) -}}
          {{- if eq ($data.Get "auditmethodology") 2 -}}
            <p><em>{{ (replaceRE "=\"#" ($data.Get "glossaire") ((((index (index $s 0).criteria (sub (int ($criteria)) 1)).criterium).title) | markdownify) 100) | safeHTML }}</em></p>
          {{ else if eq ($data.Get "auditmethodology") 3 }}
            {{- range $idx, $value := ((index (index $s 0).criteria (sub (int ($criteria)) 1)).criterium).tests -}}
              {{- if eq $idx (string ($tests)) -}}
                {{- if reflect.IsSlice . -}}
                  <p><em>{{ (replaceRE "=\"#" ($data.Get "glossaire") ((index . 0) | markdownify) 100) | markdownify }}</em><br></p>
                {{- if (after 1 .) -}}
                  <ol>
                    {{ range after 1 . }}<li>{{ (replaceRE "=\"#" ($data.Get "glossaire") (. | markdownify) 100) | markdownify }}</li>{{ end }}
                  </ol>
                {{- end -}}
              {{- else -}}
                <p><em>{{ (replaceRE "=\"#" ($data.Get "glossaire") (. | markdownify) 100) | markdownify }}</em></p>
              {{- end -}}
            {{- end -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
      {{- end -}}
    {{- end -}}
    {{- end -}}
    {{ if not ($data.Get "counterallpages") }}<p>Aucune erreur commune à toutes les pages.</p>{{ end }}

    <hr class="divider">

    {{- if and (gt (len ($data.Get "pageslist")) 1) -}}
    {{/* Range map errors sort by RGAA order - on specifics pages */}}
    <h3 class="small-caps">Anomalies présentes sur les pages spécifiques</h3>
    {{/* Display errors presents on specific pages */}}
    {{- range $id, $value := ($data.Get "pageslist") -}}
      {{- $data.Set "text" 0 -}}
      {{- $page := . -}}
      <h4 id="{{ if ge (len (split . "|")) 2 }}{{ (index (split . "|") 0) | urlize }}{{ else }}{{ . | urlize }}{{ end }}" class="bullet">Page : {{ if ge (len (split . "|")) 2 }}{{ index (split . "|") 0 }}{{ else }}{{ . }}{{ end }}</h4>
      {{- $data.Set "is-page-error" 0 -}}
      {{- range $key, $value := after 1 ($data.Get "auditfile-csv") -}}
      {{- if ne (len (uniq (after ($data.Get "auditmethodology") .))) 1 -}}
        {{- $indication := (string (index . (add $id ($data.Get "auditmethodology")))) -}}
        {{- $content := (index (split $indication "|") 0) -}}
        {{- $comment := delimit (uniq ((split $indication "|") | symdiff (slice $content))) ", " -}}
        {{- $condcontentlen := gt (len (split $indication "|")) 1 -}}
        {{- $condcontentnc := (eq $content "nc") -}}
        {{- $condcontentc := (eq $content "c") -}}
        {{- $thematiques := index $value 0 -}}
        {{- $criteria := index $value 1 -}}
        {{- $tests := index $value 2 -}}
        {{- if or $condcontentlen $condcontentnc -}}
        {{- $data.Add "is-page-error" 1 -}}
          <p class="mb-0"><strong>
          {{- if $condcontentc -}}{{ end }}{{ if or $condcontentnc $condcontentlen }}{{ end }} {{ if eq ($data.Get "auditmethodology") 3 }}Test{{ else }}Critère{{ end }} {{ $thematiques }}.{{ $criteria }}{{ if eq ($data.Get "auditmethodology") 3 }}.{{ $tests }}{{ end }} <small hidden>- {{ if $condcontentc }}Conforme{{ end }}{{ if or $condcontentnc $condcontentlen }}Non conforme{{ end }}</small>
          {{- if eq (upper (delimit (findRE "!(.*)!" $comment) "")) "!F!" -}}<span class="badge good">Facile</span>{{- end -}}
          {{- if eq (upper (delimit (findRE "!(.*)!" $comment) "")) "!M!" -}}<span class="badge medium">Modéré</span>{{- end -}}
          {{- if eq (upper (delimit (findRE "!(.*)!" $comment) "")) "!D!" -}}<span class="badge bad">Difficile</span>{{- end -}}
          </strong></p>
        {{- $txt := "" -}}
        {{- if $condcontentc -}}
          {{- $txt = "Conforme, mais attention" -}}
        {{- else -}}
          {{- $txt = "Commentaire(s)" -}}
        {{- end -}}
          {{- if $condcontentlen }}<p class="m-0 smaller"><b>{{- $txt -}}</b> : {{ replace (replaceRE "!(.*)!" "" $comment 1) "\n" "<br>" | markdownify }}</p>{{- end -}}
            {{- $s := where ($data.Get "criteriafile") "number" "eq" (int ($thematiques)) -}}
            {{- if eq ($data.Get "auditmethodology") 2 -}}
              <p><em>{{ (replaceRE "=\"#" ($data.Get "glossaire") ((((index (index $s 0).criteria (sub (int ($criteria)) 1)).criterium).title) | markdownify) 100) | safeHTML }}</em></p>
            {{ else if eq ($data.Get "auditmethodology") 3 }}
              {{- range $idx, $value := ((index (index $s 0).criteria (sub (int ($criteria)) 1)).criterium).tests -}}
                {{- if eq $idx (string ($tests)) -}}
                  {{- if reflect.IsSlice . -}}
                    <p><em>{{ (replaceRE "=\"#" ($data.Get "glossaire") ((index . 0) | markdownify) 100) | markdownify }}</em><br></p>
                  {{- if (after 1 .) -}}
                    <ol>
                      {{ range after 1 . }}<li>{{ (replaceRE "=\"#" ($data.Get "glossaire") (. | markdownify) 100) | markdownify }}</li>{{ end }}
                    </ol>
                  {{- end -}}
                {{- else -}}
                  <p><em>{{ (replaceRE "=\"#" ($data.Get "glossaire") (. | markdownify) 100) | markdownify }}</em></p>
                {{- end -}}
              {{- end -}}
              {{- end -}}
            {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
    {{- if eq ($data.Get "is-page-error") 0 -}}<p>Aucune erreur spécifique sur cette page.</p>{{- end -}}
    {{- if ne (add (int $id) 1) (len ($data.Get "pageslist")) -}}<hr class="divider-strong">{{- end -}}

  {{- end -}}

  <hr class="divider">

  {{- end -}}
  {{/* END If several page tested */}}

  {{/* START If several page tested */}}
  {{- if gt (len ($data.Get "pageslist")) 0 -}}
  {{/* Range map errors sort by RGAA order - on all pages */}}
  <h3 id="criteria-nonconforme">Tous les critères non conformes du site</h3>
  {{ partialCached "templates/validity.html" (dict "context" $context "audit" ($data.Get "audits") "score" ($data.Get "scores").criteria) ($data.Get "scores").criteria }}
  {{- end -}}
  {{/* END If several page tested */}}

  </article>
  {{- else -}}
    {{ $project }}
    <p>Aucun fichier de test n’est présent dans le répertoire : {{ (partialCached "render/rootpath" (dict "context" . "project" $project "type" "accessibility") $project "accessibility") }}/{{ cond (not $project) "" (printf "%s/" $project) }}accessibility</p>
    {{- if (ne (printf "%s/%s" (path.Dir $.context.Path) (path.Base $.context.Path)) "audits/_index.md") -}}
      <p>Le fichier d’audit RGAA est manquant dans ce ce répertoire: {{ ($data.Get "audits").pathdatafile }} - vérifier le chemin du fichier sur le disque.</p>
      {{- warnf "Fichier d’audit manquant dans %s" ($data.Get "audits").pathdatafile -}}
    {{- end -}}
  {{- end -}}
  {{/* END If several page tested */}}

{{- end -}}
{{/* END Test if audit file exists */}}
{{- end -}}
{{/* Display declaration in accessibility page if no output format setted */}}
{{- if and (not (.context.OutputFormats.Get "declarationpage")) ($data.Get "audits") -}}
  <hr class="divider">
  {{- partialCached "templates/declaration.html" (dict "context" $context "audits" ($data.Get "audits")) ($data.Get "audits") -}}
{{- end -}}

