{{- $audit    := .audits -}}
{{- $context  := .context -}}
{{- $data     := newScratch -}}
{{- $project  := (partialCached "render/projectpath" $context $context) -}}

{{/* START Determine the version of the audit from the context declaration */}}
  {{- $data.Set "guidelinename" "rgaa" -}}
  {{- $data.Set "guidelineversion" "4.1" -}}
  {{- $data.Set "context" (partialCached "render/context.html" (dict "context" $context "project" $project) $project) -}}
  {{- with ($data.Get "context") -}}
  {{- with (index $audit "auditfile-name") -}}
  {{- with (index ($data.Get "context") .) -}}
    {{- with .audit -}}
      {{- with .audit.guidelines -}}
        {{- $guideline := (replace (. | urlize) "-" "") -}}
        {{- $data.Set "guidelinename"    (cond (in $guideline "rgaa") "rgaa" (cond (in $guideline "wcag") "wcag" "none")) -}}
        {{- $data.Set "guidelineversion" (replace $guideline ($data.Get "guidelinename") "") -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- else -}}
    {{- if ne ($context.Path) "audits/_index.md" -}}
      {{- warnf "Il n'y a pas d’audit correspond au chemin de fichier %s" $context.Path -}}
    {{- end -}}
  {{- end -}}
  {{- end -}}
{{/* END Determine the version of the audit form the context declaration */}}

{{/* START Load the criteria file for the good audit version */}}
{{- $data.Set "criteriafile"  (index (index $.context.Site.Data ($data.Get "guidelinename")) ($data.Get "guidelineversion")).criteria.topics -}}
{{- $data.Set "organisation"  (cond (ne $.context.Site.Params.organisation "") $.context.Site.Params.organisation "") -}}
{{- $data.Set "strategy"      (cond (ne $.Params.accessibility.strategy "") $.Params.accessibility.strategy (cond (ne $context.Site.Params.strategy "") $context.Site.Params.strategy "")) -}}
{{- $data.Set "auditpath-csv" (index $audit "auditfile-path") -}}
{{- $data.Set "auditfile-csv" (getCSV "," ($data.Get "auditpath-csv")) -}}
{{- if and ($data.Get "auditpath-csv") (ne ($data.Get "auditpath-csv") "/false") -}}
{{/* END Load the criteria file for the good audit version */}}

{{/* START Load Scores, context and pageslist */}}
{{- $data.Set "scores" (partialCached "render/accessibility.html" (dict "auditfile" ($data.Get "auditpath-csv")) ($data.Get "auditpath-csv")) -}}
{{- $date := (string (index $audit "auditfile-name")) -}}

{{ with (partialCached "render/context.html" (dict "context" $context "project" $project) $project) }}
  {{- $contextlast := cond (not (index . $date)) (index (last 1 (sort .)) 0) (index . $date) -}}
  {{- $data.Set "context" $contextlast -}}
  {{- if (not (index . $date)) -}}
    {{ warnf "%s/accessibility/context.yml is not well filed, maybe the last value for date last audit is missing" $project }}
  {{- end -}}
{{- end -}}
{{/* Find if the audit file is by criteria or by tests */}}
{{- $auditmethodology := (index (partialCached "render/methodology.html" (dict "context" $context "auditfile" ($data.Get "auditfile-csv")) $project) "methodology") -}}
{{/* Create an array with all pages */}}
{{- $data.Set "pageslist" (index (partialCached "render/methodology.html" (dict "context" $context "auditfile" ($data.Get "auditfile-csv")) $project) "pageslist") -}}
{{/* END Load Scores, context and pageslist */}}


{{/* START If "context" */}}

{{- with ($data.Get "context") -}}
  <h1 id="declaration">Déclaration d’accessibilité RGAA</h1>
  <section>
    {{/* START If "organisation" */}}
    {{ if ($data.Get "organisation") }}
      <p>{{ with ($data.Get "organisation") }}{{ . }}{{ end }} s’engage à rendre ses sites internet, intranet, extranet et ses
      progiciels accessibles (et ses applications mobiles et mobilier urbain numérique) conformément à l’article 47 de la
      loi n°2005-102 du 11 février 2005.</p>
      {{- with $data.Get "strategy" -}}
      <p>À cette fin, elle met en œuvre la stratégie et les actions suivantes :</p>
      <ul>
        {{- with .schema -}}<li>Schéma pluriannuel de mise en accessibilité 2020-2022 : <a href="{{ . }}">Schéma pluriannuel</a></li>{{ end }}
        {{- with .actions -}}<li>Actions réalisées en 2019-2020 : <a href="{{ . }}">Actions réalisées</a></li>{{ end }}
        {{- with .plan -}}<li>Plan d’actions 2020-2021 : <a href="{{ . }}">Plan d’actions</a></li>{{ end }}
      </ul>
      {{- end -}}
      {{- with .website -}}<p>Cette déclaration d’accessibilité s’applique à {{ . }}.</p>{{ end }}
    {{ end }}
    {{/* END If "organisation" */}}
    <h2>État de conformité</h2>
    <p>{{ with $data.Get "organisation" }}{{ . }}{{ end }}{{ with .website }}, {{ . }}{{ end }} est {{ if ($data.Get "scores") }}{{ if lt (index ($data.Get "scores") "compliance") 50 }}non{{ else if ge (index ($data.Get "scores") "compliance") 50 }}partiellement{{ else if eq (index ($data.Get "scores") "compliance") 100 }}totalement{{ end }}{{ end }} conforme avec le référentiel général d’amélioration de l’accessibilité (RGAA), version 4 en raison des non-conformités et des dérogations énumérées ci-dessous.</p>
    <h3>Résultats des tests</h3>
    {{/* START If criteria */}}
    {{- if ($data.Get "scores").criteria -}}
      <p>L’audit de conformité{{ with (time $date) }}, du {{ .Day }} {{ index $context.Site.Data.month (printf "%d" .Month) }} {{ .Year }}, {{ end }}{{ with .condition }}réalisé par {{ . }}{{ end }} révèle que :</p>
      <ul>
        {{- with partialCached "render/externals" (dict "context" $context "project" $project "auditfile" ($data.Get "auditpath-csv")) $context $project ($data.Get "auditpath-csv") -}}
        {{- $map := . -}}
        {{- if ne (len .compliance) 1 -}}
          {{/* Cumulated scores */}}
          <li>{{ .percentage }}% {{ with ($data.Get "scores").scores.criteria.total }}des {{ . }} critères {{ end }}{{ with ($data.Get "context").audit.guidelines }}du {{ . }}{{ end }} sont respectés sur l’ensemble des parcours.</li>
          {{- if ($data.Get "scores").criteria -}}
            <li>{{ ($data.Get "scores").scores.compliance }}% {{ with ($data.Get "scores").scores.criteria.total }}des {{ . }} critères{{ end }} {{ with (index ($data.Get "scores") "criteretotal") }}testés {{ end }}{{ with ($data.Get "context").audit.guidelines }}du {{ . }}{{ end }} sont respectés {{ with ($data.Get "context").website }}pour {{ . }}{{ end }} (le taux moyen est de {{ ($data.Get "scores").scores.complianceaverage }}%).</li>
          {{- end -}}
            {{/* Specific score for sub services */}}
          {{- range $id, $value := .names }}
            <li>
              {{ index $map.compliance $id }}% des {{ index $map.total $id }} critères du {{ with (index $map.context $id).audit }}{{ .guidelines }}{{ end }} sont respectés pour {{ . }} (le taux moyen est de {{ index $map.complianceaverage $id }}%).
            </li>
          {{- end }}
          {{- else -}}
            {{/* If any sub services */}}
            {{ if ($data.Get "scores").criteria }}<li>{{ ($data.Get "scores").scores.compliance }}% {{ with ($data.Get "scores").scores.criteria.total }}des {{ . }} critères testés{{ end }} {{ with (index ($data.Get "scores") "criteretotal") }}testés {{ end }}{{/* with ($data.Get "context").audit.guidelines }}du {{ . }}{{ end */}} sont respectés (le taux moyen est de {{ ($data.Get "scores").scores.complianceaverage }}%).</li>{{ end }}
          {{- end -}}
        {{- end -}}
        {{/*- if ($data.Get "auditpath-csv") -}}<li>Accès à la grille d’audit RGAA : <a href="{{ $context.Site.BaseURL | default "/" }}{{ replace ($data.Get "auditpath-csv") "/content/" "" }}">Télécharger la grille d’audit RGAA{{ with .website }} pour {{ . }}{{ end }}</a>{{- end -*/}}
        </li>
      </ul>
    {{- else -}}
      <p>Aucun test n’a été effectué, le site est donc non conforme.</p>
    {{ end }}
    {{/* END If criteria */}}
    {{/* START If criteria */}}
    {{- with ($data.Get "scores").criteria -}}
      {{- $score := . -}}
      <h2>Critères non conformes</h2>
      {{ partialCached "templates/validity.html" (dict "context" $context "audit" $audit "score" $score) $score }}
      <h2>Établissement de cette déclaration d’accessibilité</h2>
      {{/* START If "context" */}}
      {{ with ($data.Get "context") }}
        <p>Cette déclaration a été établie le <time datetime="{{ (time $date).Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ (time $date).Day }} {{ index $context.Site.Data.month (printf "%d" (time $date).Month) }} {{ (time $date).Year }}</time>.</p>
        {{/* START If audit */}}
        {{ with ($data.Get "context").audit }}
          <h3>Technologies utilisées</h3>
          <ul>
            {{- range $id, $value := .technologies -}}
            <li>{{ . }}</li>
            {{- end -}}
          </ul>
          {{ end }}
        {{ end }}
        {{/* END If audit */}}
        {{/* START If audit */}}
        {{ with ($data.Get "context").audit }}
          {{/* START environment */}}
          {{ with .environment }}
            <h3>Environnement de test</h3>
            <p>Les vérifications de restitution de contenus ont été réalisées sur la base de la combinaison fournie
              par la base de référence du RGAA, avec les versions suivantes :</p>
            <ul>
              {{- range $id, $value := . -}}
              <li>{{ . }}</li>
              {{- end -}}
            </ul>
          {{ end }}
          {{/* END tools */}}
          {{/* START tools */}}
          {{ with .tools }}
            <h3>Outils pour évaluer l’accessibilité</h3>
            <ul>
              {{ range $id, $value := . }}
              <li>{{ . }}</li>
              {{- end -}}
            </ul>
          {{ end }}
          {{/* END tools */}}
        {{ end }}
        {{/* END If audit */}}
        {{/* START If "pageslist" */}}
        {{ with ($data.Get "pageslist") }}
          <h3>Pages du site ayant fait l’objet de la vérification de conformité</h3>
          <ol>
            {{ range $id, $value := . }}<li>{{ if ge (len (split . "|")) 2 }}<a href="{{ index (split . "|") 1 }}">{{ index (split . "|") 0 }}</a>{{ else }}{{ . }}{{ end }}</li>
            {{ end }}
          </ol>
        {{ end }}
        {{/* END If "pageslist" */}}
    {{ end }}
    {{/* END If criteria */}}

    {{/* START If "organisation" */}}
    {{ if and ($data.Get "organisation") .contacts }}
      <h2>Retour d’information et contact</h2>
      <address>
        <p>Si vous n’arrivez pas à accéder à un contenu ou à un service, vous pouvez contacter le responsable de {{ with ($data.Get "organisation") }}<strong>{{ . }}</strong>{{ end }}{{ with .website }}, {{ . }}{{ end }} pour être orienté vers une alternative accessible ou obtenir le contenu
        sous une autre forme.</p>

        {{/* START contact */}}
        {{- with .contacts -}}
          <ul>
            {{ if .email }}<li>Envoyer un message à : <strong>{{ .email }}</strong></li>{{ end }}
            {{ if .address }}<li>Contacter : <strong>{{ with ($data.Get "organisation") }}{{ . }}, {{ end }}{{ with .address }}{{ . }}{{ end }}</strong></li>{{ end }}
          </ul>
        {{- end -}}
        {{/* END contact */}}
      </address>
    {{- end -}}
    {{/* END If "organisation" */}}

    <h2>Voies de recours</h2>
    <p>Cette procédure est à utiliser dans le cas suivant.</p>
    <p>Vous avez signalé au responsable du site internet un défaut d’accessibilité qui vous empêche d’accéder à un contenu
      ou à un des services du portail et vous n’avez pas obtenu de réponse satisfaisante.</p>
    <ul>
      <li><a href="https://formulaire.defenseurdesdroits.fr">Écrire un message au Défenseur des droits</a></li>
      <li><a href="https://www.defenseurdesdroits.fr/saisir/delegues">Contacter le délégué du Défenseur des droits dans
          votre région</a></li>
      <li>Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre)<br>
        Défenseur des droits<br>
        Libre réponse 71120<br>
        75342 Paris CEDEX 07<br></li>
    </ul>
  </section>

  {{- else -}}
    <p>Déclaration vide ; l’entête du fichier de contenu <code>accessibility.md</code> ou le fichier <code>/accessibility/context.yml</code> sont manquants.</p>
  {{- end -}}
  {{/* END If "context" */}}

{{- end -}}
{{/* END If "context" */}}
