{{- $audit := .audits -}}
{{- $context := .context -}}
{{- $project := cond (eq (len (split $context.Path "/")) 1) "" (replace (path.Dir $context.Path) "audits/" "") -}}
{{- $rootpath := (partialCached "render/rootpath" (dict "context" . "project" $project "type" "accessibility") $project "accessibility") -}}

{{/* Determine the version of the audit */}}
{{- $context.Scratch.Set "guidelinename" "rgaa" -}}
{{- $context.Scratch.Set "guidelineversion" "4.1" -}}
{{- with ($context.Scratch.Get "context").guidelines -}}
  {{- $guideline := (replace (. | urlize) "-" "") -}}
  {{- $context.Scratch.Set "guidelinename"    (cond (in $guideline "rgaa") "rgaa" (cond (in $guideline "wcag") "wcag" "none")) -}}
  {{- $context.Scratch.Set "guidelineversion" (replace $guideline ($.context.Scratch.Get "guidelinename") "") -}}
{{- end -}}
{{/* Load the criteria file for the good audit version */}}
{{- $.context.Scratch.Set "criteriafile" (index (index $.context.Site.Data ($.context.Scratch.Get "guidelinename")) ($.context.Scratch.Get "guidelineversion")).criteria.topics -}}

{{- $.context.Scratch.Set "organisation" (cond (ne $.context.Site.Params.organisation "") $.context.Site.Params.organisation "") -}}
{{- $.context.Scratch.Set "strategy"     (cond (ne $.Params.accessibility.strategy "") $.Params.accessibility.strategy (cond (ne $context.Site.Params.strategy "") $context.Site.Params.strategy "")) -}}

{{- $.context.Scratch.Set "auditpath-csv" (index $audit "auditfile-path") -}}

{{- if and ($.context.Scratch.Get "auditpath-csv") (ne ($.context.Scratch.Get "auditpath-csv") "/false") -}}
{{- $.context.Scratch.Set "scores" (partialCached "render/accessibility" (dict "context" $context "auditfile" ($.context.Scratch.Get "auditpath-csv")) ($.context.Scratch.Get "auditpath-csv")) -}}
{{- $date := (string (index ($.context.Scratch.Get "audits") "auditfile-name")) -}}
{{- $.context.Scratch.Set "date" (time $date) -}}
{{ with (partialCached "render/context.html" (dict "context" $context "project" $project) $project) }}
{{- $.context.Scratch.Set "context" (index . $date) -}}
{{- end -}}
{{/* Find if the audit file is by criteria or by tests */}}
{{- $auditmethodology := (index (partialCached "render/methodology.html" (dict "context" $context "auditfile" ($.Scratch.Get "auditfile-csv")) $context) "methodology") -}}
{{/* Create an array with all pages */}}
{{- $.context.Scratch.Set "pageslist" (index (partialCached "render/methodology.html" (dict "context" $context "auditfile" ($.Scratch.Get "auditfile-csv")) $context) "pageslist") -}}

{{- with ($.context.Scratch.Get "context") -}}
<h1 id="declaration">Déclaration d’accessibilité RGAA</h1>
<section>
  {{ if ($.context.Scratch.Get "organisation") }}
  <p>{{ with ($.context.Scratch.Get "organisation") }}{{ . }}{{ end }} s’engage à rendre ses sites internet, intranet, extranet et ses
    progiciels accessibles (et ses applications mobiles et mobilier urbain numérique) conformément à l’article 47 de la
    loi n°2005-102 du 11 février 2005.</p>
  {{- with $.context.Scratch.Get "strategy" -}}
  <p>À cette fin, elle met en œuvre la stratégie et les actions suivantes :</p>
  <ul>
    {{- with .schema -}}<li>Schéma pluriannuel de mise en accessibilité 2020-2022 : <a href="{{ . }}">Schéma pluriannuel</a></li>{{ end }}
    {{- with .actions -}}<li>Actions réalisées en 2019-2020 : <a href="{{ . }}">Actions réalisées</a></li>{{ end }}
    {{- with .plan -}}<li>Plan d’actions 2020-2021 : <a href="{{ . }}">Plan d’actions</a></li>{{ end }}
  </ul>
  {{- end -}}
  {{- with .website -}}<p>Cette déclaration d’accessibilité s’applique à {{ . }}.</p>{{ end }}
  {{ end }}

  <h2>État de conformité</h2>
  <p>{{ with $.context.Scratch.Get "organisation" }}{{ . }}{{ end }}{{ with .website }}, {{ . }}{{ end }} est {{ if ($.context.Scratch.Get "scores") }}{{ if lt (index ($.context.Scratch.Get "scores") "compliance") 50 }}non{{ else if ge (index ($.context.Scratch.Get "scores") "compliance") 50 }}partiellement{{ else if eq (index ($.context.Scratch.Get "scores") "compliance") 100 }}totalement{{ end }}{{ end }} conforme
    avec le référentiel général d’amélioration de l’accessibilité (RGAA), version 4 en raison des non-conformités et des
    dérogations énumérées ci-dessous.</p>

  <h3>Résultats des tests</h3>
  {{- if ($.context.Scratch.Get "scores").criteria -}}
  <p>L’audit de conformité par {{ with .condition }}{{ . }}{{ end }} révèle que :</p>

  <ul>
    {{- with partialCached "render/externals" (dict "context" $context "project" $project "auditfile" ($.context.Scratch.Get "auditpath-csv")) $context $project ($.context.Scratch.Get "auditpath-csv") -}}
    {{- $map := . -}}
    {{- if ne (len .compliance) 1 -}}
      {{/* Cumulated scores */}}
      <li>{{ .percentage }}% {{ with ($.context.Scratch.Get "scores").scores.criteria.total }}des {{ . }} critères {{ end }}{{ with ($.context.Scratch.Get "context").audit.guidelines }}du {{ . }}{{ end }} sont respectés sur l’ensemble des parcours.</li>
      {{ if ($.context.Scratch.Get "scores").criteria }}<li>{{ ($.context.Scratch.Get "scores").scores.compliance }}% {{ with ($.context.Scratch.Get "scores").scores.criteria.total }}des {{ . }} critères{{ end }} {{ with (index ($.context.Scratch.Get "scores") "criteretotal") }}testés {{ end }}{{ with ($.context.Scratch.Get "context").audit.guidelines }}du {{ . }}{{ end }} sont respectés {{ with ($.context.Scratch.Get "context").website }}pour {{ . }}{{ end }}</li>{{ end }}
        {{/* Specific score for sub services */}}
        {{ range $id, $value :=.names }}<li>{{ index $map.compliance $id }}% des {{ index $map.total $id }} critères du {{ with (index $map.context $id).audit }}{{ .guidelines }}{{ end }} sont respectés pour {{ . }}</li>{{ end }}
      {{- else -}}
        {{/* If any sub services */}}
        {{ if ($.context.Scratch.Get "scores").criteria }}<li>{{ ($.context.Scratch.Get "scores").scores.compliance }}% {{ with ($.context.Scratch.Get "scores").scores.criteria.total }}des {{ . }} critères{{ end }} {{ with (index ($.context.Scratch.Get "scores") "criteretotal") }}testés {{ end }}{{/* with ($.context.Scratch.Get "context").audit.guidelines }}du {{ . }}{{ end */}} sont respectés</li>{{ end }}
      {{- end -}}
    {{- end -}}
    <li class="hide">(Facultatif) Le taux moyen de conformité du site s’élève à n%</li>
    {{- if ($.context.Scratch.Get "auditpath-csv") -}}<li>Accès à la grille d’audit RGAA : <a href="{{ $context.Site.BaseURL | default "/" }}{{ replace ($.context.Scratch.Get "auditpath-csv") "/content/" "" }}">Télécharger la grille d’audit RGAA{{ with .website }} pour {{ . }}{{ end }}</a>{{- end -}}
    </li>
  </ul>
  {{- else -}}
  <p>Aucun test n’a été effectué, le site est donc non conforme.</p>
  {{ end }}

  {{- with ($.context.Scratch.Get "scores").criteria -}}
  {{- $score := . -}}
  <h2>Critères non conformes</h2>


  {{ partialCached "templates/validity.html" (dict "context" $context "audit" $audit "score" $score) $score }}

  <h2>Établissement de cette déclaration d’accessibilité</h2>

  {{ with ($.context.Scratch.Get "context") }}
  <p>Cette déclaration a été établie le <time datetime="{{ ($.context.Scratch.Get "date").Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ ($.context.Scratch.Get "date").Day }} {{ index $context.Site.Data.month (printf "%d" ($.context.Scratch.Get "date").Month) }} {{ ($.context.Scratch.Get "date").Year }}</time>.<span class="hide"> Elle a été mise à jour le JJ/MM/AAAA.</span></p>

  {{ with ($.context.Scratch.Get "context").audit }}
  <h3>Technologies utilisées</h3>
  <ul>
    {{- range $id, $value := .technologies -}}
    <li>{{ . }}</li>
    {{- end -}}
  </ul>
  {{ end }}
  {{ end }}

  {{ with ($.context.Scratch.Get "context").audit }}
  {{ with .environment }}
  <h3>Environnement de test</h3>
  <p>Les vérifications de restitution de contenus ont été réalisées sur la base de la combinaison fournie
    par la base de référence du RGAA, avec les versions suivantes :</p>
  <ul>
    {{- range $id, $value := . -}}
    <li>{{ . }}</li>
    {{- end -}}
  </ul>
  {{ end }}
  {{ with .tools }}
  <h3>Outils pour évaluer l’accessibilité</h3>
  <ul>
    {{ range $id, $value := . }}
    <li>{{ . }}</li>
    {{- end -}}
  </ul>
  {{ end }}
  {{ end }}
  {{ with ($.context.Scratch.Get "pageslist") }}
  <h3>Pages du site ayant fait l’objet de la vérification de conformité</h3>
  <ol>
    {{ range $id, $value := . }}<li>{{ if ge (len (split . "|")) 2 }}<a href="{{ index (split . "|") 1 }}">{{ index (split . "|") 0 }}</a>{{ else }}{{ . }}{{ end }}</li>
    {{ end }}
  </ol>
  {{ end }}
  {{ end }}

  {{ if and ($.context.Scratch.Get "organisation") .website .contacts }}
  <h2>Retour d’information et contact</h2>
  {{- if and ($.context.Scratch.Get "organisation") .website -}}
  <p>Si vous n’arrivez pas à accéder à un contenu ou à un service, vous pouvez contacter le responsable de {{ with ($.context.Scratch.Get "organisation") }}{{ . }}{{ end }}{{ with .website }}, {{ . }}{{ end }} pour être orienté vers une alternative accessible ou obtenir le contenu
    sous une autre forme.</p>
  {{- end -}}
  {{- with .contacts -}}
  <ul>
    {{ if .email }}<li>Envoyer un message à <strong>{{ .email }}</strong></li>{{ end }}
    {{ if .address }}<li>Contacter <strong>{{ with ($.context.Scratch.Get "organisation") }}{{ . }}, {{ end }}{{ with .address }}{{ . }}{{ end }}</strong></li>{{ end }}
  </ul>
  {{- end -}}
  {{- end -}}
  <h2>Voies de recours</h2>
  <p>Cette procédure est à utiliser dans le cas suivant.</p>
  <p>Vous avez signalé au responsable du site internet un défaut d’accessibilité qui vous empêche d’accéder à un contenu
    ou à un des services du portail et vous n’avez pas obtenu de réponse satisfaisante.</p>
  <ul>
    <li><a href="https://formulaire.defenseurdesdroits.fr">Écrire un message au Défenseur des droits</a></li>
    <li><a href="https://www.defenseurdesdroits.fr/saisir/delegues">Contacter le délégué du Défenseur des droits dans
        votre région</a></li>
    <li>Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre)<br>
      Défenseur des droits<br>
      Libre réponse 71120<br>
      75342 Paris CEDEX 07<br></li>
  </ul>
</section>
{{- else -}}
<p>Déclaration vide ; l’entête du fichier de contenu <code>accessibility.md</code> ou le fichier <code>/accessibility/context.yml</code> sont manquants.</p>
{{- end -}}
{{- end -}}
