{{- $context      := .context -}}
{{- $project      := partialCached "render/projectpath" $context $context -}}
{{- $data         := newScratch -}}
{{- $projectPath  := cond (fileExists (printf "audits/%s/index.md" ($project))) (printf "audits/%s/index.md" ($project)) (printf "audits/%s/_index.md" ($project)) -}}
{{- $projectTitle := ($context.GetPage $projectPath).Title -}}

<article class="fg-wrapper narrow">
{{- $data.Set "audits" (partialCached "render/lastfile.html" (dict "context" $context "project" $project "type" "greenit" "datafilename" .context.Params.datafilename) $project "greenit" .context.Params.datafilename) -}}
{{- $data.Set "auditpath-csv" (index ($data.Get "audits") "auditfile-path") -}}

{{- if and ($data.Get "auditpath-csv") (ne ($data.Get "auditpath-csv") "/false") -}}
  {{- $data.Set "auditfile-csv" (getCSV "," ($data.Get "auditpath-csv")) -}}
  {{- $data.Set "scores" (partialCached "render/greenit.html" (dict "auditfile" ($data.Get "auditpath-csv")) ($data.Get "auditpath-csv") ) -}}

  {{/* START Test if the csv file has a good name : YYYY-MM-DD.csv */}}
    {{- if ne "0" (printf "%v" (len (findRE "((?:19|20)\\d\\d)-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])" (index ($data.Get "audits") "auditfile-name")))) -}}
      {{- $data.Set "date" (time (string (index ($data.Get "audits") "auditfile-name"))) -}}
    {{- else -}}
      {{- $data.Set "date" now -}}
      {{- warnf "The file %s has a bad name, it should be a date YYYY-MM-DD.csv" (index ($data.Get "audits") "auditfile-path") -}}
    {{- end -}}
  {{/* END Test if the csv file has a good name : YYYY-MM-DD.csv */}}

  {{- if $project -}}<p>← <a href="{{ site.BaseURL | default "/" }}{{- with $project -}}{{ printf "audits/%s/" . }}{{- end -}}" class="link-more link-back" aria-label="Retour à la page {{ ($context.GetPage $project).Title }}">Retour à la page projet</a></p>{{- end -}}
  <h1>Synthèse 74 bonnes pratiques GreenIT{{ with $projectTitle }}<small> pour {{ partialCached "utils/isURL.html" (dict "context" $context "projectTitle" $projectTitle) $projectTitle }}</small>{{ end }}</h1>

  {{/* START Display page note if exists */}}
  {{- with .context.Params.note -}}
    <div class="note">
      {{ . | markdownify }}
    </div>
  {{- end -}}
  {{/* END Display page note if exists */}}

  {{- $data.Set "guidelinename" "greenit" -}}
  {{- $data.Set "guidelineversion" "0.3" -}}
  {{- $criteriafile := (index (index $context.Site.Data ($data.Get "guidelinename")) ($data.Get "guidelineversion")).criteres -}}

  {{- if and ($data.Get "auditfile-csv") -}}
  <h2 class="text-center">Scores{{- with ($data.Get "scores").scores.criteria -}}&nbsp;-&nbsp;{{- .total -}}&nbsp;critères{{ end }}</h2>
  <time class="text-center" datetime="{{ ($data.Get "date").Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">Le {{ ($data.Get "date").Day }} {{ index $.context.Site.Data.month (printf "%d" ($data.Get "date").Month) }} {{ ($data.Get "date").Year }}</time>

  {{- if or ($data.Get "scores").scores.compliance (eq ($data.Get "scores").scores.compliance 0) -}}
      {{- $conforme := ($data.Get "scores").scores.compliance -}}
      {{- partialCached "components/scores/greenit" (dict "context" . "score" $conforme) $conforme -}}
  {{- end -}}

  {{- $data.Set "key" slice }}
  {{- range $key, $value := $criteriafile }}
    {{- $data.Set "potentiel" 0 -}}
    {{- range $key, $value := $value.potentiel }}
      {{- $data.Add "potentiel" (float $value) -}}
    {{ end -}}
    {{ $divider := ((index ($data.Get "scores").criteria.all (string $value.id))) }}
    {{- $score := div 100 (add (div $value.priority $value.difficulty) (div ($data.Get "potentiel") 10)) | lang.NumFmt 2 -}}
    {{ with $divider }}{{- $score  = sub (float $score) (mul (div (float $score) 5) (int .)) | lang.NumFmt 0 -}}{{ end }}
    {{- $data.Add "key" (string $score) }}
    {{- $data.SetInMap (printf "slice%s" $score) (string $key) .id -}}
    {{- $data.SetInMap "criteriascores" (string $score) (sort ($data.Get (printf "slice%s" $score))) -}}
  {{ end -}}

    <h2>Actions par ordre de moindre effort pour les compléter</h2>
    {{- range $id, $score := first 3 (sort (uniq ($data.Get "key"))) }}
      {{ $top := index ($data.Get "criteriascores") . }}
      {{- range $key, $value := ($data.Get "scores").criteria.all }}
        {{- $data.Set "potentiel" 0 -}}
        {{ $value := index (where $criteriafile "id" $key) 0 }}
        {{- if gt (len (intersect (slice $value.id) $top)) 0 }}
          {{ range $key, $value := $value.potentiel }}
            {{- $data.Add "potentiel" $value -}}
          {{ end -}}
          <h4>#{{ $value.id }} {{ $value.title }}</h4>
          {{ $Scores := div 100 (add (div $value.priority $value.difficulty) (div ($data.Get "potentiel") 10)) | lang.NumFmt 0 }}
          <p hidden>{{- $Scores -}} - --{{ $score }}</p>
        {{ end -}}
      {{ end -}}
    {{ end -}}
  {{- end -}}

  <h2>Actions en fonction de leur avancée</h2>
  {{ range (seq 5) }}
    {{- $counter := . }}
    {{ if (index ($data.Get "scores").criteria (string $counter)) }}<h3>Critères avec le score de {{ . }}</h3>{{ end }}
    {{- range (sort (uniq ($data.Get "key"))) }}
    {{ $top := index ($data.Get "criteriascores") . }}
    {{- range $key, $value := (index ($data.Get "scores").criteria (string $counter)) }}
      {{- $data.Set "potentiel" 0 -}}
      {{ $value := index (where $criteriafile "id" $key) 0 }}
      {{ if gt (len (intersect (slice $value.id) $top)) 0 }}
        {{ range $key, $value := $value.potentiel }}
          {{- $data.Add "potentiel" $value -}}
        {{ end }}
        <h4>#{{ $value.id }} {{ $value.title }}</h4>
        {{ $Scores := div 100 (add (div $value.priority $value.difficulty) (div ($data.Get "potentiel") 10)) | lang.NumFmt 0 }}
        <p hidden>
          {{- $Scores -}} - {{- div (float $Scores) 5 -}}<br>
          Effort pour compléter l’action : {{- sub (float $Scores) (mul (div (float $Scores) 5) $counter) | lang.NumFmt 0 -}}
        </p>
      {{ end -}}
      {{ end -}}
    {{ end -}}
  {{- end -}}

{{- end -}}
</article>
