{{/* Vars */}}
{{- $patharray := split (path.Dir .context.Path) "/" -}}
{{- $context   := .context -}}
{{- $project   := partialCached "render/projectpath" $context $context -}}
{{- $projectPath  := cond (fileExists (printf "audits/%s/index.md" ($project))) (printf "audits/%s/index.md" ($project)) (printf "audits/%s/_index.md" ($project)) -}}
{{- $projectTitle := ($context.GetPage $projectPath).Title -}}
{{/* Test if files are in static or in each projets */}}
{{- $.context.Scratch.Set "lastfile" (index (partialCached "render/lastfile.html" (dict "context" $context "project" $project "type" "lighthouse") $project "lighthouse") "auditfile-path") -}}

<article class="wrapper narrow">
  {{- if $project -}}<p>← <a href="{{ site.BaseURL | default "/" }}{{- with $project -}}{{ printf "audits/%s/" . }}{{- end -}}" class="link-more link-back" aria-label="Retour à la page {{ ($context.GetPage $project).Title }}">Retour à la page projet</a></p>{{- end -}}
  <h1>{{ with .Title }}{{ . }}{{ else }}Audit Performance{{ end }} {{ with $projectTitle }}<small> pour {{ partialCached "utils/isURL.html" (dict "context" $context "projectTitle" $projectTitle) $projectTitle }}</small>{{ end }}</h1>
  {{- partial "elements/content.html" .context.Content -}}
  {{/* Range performance file */}}
  {{- if ne ($.context.Scratch.Get "lastfile") "/false" -}}
  <h2>Scores</h2>
  {{- with index (partialCached "render/lastfile.html" (dict "context" . "project" $project "type" "lighthouse") $project "lighthouse") "auditfile-path" -}}
    {{- partial "components/scores/performance" (dict "context" $context "counter" (partialCached "render/performance" (dict "context" $context "project" $project "auditfile" .) $project .)) -}}
  {{- end -}}
  {{- with ($.context.Scratch.Get "lastfile") -}}
  {{/* Vars with the last file of the lighthouse directory */}}
  <h2>Règles</h2>
  {{- partial "utils/css.html" (dict "context" $.context "filefolder" "overgo/object" "filename" "summary") -}}
  {{ $lastfile := getJSON ($.context.Scratch.Get "lastfile") }}
    {{/* Range the file */}}
    {{- range $key, $value := sort (index $lastfile "audits") ".score" "asc" -}}
    {{/* Display only errors - with score different of null */}}
    {{- if and (not (eq (string .score) "1")) (not (eq (string .score) "null")) (.score) (.details) -}}
    <details>
      <summary><h3 class="m-0 d-inline-block">{{ if lt .score 0.5 }}<small class="counter bad">Haute</small> {{ else if eq .score 0.5 }}<small class="counter medium">Medium</small> {{ else if gt .score 0.5 }}<small class="counter good">Faible</small> {{ end }}{{ .id }}</h3></summary>
      <p>
        {{ i18n (printf "/%s%s" .id "description") | markdownify }}<br>
        => <small><strong>{{ replace (replace .displayValue "Potential savings of" "Gain potentiel") "resources found" "ressources trouvées" }}</strong></small>
      </p>
      <ul>
        {{- range .details.items -}}
          {{- if and (not (eq .url "Unattributable")) .url -}}<li>{{ .url }}</li>{{- end -}}
        {{ end }}
      </ul>
    </details>
    {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- else -}}
  <p>Aucun fichier de test n’est présent dans le répertoire : {{ (partialCached "render/rootpath" (dict "context" . "project" $project "type" "accessibility") $project "accessibility") }}/{{ $project }}/lighthouse</p>
  {{- end -}}
</article>


