{{- $.Scratch.Delete "allscores" -}}
{{- $.Scratch.Delete "projectfolders" -}}
{{- if (where .Site.RegularPages "Section" "projects") -}}
{{- $.Scratch.Set "rangepages" (where .Site.RegularPages "Section" "projects") -}}
{{- else -}}
{{- $.Scratch.Set "rangepages" (where .Site.Pages "Section" "audits") -}}
{{- end -}}
{{- if ($.Scratch.Get "rangepages") -}}
<section class="section text-center">
<div class="wrapper">
<h2 hidden>{{ with .Site.GetPage "projects" }}{{ .Title }}{{ end }}</h2>
<br>
{{/* Build a map with all accessibility score for using it later in code */}}
{{- range sort ($.Scratch.Get "rangepages") ".Title" "desc" -}}
  {{- $project := (replace (index (split (path.Dir .Path) "/") 1) ".md" "") -}}
  {{- $context := . -}}
  {{- range $id, $value := (index (partialCached "render/lastfile.html" (dict "context" . "project" $project "type" "accessibility" "datafilename" .Params.datafilename) $project) "auditfile-all-path") -}}
    {{- $.Scratch.SetInMap $project (string $id) (partialCached "render/accessibility" (dict "context" $context "auditfile" . ) .) -}}
  {{- end -}}
  {{- $.Scratch.SetInMap "allscores" $project ($.Scratch.Get $project) -}}
{{- end -}}

<ul class="list-unstyled">
{{- range sort ($.Scratch.Get "rangepages") ".Title" "desc" -}}
{{/* Build $pathfirst & $pathlast when projects type page existe <= to remove */}}
{{- $pathfirst := first 1 (split (path.Dir .Path) "/") -}}
{{- $pathlast  := substr (path.Base .Path) -8 -}}
{{- if or (intersect $pathfirst (slice "projects")) (eq $pathlast "index.md") -}}
{{- $patharray := split (path.Dir .Path) "/" -}}
{{- $project := index $patharray 1 -}}
{{- $.Scratch.Set "rootpath" (partial "render/rootpath" (dict "context" . "project" $project "type" "accessibility")) -}}
{{- $.Scratch.Set "projectfolders" (cond (eq ($patharray) 2) (printf "%s" ($.Scratch.Get "rootpath")) (printf "%s/%s" ($.Scratch.Get "rootpath") $project)) -}}

{{- $accessibilitypath := "" -}}
{{- $accessibilitypath := (index (partialCached "render/lastfile.html" (dict "context" . "project" $project "type" "accessibility" "datafilename" .Params.datafilename) $project) "auditfile-path") -}}
{{- $accessibility     := (fileExists (printf "%s" $accessibilitypath)) -}}
{{- $quality           := (fileExists (printf "/%s/quality/" ($.Scratch.Get "projectfolders"))) -}}
{{- $lighthouse        := (fileExists (printf "/%s/lighthouse/" ($.Scratch.Get "projectfolders"))) -}}
  <li>
    <a class="card-inline card-shadow" href="{{ .Permalink }}">
      <h3 class="h4">{{ .Title }}</h3>
      {{- if or $accessibility $quality $lighthouse -}}
      <div class="flex flex-gap align-items-center text-center lh-1">
      {{- if $quality -}}<p class="mb-0">{{- partialCached "components/scores/quality-small" (dict "context" . "counter" (partialCached "render/quality" (dict "context" . "project" $project) $project)) $project -}}</p>{{ end }}
      {{- if $lighthouse -}}<p class="mb-0">{{- partial "components/scores/performance-small" (dict "context" . "project" $project) -}}</p>{{ end }}
      {{- if $accessibility -}}{{- $scoressmall := index (last 1 (sort (index ($.Scratch.Get "allscores") $project))) 0 -}}<p class="mb-0">{{- partialCached "components/scores/accessibility-small" (dict "context" . "scores" $scoressmall) $project -}}</p>{{ end }}
      </div>
      {{- end -}}
    </a>
  </li>
{{- end -}}
{{- end -}}
</ul>
</div>
</section>
{{- end -}}
