{{- $data         := newScratch -}}
{{- $data.Delete "allscores" -}}
{{- $data.Delete "projectfolders" -}}
{{- $data.Set "rangepages" (where .Site.RegularPages "Section" "audits") -}}
{{- $pageType := (index (where .OutputFormats "Permalink" "eq" .Permalink) 0).Format.BaseName -}}

{{- $data.Set "accessibility" slice -}}
{{- $data.Set "recommendation" slice -}}
{{- $data.Set "performance" slice -}}

{{- if ($data.Get "rangepages") -}}
  <div class="text-center">
      <h1 class="center">Monitoring {{ $pageType }}</h1>
      {{/* Build a map with all accessibility score for using it later in code :: maybe for catching progression or regression */}}
      {{- range sort ($data.Get "rangepages") ".Title" "desc" -}}
        {{- $project := (replace (index (split (path.Dir .Path) "/") 1) ".md" "") -}}
        {{- $context := . -}}
        {{- range $id, $value := (index (partialCached "render/lastfile.html" (dict "context" . "project" $project "type" "accessibility" "datafilename" .Params.datafilename) $project "accessibility") "auditfile-all-path") -}}
          {{- $data.SetInMap $project (string $id) (partialCached "render/accessibility.html" (dict "context" $context "auditfile" . ) .) -}}
        {{- end -}}
        {{- $data.SetInMap "allscores" $project ($data.Get $project) -}}
      {{- end -}}


      {{/* START Loop on all project in audits */}}
      {{- range sort ($data.Get "rangepages") ".Title" "asc" -}}

        {{- $context   := . -}}
        {{- $path      := (split (path.Dir .Path) "/") -}}

        {{- if (eq (len $path) 2) -}}
          {{- $project        := partialCached "render/projectpath" $context $context -}}
          {{- $rootPath       := partialCached "render/rootpath" (dict "context" . "project" $project "type" "accessibility") $project "accessibility" -}}
          {{- $projectFolders := cond (eq ($path) 2) (printf "%s" $rootPath) (printf "%s/%s" $rootPath $project) -}}

          {{- $accessibilitypath := "/false" -}}
          {{- $accessibilitypath := index (partialCached "render/lastfile.html" (dict "context" . "project" $project "type" "accessibility" "datafilename" .Params.datafilename) $project "accessibility") "auditfile-path" -}}
          {{- $accessibility     := fileExists (printf "%s" $accessibilitypath) -}}
          {{- $recommendation    := or (fileExists (printf "/%s/recommendations/" $projectFolders)) (fileExists (printf "/%s/recommendation/" $projectFolders)) (fileExists (printf "/%s/quality/" $projectFolders)) -}}
          {{- $lighthouse        := fileExists (printf "/%s/lighthouse/" $projectFolders) -}}

            {{- if or $accessibility $recommendation $lighthouse -}}
              {{- if eq $pageType "accessibility" -}}
                {{/* If Accessibility exists */}}
                {{- if $accessibility -}}
                  {{- $scoressmall := index (last 1 (sort (index ($data.Get "allscores") $project))) 0 -}}
                  {{ $data.Add "accessibility" $scoressmall.scores.compliance }}
                {{- end -}}
              {{- end -}}

              {{- if eq $pageType "recommendation" -}}
              {{/* If Recommendation exists */}}
              {{- if $recommendation -}}
                {{ $auditfile := (index (partialCached "render/lastfile.html" (dict "context" . "project" $project "type" "recommendation") $project "recommendation") "auditfile-path") }}
                {{ $data.Add "recommendation" (partialCached "render/quality" (dict "context" . "project" $project "auditfile" $auditfile) $auditfile).total }}
              {{- end -}}
              {{- end -}}

              {{- if eq $pageType "performance" -}}
                {{/* If Performance exists */}}
                {{- if $lighthouse -}}
                  {{- $lastfile    := (index (partialCached "render/lastfile.html" (dict "context" . "project" $project "type" "lighthouse") $project "lighthouse") "auditfile-path") -}}
                  {{- $performance := partialCached "render/performance.html" (dict "context" . "auditfile" $lastfile) $lastfile -}}
                  {{ $data.Add "performance" (div ($performance.LCP) 1000 | lang.NumFmt 1) }}
                {{- end -}}
              {{ end }}
          {{- end -}}
        {{- end -}}
      {{- end -}}
      {{/* END Loop on all project in audits */}}
      <div id="chartmonitoring"></div>
      <link rel="preload" href="{{ (resources.Get "js/frappe-charts.min.iife.js").Permalink }}" as="script">
      <script src="{{ (resources.Get "js/frappe-charts.min.iife.js").Permalink }}"></script>
      <script src="{{ (resources.Get "js/frappe-colors.js").Permalink }}"></script>
      <script>
          const options = {
              type: 'bar', // or 'bar', 'line', 'scatter', 'pie', 'percentage'
              height: 400,
              truncateLegends: true,
              barOptions: {
                  stacked: 1,
                  spaceRatio: 0.5
              },
              colors: [hslToHex(hslprimary),hslToHex(hslsecondary),hslToHex(hsltertiary),hslToHex(hslquartenary)]
          }
          const data = {
              labels: [{{- range $id, $value := sort ($data.Get "rangepages") ".Title" "asc" -}}{{ if ne $id 0 }},{{ end }}"{{ .Title }}"{{- end -}}],
              datasets: [
                {
                  {{- if eq $pageType "accessibility" -}}
                  name: "Accessibilité",
                  values: [{{- range $id, $value := sort ($data.Get "rangepages") ".Title" "asc" -}}{{ if ne $id 0 }},{{ end }}"{{ index ($data.Get "accessibility") $id }}"{{- end -}}]
                  {{- end }}
                  {{- if or (eq $pageType "recommendation") (eq $pageType "quality") -}}
                  name: "Recommandations",
                  values: [{{- range $id, $value := sort ($data.Get "rangepages") ".Title" "asc" -}}{{ if ne $id 0 }},{{ end }}"{{ index ($data.Get "recommendation") $id }}"{{- end -}}]
                  {{- end }}
                  {{- if eq $pageType "performance" -}}
                  name: "performance",
                  values: [{{- range $id, $value := sort ($data.Get "rangepages") ".Title" "asc" -}}{{ if ne $id 0 }},{{ end }}"{{ index ($data.Get "performance") $id }}"{{- end -}}]
                  {{- end }}
                  }
              ],
              {{- if eq $pageType "accessibility" -}} yMarkers: [{ label: "Conformité RGAA", value: 100 }],{{- end }}
          }
          const chartpagechartpagecriteres = new frappe.Chart("#chartmonitoring", {
              title: "Score pour chaque service numérique",
              data: data,
              ...options
          })
      </script>
      <br>
      <hr>
      <br>
      <table class="text-left">
        <thead>
          <tr>
            <th>Projet</th>
            <th class="text-center w-120">Score</th>
          </tr>
        </thead>
        <tbody>
          {{- range $id, $value := sort ($data.Get "rangepages") ".Title" "asc" -}}
          <tr>
            <td>{{ .Title }}</td>
            {{- if eq $pageType "accessibility" -}}
            <td class="text-center"><strong>{{ with (index ($data.Get "accessibility") $id) }}{{ . }}%{{ else }}NA{{ end }}</strong></td>
            {{- end }}
            {{- if or (eq $pageType "recommendation") (eq $pageType "quality") -}}
            <td class="text-center"><strong>{{ with (index ($data.Get "recommendation") $id) }}{{ . }}{{ else }}NA{{ end }}</strong></td>
            {{- end }}
            {{- if eq $pageType "performance" -}}
            <td class="text-center"><strong>{{ with (index ($data.Get "performance") $id) }}{{ . }}{{ else }}NA{{ end }}</strong></td>
            {{- end }}
          </tr>
          {{- end -}}
        </tbody>
      </table>
  </div>
{{- end -}}
