{{- $.Scratch.Delete "allscores" -}}
{{- $.Scratch.Delete "projectfolders" -}}
{{- $.Scratch.Set "rangepages" (where .Site.Pages "Section" "audits") -}}
{{- if ($.Scratch.Get "rangepages") -}}
  <section class="section text-center">
    <div class="fg-wrapper">
      {{/* Build a map with all accessibility score for using it later in code :: maybe for catching progression or regression */}}
      {{- range sort ($.Scratch.Get "rangepages") ".Title" "desc" -}}
        {{- $project := partialCached "render/projectpath" . . -}}
        {{- $context := . -}}
        {{- if and (in (path.Base .Path) "index.md") (not (in "/audits/_index.md" .Path)) -}}
          {{- range $id, $value := (index (partialCached "render/lastfile.html" (dict "context" . "project" $project "type" "accessibility" "datafilename" .Params.datafilename) $project "accessibility") "auditfile-all-path") -}}
            {{- $.Scratch.SetInMap $project (string $id) (partialCached "render/accessibility.html" (dict "auditfile" . ) .) -}}
          {{- end -}}
        {{- end -}}
        {{- $.Scratch.SetInMap "allscores" $project ($.Scratch.Get $project) -}}
      {{- end -}}

      {{ if ($.Scratch.Get "rangepages") }}
      {{- partialCached "utils/css.html" (dict "context" . "filefolder" "object" "filename" "card") "card" -}}
      <ul class="list-unstyled" role="navigation">
      {{/* START Loop on all project in audits */}}

      {{- range sort ($.Scratch.Get "rangepages") ".Title" "asc" -}}
        {{- if and (in (path.Base .Path) "index.md") (not (in "/audits/_index.md" .Path)) -}}
        {{- $context   := . -}}
        {{- $path      := (split (path.Dir (replace .Path "//" "/")) "/") -}}

        {{- if (eq (len $path) 2) -}}

          {{- $project        := partialCached "render/projectpath" $context $context -}}
          {{- $rootPath       := partialCached "render/rootpath" (dict "context" . "project" $project "type" "accessibility") $project "accessibility" -}}
          {{- $projectFolders := cond (eq ($path) 2) (printf "%s" $rootPath) (printf "%s/%s" $rootPath $project) -}}

          {{- $accessibilitypath := "/false" -}}
          {{- $accessibilitypath := index (partialCached "render/lastfile.html" (dict "context" . "project" $project "type" "accessibility" "datafilename" .Params.datafilename) $project "accessibility") "auditfile-path" -}}
          {{- $accessibility     := fileExists (printf "%s" $accessibilitypath) -}}
          {{- $ecoconception     := fileExists (printf "/%s/rgesn/" $projectFolders) -}}
          {{- $recommendation    := or (fileExists (printf "/%s/recommendations/" $projectFolders)) (fileExists (printf "/%s/recommendation/" $projectFolders)) (fileExists (printf "/%s/quality/" $projectFolders)) -}}
          {{- $lighthouse        := fileExists (printf "/%s/lighthouse/" $projectFolders) -}}
          {{- $declaration       := cond (fileExists "/data/websites.json") true false -}}
          <li class="enlarge-link card-inline card-shadow">
              <h2 id="{{ .Title | anchorize }}" class="font-normal font-bold">
                <a class="link-text" href="{{ .Permalink }}" aria-labelledby="{{ .Title | anchorize }}">{{ .Title }}</a>
              </h2>
              {{- if or $accessibility $recommendation $lighthouse -}}
              <div class="flex flex-gap align-items-center text-center lh-1">
                {{/* If Declaration exists */}}
                {{- with $declaration -}}
                  <p class="mb-0">{{ if eq ((index (first 1 (where $.Site.Data.websites "name" "eq" .Title)) 0).declaration) true }}<svg role="img" aria-label="Présente" xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" fill="none" stroke="#22961e" stroke-width="3.5" stroke-linecap="square" stroke-linejoin="bevel"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg></span>{{ else }}<svg xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Non présente" width="24" viewBox="0 0 24 24" fill="none" stroke="#b00202" stroke-width="3.5" stroke-linecap="square" stroke-linejoin="bevel"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12" y2="16"></line></svg>{{ end }}<br><small>Déclaration</small></p>
                {{- end -}}

                {{/* If Recommendation exists */}}
                {{- if $recommendation -}}
                  {{ $auditfile := (index (partialCached "render/lastfile.html" (dict "context" . "project" $project "type" "recommendation") $project "recommendation") "auditfile-path") }}
                  <p class="mb-0">{{- partialCached "components/scores/quality-small" (dict "context" . "counter" (partialCached "render/recommendation" (dict "context" . "project" $project "auditfile" $auditfile) $auditfile)) $project -}}</p>
                {{- end -}}

                {{/* If Performance exists */}}
                {{- if $lighthouse -}}
                  <p class="mb-0">{{- partialCached "components/scores/performance-small" (dict "context" . "project" $project) $project -}}</p>
                {{- end -}}

                {{/* If Ecoconception exists */}}
                {{- if $ecoconception -}}
                  <p class="mb-0">{{- partialCached "components/scores/ecoconception-small" (dict "context" . "project" $project) $project -}}</p>
                {{- end -}}
                {{/* If Accessibility exists */}}
                {{- if and $accessibility (index ($.Scratch.Get "allscores") $project) -}}
                  {{- $scoressmall := index (last 1 (sort (index ($.Scratch.Get "allscores") $project))) 0 -}}
                  <p class="mb-0">{{- partialCached "components/scores/accessibility-small" (dict "context" . "scores" $scoressmall) $project -}}</p>
                {{- end -}}
              </div>
              {{- end -}}
          </li>
        {{- end -}}
        {{- end -}}
      {{- end -}}
      {{/* END Loop on all project in audits */}}
      </ul>
      {{- else -}}
        <p>Aucun service web n’a été créé.</p>
      {{- end -}}
    </div>
  </section>
{{- end -}}
