{{- $context       := . -}}
{{- $project       := (partial "render/projectpath" $context $context) -}}
{{- $OutputFormats := cond (fileExists "content/audits/_index.md") ($context.GetPage "/audits/_index.md").OutputFormats (cond (fileExists "content/audits/index.md") ($context.GetPage "/audits/index.md").OutputFormats .OutputFormats) -}}

{{- if and (ne $project "audits") (ne .Path "audits") -}}
<section class="fg-wrapper narrow">
    <p class="no-print">← <a href="{{ .Parent.Permalink }}" class="link-more link-back">Retour à la liste des {{ .Parent.Title }}</a></p>
    {{/* Load lasts file */}}
    {{- $.Scratch.Set "accessibility-lastfile"  (partialCached "render/lastfile.html" (dict "context" . "project" $project "type" "accessibility" "datafilename" .Params.datafilename) $project "accessibility" .Params.datafilename) -}}
    {{- $.Scratch.Set "accessibility-path"      (index ($.Scratch.Get "accessibility-lastfile") "auditfile-path")     -}}
    {{- $.Scratch.Set "accessibility-all-path"  (index ($.Scratch.Get "accessibility-lastfile") "auditfile-all-path") -}}
    {{- $.Scratch.Set "accessibility-all-name"  (index ($.Scratch.Get "accessibility-lastfile") "auditfile-all-name") -}}

    {{- $accessibility  := fileExists (index (partialCached "render/lastfile.html" (dict "context" $context "project" $project "type" "accessibility")  $project "accessibility") "auditfile-path") -}}
    {{- $recommendation := fileExists (index (partialCached "render/lastfile.html" (dict "context" $context "project" $project "type" "recommendation") $project "recommendation") "auditfile-path") -}}
    {{- $lighthouse     := fileExists (index (partialCached "render/lastfile.html" (dict "context" $context "project" $project "type" "lighthouse")     $project "lighthouse") "auditfile-path") -}}

    {{/* START - Display medium compliance */}}
    {{- if and $accessibility (eq (len (split $project "/")) 1) -}}
      {{- with partialCached "render/externals" (dict "context" $context "project" $project "auditfile" ($.Scratch.Get "accessibility-path")) $context $project ($.Scratch.Get "accessibility-path") -}}
        {{- if ne (len .compliance) 1 -}}
          {{- $.Scratch.Set "subservice" true -}}
          <div class="scores grid"><ul><li class="medal text-center d-inline-block"><span><b class="h2">{{ .percentage }}%</b>Conformité moyenne</span></li></ul></div>
          <hr>
        {{- end -}}
      {{- end -}}
    {{- end -}}
    {{/* END - Display medium compliance */}}

    {{/* START - If accessibility and recommendation and lighthouse */}}
    {{- if or $accessibility $recommendation $lighthouse -}}
    <h2 class="text-center">{{ if $.Scratch.Get "subservice" }}Site principal{{ else }}Scores{{ end }}</h2>
    {{- with .OutputFormats.Get "declarationpage" -}}<p class="text-center"><a href="{{ .RelPermalink }}">Accéder à la déclaration</a></p>{{- end -}}

    {{/* START - If accessibility */}}
    {{- if $accessibility -}}
      {{- $.Scratch.Set "render" slice -}}
      {{- $.Scratch.Set "audit" (partialCached "render/accessibility.html" (dict "auditfile" ($.Scratch.Get "accessibility-path")) ($.Scratch.Get "accessibility-path")) -}}
      <h3 class="m-0">Accessibilité
        {{- if or ($.Scratch.Get "audit").scores.compliance (eq ($.Scratch.Get "audit").scores.compliance 0) -}}
          {{- $pageauditpath := (printf "/content/audits/%s/accessibility.md" ($project | urlize)) -}}
          {{- if (fileExists $pageauditpath) -}}
            <small>- <a href="{{ site.BaseURL | default "/" }}{{ replace (replace (replace $pageauditpath ".md" "/") "/content/" "") "//" "/" }}" aria-label="Accéder au rapport d’accessibilité">Accéder au rapport</a></small>
          {{- else -}}
            {{- with (first 1 (where (where $OutputFormats "MediaType.Type" "eq" "text/html") "Format.BaseName" "eq" "accessibility")) }}
              {{- $AuditLink := cond (in $project (index . 0).Permalink) (index . 0).Permalink (printf "%saudits/%s%s.html" $context.Site.BaseURL (cond (not $project) "" (printf "%s/" $project)) (index . 0).Format.BaseName) -}}
              <small>- <a href="{{ $AuditLink }}" aria-label="Accéder au rapport d’accessibilité">Accéder au rapport</a></small>
            {{- end -}}
          {{- end -}}
        {{- end -}}
      </h3>
      {{- if or ($.Scratch.Get "audit").scores.compliance (eq ($.Scratch.Get "audit").scores.compliance 0) -}}
        {{- $conforme := ($.Scratch.Get "audit").scores.compliance -}}
        {{- partialCached "components/scores/accessibility" (dict "context" . "score" $conforme) $conforme -}}
      {{- else -}}
        <p>L’audit de conformité est en cours.</p>
      {{- end -}}

      {{/* START - If several accessibility files */}}
      {{- with ($.Scratch.Get "accessibility-all-path") -}}
        {{- range $id, $value := . -}}{{- ($.Scratch.Add "render" (slice (partialCached "render/accessibility.html" (dict "auditfile" . ) . ))) -}}{{- end -}}
      {{- end -}}
      {{- with ($.Scratch.Get "render") -}}
        {{- if gt (len .) 1 -}}
        <link rel="preload" href="{{ (resources.Get "js/frappe-charts.min.iife.js").Permalink }}" as="script">
        <script src="{{ (resources.Get "js/frappe-charts.min.iife.js").Permalink }}"></script>
        <script src="{{ (resources.Get "js/frappe-colors.js").Permalink }}"></script>
        <div id="chartaccessibility">
          <table>
            <caption>Taux de conformité dans le temps</caption>
            <thead>
              <tr>
                <th>Date d’audit</th>
                <th>Taux de conformité</th>
              </tr>
            </thead>
            <tbody>
              {{- range $id, $value := . -}}
              <tr>
                {{- $date := index ($.Scratch.Get "accessibility-all-name") (string $id) -}}
                <th>{{ (time $date).Day }} {{ index $.Site.Data.month (printf "%d" (time $date).Month) }} {{ (time $date).Year }}</th>
                <td>{{- .scores.compliance -}} %</td>
              </tr>
              {{- end -}}
            </tbody>
          </table>
        </div>
        <script>
            const dataaccessibility = {
                labels: [{{- range $id, $value := ($.Scratch.Get "accessibility-all-name") -}}{{ if ne $id "0" }},{{ end }}"{{ (time $value).Day }} {{ index $.Site.Data.month (printf "%d" (time $value).Month) }} {{ (time $value).Year }}"{{- end -}}],
                datasets: [
                  {
                    name: "Conformité",
                    values: [{{- range $id, $value := . -}}{{ if ne $id 0 }},{{ end }}"{{- .scores.compliance -}}"{{- end -}}]
                  }
                ],
                yRegions: [{ label: "", start: 0, end: 100 }]
            }
            const chartaccessibility = new frappe.Chart("#chartaccessibility", {
                title: "Taux de conformité dans le temps (en %)",
                data: dataaccessibility,
                type: 'bar',
                height: 400,
                lineOptions: {
                    regionFill: 1
                },
                truncateLegends: true,
                colors: [hslToHex(hsltertiary),hslToHex(hslquartenary),hslToHex(hslprimary),hslToHex(hslsecondary)]
            })
        </script>
        {{- end -}}
      {{- end -}}
      {{/* END - If several accessibility files */}}
    {{- end -}}
    {{/* END - If Accessibility */}}

    {{/* START - If Recommendation */}}
    {{- if $recommendation -}}
      <h3 class="m-0">
        Recommandations
        {{- with (first 1 (where (where $OutputFormats "MediaType.Type" "eq" "text/html") "Format.BaseName" "eq" "recommendation")) -}}
          {{- $AuditLink := cond (in $project (index . 0).Permalink) (index . 0).Permalink (printf "%saudits/%s%s.html" $context.Site.BaseURL (cond (not $project) "" (printf "%s/" $project)) (index . 0).Format.BaseName) -}}
          <small> - <a href="{{ $AuditLink }}" aria-label="Accéder au rapport de recommandations">Accéder au rapport</a></small>
        {{- end -}}
        {{ $pagequality        := (printf "/content/audits/%s/quality.md" ($project | anchorize)) }}
        {{ $pagerecommendation := (printf "/content/audits/%s/recommendation.md" ($project | anchorize)) }}
        {{ $pageauditpath      := cond (fileExists $pagerecommendation) ($pagerecommendation) (cond (fileExists $pagequality) ($pagequality) false) -}}
        {{- if $pageauditpath -}}
        <small> - <a href="{{ site.BaseURL | default "/" }}{{ replace (replace (replace $pageauditpath ".md" "/") "/content/" "") "//" "/" }}" aria-label="Accéder au rapport de recommandations">Accéder au rapport</a></small>
        {{- end -}}
      </h3>
      {{- with index (partialCached "render/lastfile.html" (dict "context" . "project" $project "type" "recommendation") $project "recommendation") "auditfile-path" -}}
        {{- partialCached "components/scores/quality" (dict "context" $context "counter" (partialCached "render/recommendation" (dict "context" $context "project" $project "auditfile" .) .)) $context (partialCached "render/recommendation" (dict "context" $context "project" $project "auditfile" .) .) -}}
      {{- end -}}
    {{- end -}}
    {{/* START - If several recommendations files */}}
      {{- with (index (partialCached "render/lastfile.html" (dict "context" . "project" $project "type" "recommendation") $project "recommendation") "auditfile-all-path") -}}
      {{- if (gt (len .) 1) -}}
        {{- range $id, $value := . -}}
          {{- ($.Scratch.SetInMap "renderrecommendation" (string $id) (partialCached "render/recommendation" (dict "context" $context "auditfile" . ) . )) -}}
        {{- end -}}
        <div id="chartrecommendation"></div>
          <script>
              const datarecommendation = {
                  labels: [{{- range $id, $value := ($.Scratch.Get "renderrecommendation") -}}{{ if ne $id "0" }},{{ end }}"{{ (time $value.date).Day }} {{ index $.Site.Data.month (printf "%d" (time $value.date).Month) }} {{ (time $value.date).Year }}"{{- end -}}],
                  datasets: [
                    {
                      name: "Erreurs",
                      values: [{{ range $id, $value := ($.Scratch.Get "renderrecommendation") }}{{ if ne $id "0" }},{{ end }}"{{ .total }}"{{- end -}}],
                      chartType: 'bar'
                    }
                  ],
                  yRegions: [{ label: "", start: 0, end: 30 }]
              }
              const chartrecommendation = new frappe.Chart("#chartrecommendation", {
                  title: "Préconisations relevées",
                  data: datarecommendation,
                  type: 'axis-mixed',
                  height: 300,
                  truncateLegends: true,
                  colors: [hslToHex(hsltertiary),hslToHex(hslquartenary),hslToHex(hslprimary),hslToHex(hslsecondary)]
              })
          </script>
      {{- end -}}
      {{- else -}}
        {{- if and (partialCached "render/notepath" . .) (eq (len (where .OutputFormats "RelPermalink" "in" (slice (printf "/audits/%s/quality.html" $project) (printf "/audits/%s/recommendation.html" $project)))) 1) -}}
          <h3 class="m-0">
            Recommandations
            <small> -
              <a href="{{ site.BaseURL | default "/" }}{{ printf "%s/quality.html" (path.Dir .Path) }}" aria-label="Accéder au rapport de recommandations">Accéder au rapport</a>
            </small>
          </h3>
          <br>
        {{- end -}}
      {{- end -}}
      {{/* END - If several recommendation files */}}
    {{/* END - If recommendation */}}

    {{/* START - If Lighthouse */}}
    {{- if $lighthouse -}}
      <h3 class="m-0">Performance {{ with (first 1 (where (where $OutputFormats "MediaType.Type" "eq" "text/html") "Format.BaseName" "eq" "performance"))   }}
        {{- $AuditLink := cond (in $project (index . 0).Permalink) (index . 0).Permalink (printf "%saudits/%s%s.html" $context.Site.BaseURL (cond (not $project) "" (printf "%s/" $project)) (index . 0).Format.BaseName) -}}
        <small>- <a href="{{ $AuditLink }}" aria-label="Accéder au rapport de performance">Accéder au rapport</a></small>{{ end }}{{ $pageauditpath := (printf "/content/audits/%s/performance.md" ($project | anchorize)) }}{{- if (fileExists $pageauditpath) -}}<small>- <a href="{{ site.BaseURL | default "/" }}{{ replace (replace (replace $pageauditpath ".md" "/") "/content/" "") "//" "/" }}" aria-label="Accéder au rapport de performance">Accéder au rapport</a></small>{{- end -}}
      </h3>
      {{- with index (partialCached "render/lastfile.html" (dict "context" . "project" $project "type" "lighthouse") $project "lighthouse") "auditfile-path" -}}
        {{- partialCached "components/scores/performance" (dict "context" $context "counter" (partialCached "render/performance" (dict "project" $project "auditfile" .) .)) -}}
      {{- end -}}
      {{/* START - If several Lighthouse files */}}
      {{- $lasfileobj := (partialCached "render/lastfile.html" (dict "context" . "project" $project "type" "lighthouse") $project "lighthouse") -}}
      {{- $lastfiles  := index $lasfileobj "auditfile-all-path" -}}
      {{- $lasfiledate := index $lasfileobj "auditfile-all-name" -}}

      {{- if gt (len $lastfiles) 1 -}}
        {{/* START - Build map with the count of each total performance errors */}}
        {{- range $id, $value := $lastfiles -}}
          {{- $.Scratch.Set "performancecounter" 0 -}}
            {{- $performancefile := getJSON . -}}
            {{ range (index $performancefile "audits") }}
              {{- if and (not (eq (string .score) "1")) (not (eq (string .score) "null")) (.score) (.details) -}}
                {{ $.Scratch.Add "performancecounter" 1 }}{{ $.Scratch.SetInMap "performancecountermap" (string $id) ($.Scratch.Get "performancecounter") }}
              {{- end -}}
            {{- end -}}
        {{- end -}}
        {{/* END - Build map with the count of each total performance errors */}}
        <div id="chartperformance"></div>
          <script>
              const dataperformance = {
                  labels: [{{- range $id, $value := $lasfiledate -}}{{ if ne $id "0" }},{{ end }}"{{ (time $value).Day }} {{ index $.Site.Data.month (printf "%d" (time $value).Month) }} {{ (time $value).Year }}"{{- end -}}],
                  datasets: [
                    {
                      name: "Erreurs",
                      values: [{{ range $id, $value := ($.Scratch.Get "performancecountermap") }}{{ if ne $id "0" }},{{ end }}"{{ . }}"{{- end -}}],
                      chartType: 'bar'
                    },
                    {
                      name: "Chargement",
                      values: [{{ range $id, $value := $lastfiles }}{{ $performancefile := partialCached "render/performance.html" (dict "auditfile" .) . }}{{ if ne $id "0" }},{{ end }}{{ if $performancefile.LCP }}"{{ div $performancefile.LCP 1000 | lang.NumFmt 1 }}"{{- end -}}{{- end -}}],
                      chartType: 'bar'
                    }
                  ],
                  yRegions: [{ label: "", start: 0, end: 30 }]
              }
              const chartperformance = new frappe.Chart("#chartperformance", {
                  title: "Erreurs lighthouse et temps de chargement",
                  data: dataperformance,
                  type: 'axis-mixed',
                  height: 300,
                  truncateLegends: true,
                  colors: [hslToHex(hsltertiary),hslToHex(hslquartenary),hslToHex(hslprimary),hslToHex(hslsecondary)]
              })
          </script>
      {{- end -}}
      {{/* END - If several Lighthouse files */}}
    {{- end -}}
    {{/* END - If Lighthouse */}}

    {{/*
    <section>
      {{ partial "components/quality/critical.html" (dict "context" . "project" $project) }}
    </section>
    */}}

    {{- else -}}
    <p class="text-center">Aucun audit pour le moment.</p>
    {{- end -}}
    {{/* END - If accessibility and recommendation and lighthouse */}}

    {{- if and $accessibility (eq (len (split $project "/")) 1) -}}
    {{- with partialCached "render/externals" (dict "context" $context "project" $project "auditfile" ($.Scratch.Get "accessibility-path")) $context $project ($.Scratch.Get "accessibility-path") -}}
      {{ $map := . }}
      {{- if ne (len .compliance) 1 -}}
      <hr>
      <h2 class="text-center">Services liés à la démarche</h2>
        {{- range $id, $value := .names -}}
        {{- $project := (index $map.project $id) -}}
        <h3 class="m-0">Accessibilité {{- if ($.Scratch.Get "audit").scores.compliance -}}{{ with (first 1 (where (where $.OutputFormats "MediaType.Type" "eq" "text/html") "Format.BaseName" "eq" "accessibility")) }}<small>- <a href="{{ (index . 0).Permalink }}" aria-label="Accéder au rapport d’accessibilité">Accéder au rapport</a></small>{{ end }}{{ $pageauditpath := (printf "/content/audits/%s/accessibility.md" ($project | urlize)) }}{{- if (fileExists $pageauditpath) -}}<small>- <a href="{{ site.BaseURL | default "/" }}{{ replace (replace (replace $pageauditpath ".md" "/") "/content/" "") "//" "/" }}" aria-label="Accéder au rapport d’accessibilité">Accéder au rapport</a></small>{{- end -}}{{- end -}}</h3>
          {{- partialCached "components/scores/accessibility" (dict "context" $context "score" (index $map.compliance $id)) . -}}
        {{- end -}}
      {{- end -}}
      {{- end -}}
    {{- end -}}

    {{- with (partialCached "render/actions.html" .).actions -}}
    {{- if .Title -}}
    {{- with (index (index . (string (now.Format "2006"))) .Title) -}}
    <h2 class="text-center">Actions de la démarche en {{ (now.Format "2006") }}</h2>
    <table>
      <thead>
        <tr>
        <th class="text-left">Type</th>
        <th>Action</th>
        <th>Détails</th>
        <th>Avancement</th>
      </tr>
    </thead>
    <tbody>
    {{- range $key, $value := . }}
        <tr>
          {{- range . -}}
          <td>
            {{- with (trim . " ") -}}
            {{- if findRE "(\\d{2})-(\\d{2})" . }}
            De {{ index $.Site.Data.month (string (float (index (split . "-") 0))) }} à {{ index $.Site.Data.month (string (float (index (split . "-") 1))) }} {{ (string (now.Format "2006")) -}}
            {{- else if (findRE "(\\d{2})/(\\d{2})" .) }}
            le {{ (float (index (split . "/") 0)) }} {{ index $.Site.Data.month (string (float (index (split . "/") 1))) }} {{ (string (now.Format "2006")) -}}
            {{- else -}}
            {{ . }}
            {{- end -}}
            {{- end -}}
          </td>
          {{- end -}}
        </tr>
      {{- end -}}
    </tbody>
    </table>
    {{- end -}}
    {{- end -}}
    {{- end -}}

</section>

{{- partialCached "components/phases/template.html" (dict "context" . "type" "dark") "dark" -}}
{{/*- partial "list.html" (dict "context" . "section" "meetings") -*/}}
{{/*- partial "list.html" (dict "context" . "section" "actions" "type" "dark") -*/}}
{{- else -}}
{{- $partial := (partialCached "templates/projects-list.html" . .) -}}
{{- partialCached "elements/content.html" $partial "projectslist" -}}
{{- end -}}
