{{- $rangepages := where .Site.RegularPages "Section" "projects" -}}
{{- if $rangepages -}}
<section class="section text-center">
<div class="wrapper">
<h2 hidden>{{ with .Site.GetPage "projects" }}{{ .Title }}{{ end }}</h2>
<br>
{{- $.Scratch.Delete "allscores" -}}
{{- $rangepages := where .Site.Pages "Section" "audits" -}}
{{- range sort $rangepages ".Title" "desc" -}}
  {{- $project := (replace (index (split .Path "/") 1) ".md" "") -}}
  {{- $context := . -}}
  {{- range $id, $value := (index (partial "render/accessibility-lastfile.html" (dict "context" . "project" $project ".datafilename" .Params.datafilename)) "auditall") -}}
    {{- $.Scratch.SetInMap $project (string $id) (partial "render/conformity" (dict "context" $context "auditfile" ((getCSV "," .)))) -}}
  {{- end -}}
  {{- $.Scratch.SetInMap "allscores" $project ($.Scratch.Get $project) -}}
{{- end -}}
<span class="hide">{{ ($.Scratch.Get "allscores") }}</span>
<ul class="list-unstyled">
{{- $.Scratch.Delete "projectfolders" -}}
{{- range sort $rangepages ".Title" "desc" -}}
{{- if eq (len (intersect (split .Path "/") (slice "index.md" "_index.md"))) 1 -}}
{{- $project := (replace (index (split .Path "/") 1) ".md" "") -}}
{{- $.Scratch.Set "projectfolders" "/static" -}}
{{- if eq (len (split .RelPermalink "/")) 4 -}}
{{- $.Scratch.Set "projectfolders" (printf "/static/%s" $project) -}}
{{- end -}}
{{- $accessibilitypath := "" -}}
{{- $accessibilitypath := (index (partial "render/accessibility-lastfile.html" (dict "context" . "project" $project ".datafilename" .Params.datafilename)) "auditpath") -}}
{{- $accessibility     := (fileExists $accessibilitypath) -}}
{{- $quality           := (fileExists (printf "%s/quality/" ($.Scratch.Get "projectfolders"))) -}}
{{- $lighthouse        := (fileExists (printf "%s/lighthouse/" ($.Scratch.Get "projectfolders"))) -}}
  <li>
    <a class="card-inline card-shadow" href="{{ .Permalink }}">
      <h3 class="h4">{{ .Title }}</h3>
      {{- if or $accessibility $quality $lighthouse -}}
      <div class="flex flex-gap align-items-center text-center">
      {{- if $quality -}}<p class="mb-0">{{- partial "components/scores/quality-small" (dict "context" . "counter" (partial "render/quality" (dict "context" . "project" $project))) -}}</p>{{ end }}
      {{- if $lighthouse -}}<p class="mb-0">{{- partialCached "components/scores/performance-small" (dict "context" . "project" $project) $project -}}</p>{{ end }}
      {{- if $accessibility -}}{{- $scoressmall := index (last 1 (sort (index ($.Scratch.Get "allscores") $project))) 0 -}}<p class="mb-0">{{- partial "components/scores/accessibility-small" (dict "context" . "scores" $scoressmall) -}}</p>{{ end }}
      </div>
      {{- end -}}
    </a>
  </li>
{{- end -}}
{{- end -}}
</ul>
</div>
</section>
{{- end -}}
