{{/* Var */}}
{{- $patharray := split (path.Dir .Path) "/" -}}
{{- $context := .context -}}
{{- $data         := newScratch -}}
{{- $project :=  (partialCached "render/projectpath" .context .context) -}}
{{- $projectPath  := cond (fileExists (printf "audits/%s/index.md" ($project))) (printf "audits/%s/index.md" ($project)) (printf "audits/%s/_index.md" ($project)) -}}
{{- $projectTitle := ($context.GetPage $projectPath).Title -}}
{{- $data.Set "context"  . -}}
{{- $data.Set "pathimage" "" -}}

{{ partial "utils/css.html" (dict "context" $.context "filefolder" "overgo/object" "filename" "summary") }}

{{- $data.Set "guidelinename" "rgaa" -}}
{{- $data.Set "guidelineversion" "4.1" -}}
{{- with ($.context.GetPage (printf "/content/%saccessibility.md" .Dir)) -}}
{{- with .Params.accessibility.guidelines -}}
  {{- $guideline := (replace (. | urlize) "-" "") -}}
  {{- $data.Set "guidelinename"    (cond (in $guideline "rgaa") "rgaa" (cond (in $guideline "wcag") "wcag" "none")) -}}
  {{- $data.Set "guidelineversion" (replace $guideline ($data.Get "guidelinename") "") -}}
{{- end -}}
{{- end -}}

{{- $lastfile := (partialCached "render/lastfile.html" (dict "context" $context "project" $project "type" "quality" "datafilename" .context.Params.datafilename) $project "quality" .context.Params.datafilename) -}}
{{- $data.Set "auditpath-csv" (index (partialCached "render/lastfile.html" (dict "context" $context "project" $project "type" "accessibility") $project "accessibility") "auditfile-path") -}}
{{- $data.Set "scores" (partialCached "render/accessibility" (dict "auditfile" ($data.Get "auditpath-csv")) ($data.Get "auditpath-csv") ) -}}
{{ if in "/audits/_index.md" $context.Path }}

  <section class="wrapper">
  {{- partialCached "templates/projects-monitoring.html" $context $context -}}
  </section>

{{- else -}}
  <article class="wrapper narrow audit">
  {{- if $project -}}
  <p>← <a href="{{ site.BaseURL | default "/" }}{{- with $project -}}{{ printf "audits/%s/" . }}{{- end -}}" class="link-more link-back" aria-label="Retour à la page {{ ($context.GetPage $project).Title }}">Retour à la page projet</a></p>
  {{- end -}}
  <h1>Recommandations {{ with $projectTitle }}<small> pour {{ partialCached "utils/isURL.html" (dict "context" $context "projectTitle" $projectTitle) $projectTitle }}</small>{{ end }}</h1>
  {{/* START Display page note if exists */}}
    {{- with .context.Params.note -}}
    <div class="note">
      <h2>Notes annexes au rapport d’audit</h2>
      {{ . | markdownify }}
    </div>
    {{- end -}}
  {{/* END Display page note if exists */}}
  {{- if ne (index $lastfile "auditfile-path") "/false" -}}
  {{- $data.Set "auditfile" (readFile (index $lastfile "auditfile-path") | transform.Unmarshal) -}}
  {{- $data.Set "auditfile-name" (index $lastfile "auditfile-name") -}}

  {{/* Condition about structure level */}}
  {{- $data.Set "pathimage" (replace (printf "./static/images/%s/quality/%s" $project ($data.Get "auditfile-name")) "//" "/")}}
  {{- with index (partialCached "render/lastfile.html" (dict "context" $context "project" $project "type" "quality") $project "quality") "auditfile-path" -}}
    {{- partial "components/scores/quality" (dict "context" $context "counter" (partialCached "render/quality" (dict "context" $context "project" $project "auditfile" .) .)) -}}
  {{- end -}}

  {{/* START Display page content if exists */}}
    {{- if gt (len .context.Content) 10 -}}
    <h2>Notes correctives</h2>
    <div>
    {{- partial "elements/content.html" .context.Content -}}
    </div>
    {{- else -}}
      {{- with (partialCached "render/notepath" $context $context) -}}
      <h2>Notes correctives</h2>
      <div>
        {{- range . -}}
          {{ . }}
        {{- end -}}
      </div>
    {{- end -}}
    {{- end -}}

  {{/* END Display page content if exists */}}

  <h2 class="page-break">Erreurs à corriger</h2>
  {{- partial "components/quality/lot.html" (dict "context" $context "project" $project "datafilename" .Params.datafilename) -}}
  {{/*- partial "components/quality/critical.html" (dict "context" $context "project" $project "datafilename" .Params.datafilename) -*/}}

  {{- $cScores := ($data.Get "scores").scores.criteria.conforme -}}
  {{- $ncScores := ($data.Get "scores").scores.criteria.nonconforme -}}
  {{- $percent := 0 }}
  {{- if $cScores -}}
    {{- $percent = (div 100 (add (float $cScores) (float $ncScores))) | lang.NumFmt 10 -}}
  {{- end -}}
  {{- range ($data.Get "auditfile") -}}
    {{- range $idpage, $s := .pages -}}
      {{- range $idblock, $b := .blocks -}}
        {{- if .errors -}}
          {{- range $s:= .errors -}}
            {{- if not (or (in .criterion "Pi") (in .criterion "OP") (in .criterion "ER")) -}}
              {{- with .criterion -}}
              {{- $data.Add (printf "criterion-%s" .) 1 -}}
              {{- $data.SetInMap "criterianumber" (string .) ($data.Get (printf "criterion-%s" .)) -}}
              {{- $data.SetInMap "criteriavalue" (string .) (math.Round (div (float $percent) (float ($data.Get (printf "criterion-%s" .))))) -}}
              {{- end -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{/* START Create a anchors menu */}}
  {{- with ($data.Get "auditfile") -}}
  <div class="tableofcontents page-break">
  <h2>Accéder aux pages auditées</h2>
    <ul>
    {{- range ($data.Get "auditfile") -}}
      {{/* Range first level */}}
      {{- range $idpage, $s := .pages -}}
        <li><a href="#{{ .name | urlize }}">{{ .name }}</a></li>
        {{- $data.Set "countererrorspage" 0 -}}
        {{/* Range second level */}}
        {{- range $idblock, $b := .blocks -}}
          {{/* Range third level and count errors */}}
          {{- if .errors -}}
          {{- range $s:= .errors -}}
            {{- $name := .name -}}
            {{- $data.Add "countererrorspage" 1 -}}
            {{- $data.SetInMap "countererrorspagelist" (string $idpage) ($data.Get "countererrorspage") -}}
            {{ $checked := .checked }}
            {{- with .criterion -}}
              {{- if not (or (in . "Pi") (in . "OP") (in . "ER")) -}}
              {{- range (split (replace . " " "") ",") -}}
                {{- $key := string . -}}
                {{- $key := cond (lt (index (split $key ".") 0) 10) (printf "0%s.%s" (index (split $key ".") 0) (index (split $key ".") 1)) (string $key) -}}
                {{- $key := cond (lt (index (split $key ".") 1) 10) (printf "%s.0%s" (index (split $key ".") 0) (index (split $key ".") 1)) (string $key) -}}
                {{- $data.Add (printf "k-%s" $key) (slice $name) -}}
                {{- $data.SetInMap "countercriterionlist" (string $key) ($data.Get (printf "k-%s" $key)) -}}
                {{- if $checked -}}
                  {{- $data.Add (printf "%s-checked" (string .)) (slice $name) -}}

                  {{- $data.SetInMap "countercheckedlist" (string .) ($data.Get (printf "%s-checked" (string .))) -}}
                {{- end -}}
              {{- end -}}
              {{- end -}}
            {{- end -}}
          {{- end -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
    </ul>
  </div>
  {{- end -}}
  {{/* END Create a anchors menu */}}
  <script>
    let Background = [
      "padding: 2px",
      "font-weight:bold",
      "background: #222",
      "color: #fff"
    ].join(" ;");
    let BackgroundWhite = [
      "padding: 2px 2px",
      "background:#fff",
      "color: #000"
    ].join(" ;");
    console.group('%cErreurs par critère listé{{ with ($data.Get "countercriterionlist") }} ({{ len . }}){{ end }} : ', 'font-size: 12px;');
    {{- range $key, $criterion := $data.Get "countercriterionlist" }}
      {{ . }}
      console.log(
          {{- $key := printf "%s.%s" (string (float (index (split $key ".") 0))) (string (float (index (split $key ".") 1))) -}}
          {{- $lenghtcriterion := len . }}
          '%c{{- if ($data.Get "countercheckedlist") }}{{ with (index ($data.Get "countercheckedlist") $key) }}{{ len . }}{{ else }}0{{ end }}{{ end -}}/{{ $lenghtcriterion -}}
          %c corrigées pour %c{{ $key }}%c qui a le statut %c
          {{- index (index ($data.Get "scores") "criteria").all $key -}}
          %c\n-> Erreurs : {{ range $id, $value := . -}}
          {{ with ($data.Get "countercheckedlist") }}{{- if (intersect (index . $key) $criterion) }}%c{{ end }}{{ end }}{{ . }}
          {{- if ne (add $id 1) (len ($criterion)) }} /-/ {{ end }}
          {{- end }}',
          'padding: 2px; font-weight:bold; background: {{ if ($data.Get "countercheckedlist") }}{{ with (index ($data.Get "countercheckedlist") $key) }}{{ if eq (len .) $lenghtcriterion }}green{{ else }}firebrick{{ end }}{{ else }}firebrick{{ end }}{{ end }}; color: #fff',
          BackgroundWhite,
          Background,
          BackgroundWhite,
          Background,
          'color: black;',
          {{ range $id, $value := . }}{{ if ($data.Get "countercheckedlist") }}{{ if (index ($data.Get "countercheckedlist") $key) }}{{ if (in (index ($data.Get "countercheckedlist") $key) .) }}'font-weight: bold; color: darkgreen;',{{ else }}'color: black;',{{ end }}{{ end }}{{ end }}{{ end }}
      );
    {{ end }}
    console.groupEnd();
  </script>

  <h2>Liste des pages auditées</h2>

  {{/* START - List of all pages */}}
  {{- range ($data.Get "auditfile") -}}
    {{/* Range first level */}}
    {{- range $idpage, $s := .pages -}}
      {{- $name := .name -}}
      {{/* Range second level */}}
      <h3 id="{{ .name | urlize }}"><span class="small-caps">{{ $name }}</span> <small>- <span class="counter">{{ index ($data.Get "countererrorspagelist") (string $idpage) }}</span> erreurs recensées sur cette page</small></h3>
      {{- range $idblock, $b := .blocks -}}
        {{- $data.Set "countererrorsblock" 0 -}}
        {{/* Range third level and count errors */}}
        {{- if .errors -}}
        {{- range $s:= .errors -}}
          {{- $data.Add "countererrorsblock" 1 -}}
          {{- $data.SetInMap "countererrorsblocklist" (string $idblock) ($data.Get "countererrorsblock") -}}
        {{- end -}}
        {{- end -}}
        {{- if .url -}}<p>URL : <a href="{{ .url }}">{{ .url }}</a></p>{{- end -}}
        {{- $data.Set "fileexist" false -}}
        {{- if (fileExists ($data.Get "pathimage")) -}}
          {{ range (readDir ($data.Get "pathimage")) }}{{- if eq (replace (.Name) ".png" "") ($name  | urlize) -}}{{- $data.Set "fileexist" true -}}{{ end }}{{ end }}
        {{- end -}}
        {{- if $data.Get "fileexist" -}}
        <div class="benchmark grid grid-center lightbox-{{ $idpage }}">
          {{ $data.Set "isAfter" 0 }}
          {{- range (readDir ($data.Get "pathimage")) -}}{{- if eq (replace (.Name) ".png" "") ((replace $name ".png" "-after.png")  | urlize) -}}{{ $data.Set "isAfter" 1 }}{{- end -}}{{- end -}}
          {{- range (readDir ($data.Get "pathimage")) -}}
            {{- if eq (replace (.Name) ".png" "") ($name  | urlize) -}}
            <div class="flex flex-column">
              <figure class="flex flex-max" id="{{ .Name }}">
                <a href="{{ $.context.Site.BaseURL | default "/" }}{{ replace ($data.Get "pathimage") "./static/" "" }}/{{ .Name }}" cfmodified="modified">
                  <img src="{{ $.context.Site.BaseURL | default "/" }}{{ replace ($data.Get "pathimage") "./static/" "" }}/{{ .Name }}" alt="" class="align-items-center">
                </a>
              </figure>
              <div class="benchmark-name">{{ if eq ($data.Get "isAfter") 1 }}Actuel -{{ end }} {{ $name }}</div>
            </div>
            {{- end -}}
          {{- end -}}
          {{- range (readDir ($data.Get "pathimage")) -}}
            {{- if eq (.Name) ((printf "%s-after.png" $name)  | urlize) -}}
            <div class="flex flex-column">
              <figure class="flex flex-max" id="{{ .Name }}">
                <a href="{{ $.context.Site.BaseURL | default "/" }}{{ replace ($data.Get "pathimage") "./static/" "" }}/{{ .Name }}" cfmodified="modified">
                  <img src="{{ $.context.Site.BaseURL | default "/" }}{{ replace ($data.Get "pathimage") "./static/" "" }}/{{ .Name }}" alt="" class="align-items-center">
                </a>
              </figure>
              <div class="benchmark-name">Après - {{ $name }}</div>
            </div>
            {{- end -}}
          {{- end -}}
        </div>
        {{- end -}}
      {{- $data.Set "paths" slice -}}
      {{/* Range second level */}}

        {{- $data.Set "index" slice -}}
        <h4>{{ $b.name }} <small>- <span class="counter">{{ index ($data.Get "countererrorsblocklist") (string $idblock) }}</span> erreurs recensées sur ce bloc</small></h4>
        {{/* Range third level */}}
        {{- range $s := .errors -}}
          {{- $path := .name -}}
          {{- $filename := printf "%s-%s-%s.png" ($name | anchorize) ($b.name | anchorize) (.name | anchorize) -}}
          {{/* Create an array for the images slider with screen capture */}}
          {{- $data.Add "index" (slice $path) -}}
          <dl>
            {{- if not (or (in .criterion "Pi") (in .criterion "OP") (in .criterion "ER")) -}}
            <dt id="{{ .name | urlize }}">{{ if .checked }}☒ {{ else }}☐ {{ end }}{{ .name }}
              {{- $data.Set "fileexist" false -}}
              {{- if (fileExists ($data.Get "pathimage")) -}}
                {{ range (readDir ($data.Get "pathimage")) }}{{ if in (string .Name) (string $filename) }}{{- $data.Set "fileexist" true -}}{{ end }}{{ end }}
              {{- end -}}
              <small class="no-print">
                {{- if and .Site.IsServer (not (eq (getenv "HUGO_ENV") "production" | or (eq .Site.Params.env "production"))) -}}
                  {{- if $data.Get "fileexist" -}}
                  &nbsp;-&nbsp;<a href="#{{ $filename }}">Accéder à la capture écran</a>
                  {{- end -}}
                {{- else -}}
                  &nbsp;-&nbsp;
                  {{- if $data.Get "fileexist" -}}
                  <a href="#{{ $filename }}">/{{ ($data.Get "auditfile-name") }}/{{ $filename }}</a>
                  {{- else -}}
                  {{ $filename }}
                  {{- end -}}
                {{- end -}}
                {{ with .status }}&nbsp;<span class="badge{{ if eq . "critique" }} bad{{ end }}{{ if eq . "important" }} medium{{ end }}{{ if eq . "moindre" }} normal{{ end }}">{{ . }}</span>{{ end }}
              </small>
            </dt>
            {{- if .description -}}
              <dd>{{ .description | markdownify | safeHTML }}</dd>
            {{- end -}}
            {{- if .path -}}
              <dd><strong>XPath :</strong> <span>{{ .path | markdownify | safeHTML }}</span></dd>
            {{- end -}}
            {{- if .criterion -}}
            {{ range (split (replace .criterion " " "") ",") }}
              {{- $criteriafile := index (index (index $.context.Site.Data ($data.Get "guidelinename")) ($data.Get "guidelineversion")).criteria.topics -}}
              {{- $thematiques  := index (split . ".") 0 -}}
              {{- $criteria     := index (split . ".") 1 -}}
              {{- $glossaire    := (printf "=\"%s%s/%s/glossaire/#" ($.context.Site.BaseURL | default "/") ($context.Scratch.Get "guidelinename") ($context.Scratch.Get "guidelineversion")) -}}
              {{- $s := where $criteriafile "number" "eq" (int ($thematiques)) -}}
              <dd class="details mt-1 mb-1">
                <p class="summary">
                  {{ (replaceRE "=\"#" $glossaire ((((index (index $s 0).criteria (sub (int ($criteria)) 1)).criterium).title) | markdownify) 100) | safeHTML  }}<br>
                  Critère : <a href="{{ $.context.Site.BaseURL | default "/" }}{{- $data.Get "guidelinename" }}/{{- $data.Get "guidelineversion" }}/criteres/#{{ replace . "." "-" }}">{{ . | safeHTML }}</a> du {{ $data.Get "guidelinename" }} {{ $data.Get "guidelineversion" }}.
                  {{/* Pourcentage potentiel de correction du RGAA : {{ index ($data.Get "criteriavalue") (string .criterion) */}}
                </p>
              </dd>
            {{- end -}}
            {{- end -}}
            {{- else if (in .criterion "Pi") -}}
              {{- $criterionpi := (index (where (index $.context.Site.Data.pidila "1.0").criteria.criterias "id" (replace .criterion "." "-")) 0) -}}
              <dt id="{{ .name | urlize }}">{{ if .checked }}☒ {{ else }}☐ {{ end }}{{ .name }}
              {{ with (index (where ($.context.Site.Data.pidila).criteria "id" .criterion) 0).description }}<dd>{{ . }}</dd>{{- end -}}
              {{- if .description -}}
                <dd>{{ .description | markdownify | safeHTML }}</dd>
              {{- end -}}
              <dd>
                <details class="details-arrow mt-1 mb-1">
                  <summary>
                    {{ $criterionpi.title }}<br>
                    Critère : <a href="{{ $.context.Site.BaseURL | default "/" }}/pidila/1.0/criteres/#{{ replace .criterion "." "-" }}">{{ .criterion | safeHTML }}</a> de la checklist Pidila
                  </summary>
                  {{- $findref := (findRE "<h3>Références</h3>.*" (replace ($criterionpi.rawHTMLContent) "\n" "")) -}}
                  {{- replace (replace ($criterionpi.rawHTMLContent) "\n" "") (delimit $findref "") "" | safeHTML -}}
                </details>
              </dd>
            {{- else if (in .criterion "OP") -}}
              <p>Not ready</p>
            {{- else -}}
            {{- end -}}
          </dl>
          {{ if or .codebefore .codeafter }}
            <div class="audit-code">
              {{ if .codebefore }}<h5 class="mb-0">Code présent</h5><pre class="language-html"><code>{{ .codebefore | htmlUnescape }}</code></pre>{{ end }}
              {{ if .codeafter }}<h5 class="mb-0">Code modifié</h5><pre class="language-html"><code>{{ .codeafter | htmlUnescape }}</code></pre>{{ end }}
              <br>
            </div>
          {{- end -}}
          {{- if $data.Get "fileexist" -}}
            <div class="benchmark grid grid-4 lightbox-{{ $idpage }}-{{ $idblock }}">
              {{ $data.Set "isAfter" 0 }}
              {{- range (readDir ($data.Get "pathimage")) -}}{{- if in (string .Name) (string (replace $filename ".png" "-after.png")) -}}{{ $data.Set "isAfter" 1 }}{{- end -}}{{- end -}}
              {{- range (readDir ($data.Get "pathimage")) -}}
                {{- if in (string .Name) (string $filename) -}}
                <div class="flex flex-column"><figure class="flex flex-max" id="{{ .Name }}"><a href="{{ $.context.Site.BaseURL | default "/" }}{{ replace ($data.Get "pathimage") "./static/" "" }}/{{ .Name }}" cfmodified="modified"><img src="{{ $.context.Site.BaseURL | default "/" }}{{ replace ($data.Get "pathimage") "./static/" "" }}/{{ .Name }}" alt="" class="align-items-center"></a></figure><div class="benchmark-name">{{ if eq ($data.Get "isAfter") 1 }}Actuel - {{ end }}{{ $path }}</div></div>
                {{- end -}}
              {{- end -}}
              {{- range (readDir ($data.Get "pathimage")) -}}
                {{- if in (string .Name) (string (replace $filename ".png" "-after.png")) -}}
                <div class="flex flex-column"><figure class="flex flex-max" id="{{ .Name }}"><a href="{{ $.context.Site.BaseURL | default "/" }}{{ replace ($data.Get "pathimage") "./static/" "" }}/{{ .Name }}" cfmodified="modified"><img src="{{ $.context.Site.BaseURL | default "/" }}{{ replace ($data.Get "pathimage") "./static/" "" }}/{{ .Name }}" alt="" class="align-items-center"></a></figure><div class="benchmark-name">Après - {{ $path }}</div></div>
                {{- end -}}
              {{- end -}}
            </div>
          {{- end -}}
        {{- end -}}{{/* Range second level */}}
        <div class="benchmark grid grid-4 lightbox-{{ $idpage }}-{{ $idblock }} d-none">{{/* Range errors name */}}{{- range $errorname := ($data.Get "index") -}}{{- $filename := printf "%s/%s-%s-%s.png" ($data.Get "auditfile-name") ($name | urlize) ($b.name | urlize) (. | urlize) -}}{{- if (fileExists ($data.Get "pathimage")) -}}{{- range (readDir ($data.Get "pathimage")) -}}{{- if in (string .Name) (string $filename) -}}<div class="flex flex-column"><figure class="flex flex-max"><a href="{{ $.context.Site.BaseURL | default "/" }}{{ replace ($data.Get "pathimage") "./static/" "" }}/{{ .Name }}" cfmodified="modified"><img src="{{ $.context.Site.BaseURL | default "/" }}{{ replace ($data.Get "pathimage") "./static/" "" }}/{{ .Name }}" alt="" class="align-items-center"></a></figure><div class="benchmark-name" id="{{ .Name }}">{{ $errorname }}</div></div>{{- end -}}{{- end -}}{{- end -}}{{- end -}}{{/* Range errors name */}}</div>
    {{- end -}}{{/* Range first level */}}
    <hr class="divider-strong">
  {{- end -}}{{/* Range the quality file */}}
  </article>
  {{- end -}}
  {{- else -}}
    {{- with (partialCached "render/notepath" $context $context) -}}
      {{- range . -}}
        <h2>Notes annexes au rapport d’audit</h2>
        {{ . }}
      {{- end -}}
    {{ else }}
    <p>Aucun fichier de test n’est présent dans le répertoire : {{ (partialCached "render/rootpath" (dict "context" . "project" $project "type" "accessibility") $project "accessibility") }}/{{ cond (not $project) "" (printf "%s/" $project) }}quality</p>
    {{ end }}
  {{- end -}}
{{- end -}}

{{- define "script" -}}
  {{- $patharray := split (path.Dir .Path) "/" -}}
  {{- $context   := . -}}
  {{- $project   :=  (partialCached "render/projectpath" . .) -}}
  {{- $alternate := where (where .OutputFormats "Permalink" "eq" .Permalink) "Rel" "eq" "alternate" -}}
  {{- if ne (len $alternate) 0 -}}
  {{- with $alternate -}}{{- range $key, $value := . -}}{{ $.Scratch.Set "outputquality" (eq .Format.BaseName "quality") }}{{- end -}}{{- end -}}
  {{- end -}}
  {{- if and (ne (len $patharray) 1) (or (in . "quality.md") ($.Scratch.Get "outputquality")) -}}
    {{- $lastfile := (partialCached "render/lastfile.html" (dict "context" $context "project" $project "type" "quality" "datafilename" .Params.datafilename) $project "quality" .Params.datafilename) -}}
    {{- if ne (index $lastfile "auditfile-path") "/false" -}}
      {{- $.Scratch.Set "auditfile" (readFile (index $lastfile "auditfile-path") | transform.Unmarshal) -}}
      {{ partial "utils/css.html" (dict "context" $context "filefolder" "overgo/object" "filename" "benchmark") }}
      {{- $csslightbox  := resources.Get "css/simple-lightbox.min.css" -}}
      {{- $csshighlight := resources.Get "css/night-owl.min.css" -}}
      {{- $jslightbox   := resources.Get "js/simple-lightbox.min.js" -}}
      {{- $jshighlight  := resources.Get "js/highlight.min.js" -}}
      {{- $css          := slice $csslightbox $csshighlight | resources.Concat "/assets/js/qualityBundle.css" -}}
      {{- $js           := slice $jslightbox $jshighlight | resources.Concat "/assets/js/qualityBundle.js" -}}
      <link rel="stylesheet" href="{{ $css.Permalink }}" media="screen">
      <script type="text/javascript" src="{{ $js.Permalink }}"></script>
      {{- range ($.Scratch.Get "auditfile") -}}
        {{- range $idpage, $p := .pages -}}
        {{- $name := .name -}}
        <script>
          var {{ printf "$%s%s" (replace ( $name | anchorize) "-" "") ($idpage | anchorize) | safeJS }} = new SimpleLightbox('.lightbox-{{ $idpage }} figure a', {captionPosition:'bottom',loop: 'false'});
          {{- range $idblock,$b := .blocks -}}
          var {{ printf "$%s%s%s%s" (replace ( $name | anchorize) "-" "") (replace ( $b.name | anchorize ) "-" "") ($idpage | anchorize) ($idblock | anchorize) | safeJS }} = new SimpleLightbox('.lightbox-{{ $idpage }}-{{ $idblock }} figure a', {captionPosition:'bottom',loop: 'false'});
          {{- end -}}
        </script>
        {{- end -}}
      {{- end -}}
      <script>
        document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('pre code').forEach((block) => {
          hljs.highlightBlock(block);
        });
      });
      </script>
    {{- end -}}
  {{- end -}}
{{- end -}}
