{{- $context := .context -}}
{{- $score   := .score -}}
{{- $audit   := .audit -}}
{{- $data    := newScratch -}}

{{- $data.Set "criterioncounter" 0 -}}
{{- if or (fileExists (printf "%s/quality" (index $audit "pathproject"))) (fileExists (printf "%s/recommendation" (index $audit "pathproject"))) (fileExists (printf "%s/recommendations" (index $audit "pathproject"))) -}}
{{- with (index (partialCached "render/lastfile.html" (dict "context" $context "project" (index $audit "project") "type" "recommendation") (index $audit "project")) "auditfile-path") -}}
{{- if fileExists . -}}
{{- range (readFile . | transform.Unmarshal) -}}
  {{- range .pages -}}{{ $name := .name }}{{- range .blocks -}}{{ $block := .name }}{{- range .errors -}}{{- $data.Delete "criterions" -}}{{- $data.Set "path" 0 -}}
    {{- if and .criterion (not .checked) -}}
      {{- $name        := .name -}}
      {{- $description := .description -}}
      {{- $path        := .path -}}
      {{ range (split (replace .criterion " " "") ",") }}
        {{- $data.Add "criterioncounter" 1 -}}
        {{- with $path -}}{{- $data.Add "path" 1 -}}{{- end -}}
        {{- $data.SetInMap (string .) $name (slice (dict "page" $name "name" $name "block" $block "description" $description "path" $path "pathexist" ($data.Get "path"))) -}}
        {{- $data.SetInMap "criterion" (string .) ($data.Get (string .)) -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}{{- end -}}{{- end -}}
{{- end -}}
{{- else -}}
{{- warnf "Folder \"%s/recommendation/\" is empty" (index $audit "pathproject") -}}
{{- end -}}
{{- end -}}
{{- end -}}

{{/* Range map errors sort by RGAA order - on all pages */}}
{{- range $key, $value := (index $score "nonconforme") -}}
  {{- $key := cond (lt (index (split $key ".") 0) 10) (printf "0%s.%s" (index (split $key ".") 0) (index (split $key ".") 1)) $key -}}
  {{- $key := cond (lt (index (split $key ".") 1) 10) (printf "%s.0%s" (index (split $key ".") 0) (index (split $key ".") 1)) $key -}}
  {{- $data.SetInMap "crit" $key $value -}}
{{- end -}}
{{ range $key, $value :=  ($data.Get "crit") }}
  {{- $thematiques := float (index (split $key ".") 0) -}}
  {{- $criteria    := float (index (split $key ".") 1) -}}
  <p><strong>Critère {{ $thematiques }}.{{ $criteria }}</strong><br/>
  {{- $s := where ($context.Site.Data.rgaa.criteria.topics) "number" "eq" (float (index (split $key ".") 0)) -}}
  {{- if ge (len $s) 1 -}}
    {{- $content := (index (index $s 0).criteria (sub (int ($criteria)) 1)).criterium.title -}}
    <em>{{ replaceRE "\\[(.*?)\\]\\(.*?\\)" "$1" $content | markdownify }}</em>
    </br>
  {{- end -}}
  {{- with ($data.Get "criterion") -}}
  {{ with (index . (printf "%v.%v" $thematiques $criteria)) }}
      <table>
        {{ range first 1 (index (sort .) 0) }}
        <thead>
          <tr>
            <th class="w-100">Page</th>
            <th class="w-100">Bloc</th>
            <th class="w-120">Titre</th>
            <th>Description</th>
            {{ if ne .pathexist 0 }}<th>Xpath</th>{{ end }}
          </tr>
        </thead>
        {{- end -}}
        <tbody>
        {{- range $key, $value := . -}}
          <tr>
          {{ range . }}
            <td>{{ .page }}</td>
            <td>{{ .block }}</td>
            <td>{{ .name }}</td>
            <td>{{ .description | markdownify }}</td>
            {{ if ne .pathexist 0 }}<td aria-label="{{ .path }}">{{ substr .path 0 20 }}</td>{{ end }}
          {{ end }}
          </tr>
        {{- end -}}
        </tbody>
      </table>
  {{- end -}}
  {{- end -}}
{{ end }}

