/*
/// Very basic styles
*/

html,
body {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* @media (prefers-reduced-motion: reduce) {
  :root {
    --enable-shadows: none;
  }
} */

/* Selection focus */
main:focus {
  outline: none;
}

:focus {
  outline: max(1px, 0.1em) dashed var(--color-primary);
  outline-offset: 0.15em;
}

@supports selector(:focus-visible) {
  :focus {
    outline: none;
  }

  [tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0;
  }

  :focus-visible {
    outline: max(1px, 0.1em) dashed var(--color-primary);
    outline-offset: 0.15em;
  }
  @media (prefers-reduced-motion: no-preference) {
    :focus-visible {
      transition: outline-offset .25s ease;
      outline-offset: 5px;
    }
}
}

/* Chunk rendering for all but the first article */
body > main > * + * {
  content-visibility: auto;
}

/* Images
// -------------------------
*/

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  border: 0;
}

/* We need to revert these for Google maps cause else it breaks! */
.img--no-max {
  max-width: none;
}

/* Time
// -------------------------
*/

time {
  font-weight: bold;
}

/* Figures
// -------------------------
*/

figure > img {
  display: block;
  width: 100%;
  max-width: min(55rem, 100%);
}

figcaption {
  margin-top: 1rem;
  font-size: var(--smaller);
  font-style: italic;
}

/* Links
// -------------------------
*/

a {
  transition: 0.5s ease all;
  text-decoration: underline;
  color: var(--link-color);
}

[href]:hover {
  text-decoration: none;
}

a:hover,
a:active {
  outline: none;
}

[id] {
  scroll-margin-top: 2ex;
}

/* Lists
// -------------------------
*/

ul,
ol {
  margin-bottom: var(--baseline);
}

/*/ List options
// -------------------------
*/

/* Unstyled keeps list items block level, just removes default browser padding and list-style*/
.list-unstyled {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

/* Inline turns list items into inline-block */
.list-inline > li {
  display: inline-block;
  margin: 0 -5px 0 0;
}
