{{- $project := .project -}}
{{- $patharray := split .context.Path "/" -}}
{{- $.context.Scratch.Delete "audit" -}}
{{- $.context.Scratch.Delete "auditpath-accessibility" -}}
{{- $.context.Scratch.Delete "allaudits" -}}
{{- $.context.Scratch.Delete "allauditsname" -}}
{{- $.context.Scratch.Delete "auditpath-accessibility" -}}
{{- $.context.Scratch.Delete "mainpath" -}}

{{/* Test if files are in static or in each projets */}}
{{- if fileExists (printf "content/audits/%s/accessibility/" $project) -}}
  {{- $.context.Scratch.Set "mainpath" "content/audits" -}}
{{- else -}}
  {{- $.context.Scratch.Set "mainpath" "static" -}}
{{- end -}}

{{- if .datafilename -}}
  {{/* Condition about structure level */}}
  {{- if eq (len $patharray) 3 -}}
  {{- $.context.Scratch.Set "auditpath-accessibility" (printf "%s/%s/%s.csv" ($.context.Scratch.Get "mainpath") $project .datafilename) -}}
  {{- else -}}
  {{- $.context.Scratch.Set "auditpath-accessibility" (printf "%s/%s.csv" ($.context.Scratch.Get "mainpath") .datafilename) -}}
  {{- end -}}
  {{- $.context.Scratch.SetInMap "allaudits" "zz" ($.context.Scratch.Get "auditpath-accessibility") -}}
  {{- $.context.Scratch.SetInMap "allauditsname" "zz" (now.Format "2006-01-02") -}}
{{- else -}}
  {{/* Set the audit file - test if a generic file is called */}}
  {{/* Test if a set of archived audit exists */}}
  {{- $.context.Scratch.Set "auditpath-accessibility" "/false" -}}

  {{- if fileExists (printf "%s/%s/accessibility/" ($.context.Scratch.Get "mainpath") $project) -}}
    {{- range $key, $value := (readDir (printf "%s/%s/accessibility/" ($.context.Scratch.Get "mainpath") $project)) -}}
      {{- $.context.Scratch.SetInMap "allaudits" (string (add $key 1)) (replace (printf "%s/%s/accessibility/%s" ($.context.Scratch.Get "mainpath") $project .Name) "//" "/") -}}
      {{- $.context.Scratch.SetInMap "allauditsname" (string (add $key 1)) (replace .Name ".csv" "") -}}
    {{- end -}}
    {{- $.context.Scratch.Set "auditpath-accessibility" (index ($.context.Scratch.Get "allaudits") (string (len ($.context.Scratch.Get "allaudits")))) -}}
  {{- end -}}
  {{/* Condition about structure level for a root generic file */}}
  {{ (printf "static/%s/%s.csv" $project "accessibility") }}
  {{- if or (fileExists (printf "%s/%s/accessibility.csv" ($.context.Scratch.Get "mainpath") $project)) (fileExists (printf "%s/accessibility.csv" ($.context.Scratch.Get "mainpath") $project)) -}}
    {{- if eq (len $patharray) 3 -}}
      {{- $.context.Scratch.Set "auditpath-accessibility" (replace (printf "%s/%s/accessibility.csv" ($.context.Scratch.Get "mainpath") $project) "//" "/") -}}
    {{- else -}}
    {{- $.context.Scratch.Set "auditpath-accessibility" "%s/accessibility.csv" ($.context.Scratch.Get "mainpath") -}}
    {{- end -}}
    {{- $.context.Scratch.SetInMap "allaudits" "zz" ($.context.Scratch.Get "auditpath-accessibility") -}}
    {{- $.context.Scratch.SetInMap "allauditsname" "zz" (now.Format "2006-01-02") -}}
  {{- end -}}
{{- end -}}

{{- $.context.Scratch.SetInMap "audit" "auditpath" ($.context.Scratch.Get "auditpath-accessibility") -}}
{{- $.context.Scratch.SetInMap "audit" "auditall" ($.context.Scratch.Get "allaudits") -}}
{{- $.context.Scratch.SetInMap "audit" "auditallname" ($.context.Scratch.Get "allauditsname") -}}
{{- return ($.context.Scratch.Get "audit") -}}
