{{/* Variables */}}
{{- $pagedate := replace (path.Base .Path) (path.Ext .Path) "" -}}
{{- $kind     := .Kind -}}
{{- $data     := newScratch -}}
{{- $data.Set "datesAction" slice -}}
{{- $data.Delete "allActions" -}}
{{- $data.Delete "allDates" -}}

{{/* START Loop over all actions */}}
{{/* START Loop over general actions */}}
{{/* Build a map with all csv files AND a a map with dates */}}
{{- if fileExists "content/plans/actions" -}}
    {{- range $id, $value := (readDir "content/plans/actions") -}}
      {{- $data.Add "datesAction" (string (first 4 .Name)) -}}
      {{- $data.SetInMap (printf "actions-%s" (string (first 4 .Name))) (string $id) (printf "content/plans/actions/%s" .Name) -}}
    {{- end -}}
{{- end -}}
{{/* Loop over date AND next over csv files */}}
{{- range (uniq ($data.Get "datesAction")) }}
  {{- $date := . -}}
  {{- $data.Set (printf "listDate-%s" $date) slice -}}
  {{- $data.Set (printf "slice-%s" $date) slice -}}
  {{/* Feed an array with all action in a file */}}
  {{- range ($data.Get (printf "actions-%s" .)) }}
    {{- $data.Add (printf "slice-%s" $date) (after 1 (getCSV "," .)) -}}
    {{- $data.Add (printf "listDates-%s" $date) (slice (((os.Stat .).ModTime).Format "02/01/2006")) -}}
  {{- end -}}
  {{/* Feed a map where key is the date */}}
  {{- $data.SetInMap (printf "listActions-%s" $date) "Opérations diverses" ($data.Get (printf "slice-%s" $date)) -}}
  {{/* Feed final map */}}
  {{- $data.SetInMap "allDates"   (printf "%s" $date) ($data.Get (printf "listDates-%s" $date)) -}}
  {{- $data.SetInMap "allActions" (printf "%s" $date) ($data.Get (printf "listActions-%s" $date)) -}}
{{- end -}}
{{/* END Loop over general actions */}}
{{/* START Loop over services actions */}}
{{- with (where $.Site.RegularPages "Section" "audits") }}
  {{- range . -}}
      {{- $title    := .Title -}}
      {{- $project  := partialCached "render/projectpath" . . -}}
      {{- $lastfile := partialCached "render/lastfile.html" (dict "context" . "project" $project "type" "actions") $project "actions" -}}
      {{- $lastname := index $lastfile "auditfile-all-name" -}}
      {{/* Loop over csv files */}}
      {{- range $id, $value := (index $lastfile "auditfile-all-path") -}}
        {{- $date := first 4 (index $lastname $id) -}}
        {{- $data.Set (printf "listDate-%s" $date) slice -}}
        {{- $cond := cond (eq $kind "page") (eq $date $pagedate) true -}}
        {{/*- if $cond -*/}}
          {{/* Feed an array with all action in a file */}}
          {{- range $index, $line := (after 1 (getCSV "," .)) -}}
            {{- $data.Add (printf "%s%s%s" $title $id $date) (slice .) -}}
          {{- end -}}
          {{/* Feed a map where key is the project title */}}
          {{- $data.Add (printf "%s%s" $title $date) ($data.Get (printf "%s%s%s" $title $id $date)) -}}
          {{/* Feed a map where key is the date */}}
          {{- $data.Add      (printf "listDates-%s" $date) (slice (((os.Stat .).ModTime).Format "02/01/2006")) -}}
          {{- $data.SetInMap (printf "listActions-%s" $date) (printf "%s" $title) ($data.Get (printf "%s%s" $title $date)) -}}
          {{/* Feed final map */}}
          {{- $data.SetInMap "allDates"   (printf "%s" $date) ($data.Get (printf "listDates-%s" $date)) -}}
          {{- $data.SetInMap "allActions" (printf "%s" $date) ($data.Get (printf "listActions-%s" $date)) -}}
        {{/*- end -*/}}
      {{- end -}}
  {{- end -}}
{{- end -}}
{{/* END Loop over services actions */}}
{{/* END Loop over all actions */}}

{{ return
  (dict
    "actions" ($data.Get "allActions")
    "dates"   ($data.Get "allDates")
  )
}}
