{{/* Condition about if CSV is empty :: this is for init a project with a blank file */}}
{{- $.context.Scratch.Set "is-empty" 0 -}}
{{- $.context.Scratch.Set "testtotal" 0 -}}
{{- $.context.Scratch.Set "countercritere" 0 -}}
{{- $.context.Scratch.Set "critere" "" -}}
{{- range $key, $value := after 1 .auditfile -}}
    {{- $critere := printf "%s.%s" (index . 0) (index . 1) -}}
    {{- if ne $critere ($.context.Scratch.Get "critere") -}}{{- $.context.Scratch.Set "countercritere" 0 -}}{{- $.context.Scratch.Set "valuecriterepage" slice -}}{{- end -}}
    {{- range after 3 . -}}
      {{- if or (eq . "c") (eq . "nc") -}}{{- $.context.Scratch.Add "is-empty" 1 -}}{{- end -}}
      {{- if or (eq . "c") (eq . "nc") (eq . "na") (eq . "?") (gt (len .) 3) -}}{{- $.context.Scratch.Add "testtotal" 1 -}}{{- $.context.Scratch.Add "countercritere" 1 -}}{{- end -}}
      {{- if ne ($.context.Scratch.Get "countercritere") 0 -}}{{- $.context.Scratch.SetInMap "criteretotal" (string $critere) ($.context.Scratch.Get "countercritere") -}}{{- end -}}
      {{- if or . -}}
      {{- $.context.Scratch.Add "valuecriterepage" . -}}
      {{- $.context.Scratch.SetInMap "criterevalues" (string $critere) (uniq ($.context.Scratch.Get "valuecriterepage")) -}}
      {{- end -}}
    {{- end -}}
    {{- $.context.Scratch.Set "critere" $critere -}}
{{- end -}}
{{- $.context.Scratch.Delete "critereconforme" -}}
{{- $.context.Scratch.Delete "scores" -}}
{{- if and .auditfile ($.context.Scratch.Get "is-empty")  -}}
{{- $auditfile := .auditfile }}
{{- $.context.Scratch.Set "pages" slice -}}
{{- range $id, $value := ($.context.Scratch.Get "criterevalues") -}}
  {{- if ne (len $value) 0 -}}
  {{- if eq (len $value) 1 -}}
    {{- if eq (index $value 0) "?" -}}{{- $.context.Scratch.SetInMap "criterenonapplicable" (string $id) . -}}{{- end -}}
    {{- if eq (index $value 0) "c" -}}{{- $.context.Scratch.SetInMap "critereconforme" (string $id) . -}}{{- end -}}
    {{- if eq (index $value 0) "na" -}}{{- $.context.Scratch.SetInMap "criterenonapplicable" (string $id) . -}}{{- end -}}
    {{- if or (eq (index $value 0) "nc") (gt (len (index $value 0)) 3) -}}{{- $.context.Scratch.SetInMap "criterenonconforme" (string $id) . -}}{{- end -}}
  {{- else -}}
    {{- if eq (len ($value | symdiff (slice "na" "c"))) 0 -}}{{- $.context.Scratch.SetInMap "critereconforme" (string $id) . -}}{{- end -}}
    {{- if ge (len ($value | symdiff (slice "na" "c"))) 1 -}}{{- $.context.Scratch.SetInMap "criterenonconforme" (string $id) . -}}{{- end -}}
  {{- end -}}
  {{- end -}}
{{- end -}}
{{- $.context.Scratch.SetInMap "scores" "criteretotal" ($.context.Scratch.Get "criteretotal") -}}
{{- $.context.Scratch.SetInMap "scores" "testtotal" ($.context.Scratch.Get "testtotal") -}}
{{- $.context.Scratch.SetInMap "scores" "is-empty" ($.context.Scratch.Get "is-empty") -}}
{{- $.context.Scratch.SetInMap "scores" "critereconforme" ($.context.Scratch.Get "critereconforme") -}}
{{- $.context.Scratch.SetInMap "scores" "criterenonconforme" ($.context.Scratch.Get "criterenonconforme") -}}
{{- $.context.Scratch.SetInMap "scores" "criterenonapplicable" ($.context.Scratch.Get "criterenonapplicable") -}}
{{- $.context.Scratch.SetInMap "scores" "critereconformepercent" (math.Round (div (mul (len ($.context.Scratch.Get "critereconforme")) 100) (sub (len ($.context.Scratch.Get "criteretotal")) ((len ($.context.Scratch.Get "criterenonapplicable")))))) -}}
{{- return ($.context.Scratch.Get "scores") -}}
{{- end -}}

