{{/* Return value for loading externals projects */}}
{{ $context    := .context   }}
{{ $project    := .project   }}
{{ $data       := newScratch }}
{{ $auditfile  := .auditfile }}
{{ $results    := partialCached "render/accessibility" (dict "auditfile" $auditfile) $auditfile }}
{{ $data.Delete "compliance" }}

{{/* Declare all the variables */}}
{{ $data.SetInMap "compliance" "0"       $results.scores.compliance }}
{{ $data.Set      "criteriatotal"        $results.scores.total }}
{{ $data.Set      "compliancetotal"      (index ($data.Get "compliance") "0") }}
{{ $data.Set      "percentage"           (index ($data.Get "compliance") "0") }}

{{/* Id of externals projects or subprojects are called */}}
{{ with .context.Params.projects }}
  {{ range $id, $value := . }}
    {{ $name := .name }}
    {{/* If subproject */}}
    {{ with .folder }}
      {{ $data.SetInMap "name" (string (add $id 1)) $name }}
      {{ $project  := replace (printf "%s/%s" (path.Dir $context.Path) .) "audits" "" }}
      {{ $lastfile := (partialCached "render/lastfile.html" (dict "project" $project "type" "accessibility") $project "accessibility") }}
      {{ if index $lastfile "auditfile-name" }}
        {{ with index $lastfile "auditfile-path" }}
          {{ $file         := (partialCached "render/accessibility" (dict "auditfile" .) .) }}
          {{ $auditcontext := index (partialCached "render/context.html" (dict "context" $context "project" $project) $project) (index $lastfile "auditfile-name") }}
          {{ $data.SetInMap "compliance"           (string (add $id 1)) $file.scores.compliance }}
          {{ $data.SetInMap "complianceaverage"    (string (add $id 1)) $file.scores.complianceaverage }}
          {{ $data.SetInMap "project"              (string (add $id 1)) $project }}
          {{ $data.SetInMap "criteriatotals"       (string (add $id 1)) $file.scores.criteria.total }}
          {{ $data.Set      "compliancetotal"      (add (index ($data.Get "compliance") (string (add $id 1))) ($data.Get "compliancetotal")) }}
          {{ $data.Set      "percentage"           (div ($data.Get "compliancetotal") (len ($data.Get "compliance"))) }}
          {{ $data.SetInMap "context"              (string (add $id 1)) $auditcontext }}
        {{ end }}
      {{ end }}
    {{ end }}
    {{ range $id, $value := .audits }}
      {{ $type := .type }}
      {{ if eq $type "accessibility" }}
      {{ with (getJSON .url).rgaa }}
        {{ $data.SetInMap "name" (string (add $id 1000)) $name }}
          {{ range last 1 (sort .) }}
            {{ $data.SetInMap "compliance"           (string (add $id 1000)) .score.compliance }}
            {{ $data.SetInMap "complianceaverage"    (string (add $id 1000)) .score.complianceaverage }}
            {{ $data.SetInMap "criteriatotals"       (string (add $id 1000)) .score.criteria.total }}
            {{ $data.Set      "compliancetotal"      (add (index ($data.Get "compliance") (string (add $id 1000))) ($data.Get "compliancetotal")) }}
            {{ $data.Set      "percentage"           (div ($data.Get "compliancetotal") (len ($data.Get "compliance"))) }}
            {{ $data.SetInMap "context"              (string (add $id 1000)) .context }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return
    (dict
      "names"             ($data.Get "name")
      "compliance"        ($data.Get "compliance")
      "complianceaverage" ($data.Get "complianceaverage")
      "project"           ($data.Get "project")
      "total"             ($data.Get "criteriatotals")
      "context"           ($data.Get "context")
      "percentage"        (int ($data.Get "percentage"))
    )
}}
