{{- $context    := .context   -}}
{{- $project    := .project   -}}
{{- $auditfile  := .auditfile -}}
{{- $results    := partialCached "render/accessibility" (dict "context" $context "project" $project "auditfile" $auditfile) $auditfile -}}
{{- $.context.Scratch.Delete "compliance" -}}

{{- $.context.Scratch.SetInMap "compliance" "0"       $results.scores.compliance -}}
{{- $.context.Scratch.Set      "criteriatotal"        $results.scores.total -}}
{{- $.context.Scratch.Set      "compliancetotal"      (index ($.context.Scratch.Get "compliance") "0") -}}
{{- $.context.Scratch.Set      "percentage"           (index ($.context.Scratch.Get "compliance") "0") -}}

{{- with .context.Params.projects -}}
  {{- range $id, $value := . -}}
    {{- $name := .name -}}
    {{- with .folder -}}
      {{- $.context.Scratch.SetInMap "name" (string (add $id 1)) $name -}}
      {{- $project := replace (printf "%s/%s" (path.Dir $context.Path) .) "audits" "" -}}
      {{- $lastfile := (partialCached "render/lastfile.html" (dict "context" $context "project" $project "type" "accessibility") $context $project "accessibility") -}}
      {{- if index $lastfile "auditfile-name" -}}
        {{- with index $lastfile "auditfile-path" -}}
          {{- $.context.Scratch.SetInMap "compliance"           (string (add $id 1)) (partialCached "render/accessibility" (dict "context" $context "project" $project "auditfile" .) $project .).scores.compliance -}}
          {{- $.context.Scratch.SetInMap "criteriatotals"       (string (add $id 1)) (partialCached "render/accessibility" (dict "context" $context "project" $project "auditfile" .) $project .).scores.criteria.total -}}
          {{- $.context.Scratch.Set      "compliancetotal"      (add (index ($.context.Scratch.Get "compliance") (string (add $id 1))) ($.context.Scratch.Get "compliancetotal")) -}}
          {{- $.context.Scratch.Set      "percentage"           (div ($.context.Scratch.Get "compliancetotal") (len ($.context.Scratch.Get "compliance"))) -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
    {{- range $id, $value := .audits -}}
      {{- $type := .type -}}
      {{- if eq $type "accessibility" -}}
      {{ warnf "%s" .url }}
      {{ with (getJSON .url).rgaa }}
      {{- $.context.Scratch.SetInMap "name" (string (add $id 1000)) $name -}}
        {{ range last 1 (sort .) }}
          {{- $.context.Scratch.SetInMap "compliance"           (string (add $id 1000)) .scores.compliance -}}
          {{- $.context.Scratch.SetInMap "criteriatotals"       (string (add $id 1000)) .scores.criteria.total -}}
          {{- $.context.Scratch.Set      "compliancetotal"      (add (index ($.context.Scratch.Get "compliance") (string (add $id 1000))) ($.context.Scratch.Get "compliancetotal")) -}}
          {{- $.context.Scratch.Set      "percentage"           (div ($.context.Scratch.Get "compliancetotal") (len ($.context.Scratch.Get "compliance"))) -}}
        {{- end -}}
      {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- return
    (dict
      "names"      ($.context.Scratch.Get "name")
      "compliance" ($.context.Scratch.Get "compliance")
      "total"      ($.context.Scratch.Get "criteriatotals")
      "percentage" (int ($.context.Scratch.Get "percentage"))
    )
-}}
