
{{- $project := .project -}}
{{- $type := .type -}}
{{- $patharray := split (path.Dir .context.Path) "/" -}}
{{- $.context.Scratch.Set "pathroot-lastfile" (partialCached "render/check-rootpath-ressources" (dict "context" . "project" $project "type" .type) $project .type) -}}
{{- $path := cond (not $project) (printf "/%s/%s" ($.context.Scratch.Get "pathroot-lastfile") $type) (printf "/%s/%s/%s" ($.context.Scratch.Get "pathroot-lastfile") $project $type) -}}
{{- $ext  := cond (eq .type "accessibility") "csv" (cond (eq .type "quality") "yml" "json") -}}

{{- $.context.Scratch.Delete "auditpath-all-lastfile" -}}
{{- $.context.Scratch.Delete "auditname-all-lastfile" -}}

{{- if .datafilename -}}
  {{- $.context.Scratch.Set "pathdatafile" ((replace ($path) (printf "%s" .type) (printf "%s/%s" .datafilename .type))) -}}
{{- else -}}
  {{- $.context.Scratch.Set "pathdatafile" ((replace ($path) (printf "%s/" .type) (printf "%s" .type))) -}}
{{- end -}}

{{- if (fileExists (printf "%s.%s" ($.context.Scratch.Get "pathdatafile") $ext)) -}}
  {{- $.context.Scratch.Set "auditpath-lastfile" (printf "%s.%s" ($.context.Scratch.Get "pathdatafile") $ext) -}}
  {{- $.context.Scratch.Set "auditname-lastfile" (now.Format "2006-01-02") -}}
  {{- $.context.Scratch.SetInMap "auditpath-all-lastfile" "999" ($.context.Scratch.Get "auditpath-lastfile") -}}
  {{- $.context.Scratch.SetInMap "auditname-all-lastfile" "999" ($.context.Scratch.Get "auditname-lastfile") -}}
{{- end -}}
{{- if (fileExists ($.context.Scratch.Get "pathdatafile")) -}}
  {{- $.context.Scratch.Set "dir-lastfile" (readDir ($.context.Scratch.Get "pathdatafile")) -}}
  {{- with ($.context.Scratch.Get "dir-lastfile") -}}
    {{- range $key, $value := . -}}
      {{- if (fileExists $path) -}}
        {{- $.context.Scratch.SetInMap "auditpath-all-lastfile" (string (add $key 1)) (replace (printf "/%s/%s" ($.context.Scratch.Get "pathdatafile") .Name) "//" "/") -}}
        {{- $.context.Scratch.SetInMap "auditname-all-lastfile" (string (add $key 1)) (replace .Name (path.Ext .Name) "") -}}
      {{- end -}}
    {{- end -}}
    {{- $.context.Scratch.Set "auditpath-lastfile" (printf "%s" (string (delimit (last 1 (sort ($.context.Scratch.Get "auditpath-all-lastfile"))) ""))) -}}
    {{- $.context.Scratch.Set "auditname-lastfile" (string (printf "%s" (delimit (last 1 (sort ($.context.Scratch.Get "auditname-all-lastfile"))) ""))) -}}
  {{- end -}}
{{- end -}}

{{- return
  (dict
    "type"               $type
    "path"               $path
    "ext"                $ext
    "pathdatafile"       ($.context.Scratch.Get "pathdatafile")
    "datafilename"       .datafilename
    "pathroot"           ($.context.Scratch.Get "pathroot-lastfile")
    "auditfile-name"     ($.context.Scratch.Get "auditname-lastfile")
    "auditfile-path"     ($.context.Scratch.Get "auditpath-lastfile")
    "auditfile-all-name" ($.context.Scratch.Get "auditname-all-lastfile")
    "auditfile-all-path" ($.context.Scratch.Get "auditpath-all-lastfile")
  )
-}}
