{{/* Return the type of audit file :: if with "Thématiques" "Critères" or "Thématiques" "Critères" "Tests" */}}
{{ $auditfile := .auditfile }}
{{ $data      := newScratch }}
{{ with $auditfile }}
{{ $data.Set "methodology"          (len (intersect (index . 0) (slice "Thématiques" "Critères" "Tests"))) }}
{{ $data.Set "methodologypageslist" (cond (eq ($data.Get "methodology") 2) ((index . 0) | symdiff (slice "Thématiques" "Critères")) ((index . 0) | symdiff (slice "Thématiques" "Critères" "Tests"))) }}
{{ return
  (dict
    "methodology" ($data.Get "methodology")
    "pageslist"   ($data.Get "methodologypageslist")
  )
}}
{{ end }}
