{{/* Determinate the performance value from lighthouse files */}}
{{ $auditfile := .auditfile }}
{{ $data      := newScratch }}
{{/* START Test if audit file not false */}}
{{ if (ne $auditfile "/false") }}
  {{/* START Test if audit file exists */}}
  {{ with $auditfile }}
    {{ $file := getJSON . }}
    {{/* START if file */}}
    {{ with $file }}
      {{/* https://blog.octo.com/sous-le-capot-de-la-mesure-ecoindex/ */}}
      {{/* https://www.tunetheweb.com/blog/what-do-lighthouse-scores-look-like-across-the-web/ */}}
      {{/* START .audits.metrics.details.items .audits.diagnostics.details.items exist */}}
      {{ if and .audits.metrics.details.items .audits.diagnostics.details.items }}
        {{ $data.Set "LCP"         ((index (.audits.metrics.details.items) 0).largestContentfulPaint) }}
        {{ $data.Set "speedscore"  (.categories.performance.score) }}
        {{ $data.Set "pageweight"  ((index (.audits.diagnostics.details.items) 0).totalByteWeight) }}
        {{ $data.Set "domsize"     ((index .audits "dom-size").numericValue ) }}
        {{ $data.Set "requests"    ((index (.audits.diagnostics.details.items) 0).numRequests) }}
        {{ $data.Set "ecobest"     (sub 100 (mul 0.833333333 (add (add (mul 3 150) (mul 15 2)) 130000))) }}
        {{ $data.Set "ecoworth"    (sub 100 (mul 0.833333333 (add (add (mul 3 3000) (mul 120 2)) 5000000))) }}
        {{ $data.Set "eco"         (sub 100 (mul 0.833333333 (add (add (mul 3 ($data.Get "domsize")) (mul ($data.Get "requests") 2)) ($data.Get "pageweight")))) }}
        {{ $data.Set "ecoscore"    (sub 100 (div (mul ($data.Get "eco") 100) (sub ($data.Get "ecoworth") ($data.Get "ecobest")))) }}
        {{ $data.Set "eau"         (add (mul (sub 50 ($data.Get "ecoscore")) 0.03) 3) }}
        {{ $data.Set "co2"         (add (mul (sub 50 ($data.Get "ecoscore")) 0.02) 2) }}

        {{ if gt (int ($data.Get "speedscore")) 0.99 }}
                                                                          {{ $data.Set "speedindex" "A" }}{{ $data.Set "speedindexclass" "verygood" }}
          {{ else if gt (int ($data.Get "speedscore")) 0.93  }}{{ $data.Set "speedindex" "B" }}{{ $data.Set "speedindexclass" "good" }}
          {{ else if gt (int ($data.Get "speedscore")) 0.80  }}{{ $data.Set "speedindex" "B" }}{{ $data.Set "speedindexclass" "good" }}
          {{ else if gt (int ($data.Get "speedscore")) 0.55  }}{{ $data.Set "speedindex" "C" }}{{ $data.Set "speedindexclass" "medium" }}
          {{ else if gt (int ($data.Get "speedscore")) 0.31  }}{{ $data.Set "speedindex" "D" }}{{ $data.Set "speedindexclass" "bad" }}
          {{ else if gt (int ($data.Get "speedscore")) 0.16  }}{{ $data.Set "speedindex" "E" }}{{ $data.Set "speedindexclass" "bad" }}
          {{ else if gt (int ($data.Get "speedscore")) 0.08  }}{{ $data.Set "speedindex" "F" }}{{ $data.Set "speedindexclass" "verybad" }}
          {{ else if le (int ($data.Get "speedscore")) 0.08  }}{{ $data.Set "speedindex" "G" }}{{ $data.Set "speedindexclass" "verybad" }}
        {{ end }}

        {{ if gt (int ($data.Get "ecoscore")) 75 }}
                                                                      {{ $data.Set "ecoindex" "A" }}{{ $data.Set "ecoindexclass" "good" }}
          {{ else if gt (int ($data.Get "ecoscore")) 65 }}{{ $data.Set "ecoindex" "B" }}{{ $data.Set "ecoindexclass" "good" }}
          {{ else if gt (int ($data.Get "ecoscore")) 50 }}{{ $data.Set "ecoindex" "C" }}{{ $data.Set "ecoindexclass" "medium" }}
          {{ else if gt (int ($data.Get "ecoscore")) 35 }}{{ $data.Set "ecoindex" "D" }}{{ $data.Set "ecoindexclass" "bad" }}
          {{ else if gt (int ($data.Get "ecoscore")) 20 }}{{ $data.Set "ecoindex" "E" }}{{ $data.Set "ecoindexclass" "bad" }}
          {{ else if gt (int ($data.Get "ecoscore")) 5  }}{{ $data.Set "ecoindex" "F" }}{{ $data.Set "ecoindexclass" "bad" }}
          {{ else if le (int ($data.Get "ecoscore")) 5  }}{{ $data.Set "ecoindex" "G" }}{{ $data.Set "ecoindexclass" "bad" }}
        {{ end }}
      {{ end }}
      {{/* END .audits.metrics.details.items .audits.diagnostics.details.items exist */}}

      {{ return
        (dict
          "LCP"             ($data.Get "LCP")
          "pageweight"      ($data.Get "pageweight")
          "domsize"         ($data.Get "domsize")
          "requests"        ($data.Get "requests")
          "speedscore"      ($data.Get "speedscore")
          "speedindex"      ($data.Get "speedindex")
          "speedindexclass" ($data.Get "speedindexclass")
          "ecoscore"        ($data.Get "ecoscore")
          "ecoindex"        ($data.Get "ecoindex")
          "ecoindexclass"   ($data.Get "ecoindexclass")
          "eau"             ($data.Get "eau")
          "co2"             ($data.Get "co2")
        )
      }}
    {{ end }}
    {{/* END if file */}}
  {{ end }}
  {{/* END Test if audit file exists */}}
{{ end }}
{{/* END Test if audit file not false */}}
