
{{/* Determine values from quality files */}}
{{- $pathlen   := len (split (path.Dir .context.Path) "/") -}}
{{- $auditfile := .auditfile -}}
{{- if (ne $auditfile "/false") -}}
{{- $lastfile  := readFile $auditfile | transform.Unmarshal -}}
{{- $.context.Scratch.Delete "counterquality" -}}

{{- range $lastfile -}}
    {{- $.context.Scratch.Set "countererrorstotal" 0 -}}
    {{- $.context.Scratch.Set "countererrorschecked" 0 -}}
    {{- $.context.Scratch.Set "countererrorstypecode" 0 -}}
    {{- $.context.Scratch.Set "countererrorstypevisual" 0 -}}
    {{- $.context.Scratch.Set "countererrorstypestructure" 0 -}}
    {{- $.context.Scratch.Set "countererrorstypetext" 0 -}}
    {{- $.context.Scratch.Set "countererrorscritical" 0 -}}
    {{- $.context.Scratch.Set "countererrorsimportant" 0 -}}
    {{- $.context.Scratch.Set "countererrorsmedium" 0 -}}
    {{- range .pages -}}
    {{- range $b := .blocks -}}
    {{- range .errors -}}
      {{- $.context.Scratch.Add "countererrorstotal" 1 -}}
      {{- if .checked }}{{ $.context.Scratch.Add "countererrorschecked" 1 }}{{- end -}}
      {{- if in .type "code" -}}{{ $.context.Scratch.Add "countererrorstypecode" 1 }}{{- end -}}
      {{- if in .type "vis" -}}{{ $.context.Scratch.Add "countererrorstypevisual" 1 }}{{- end -}}
      {{- if in .type "structure" -}}{{ $.context.Scratch.Add "countererrorstypestructure" 1 }}{{- end -}}
      {{- if in .type "text" -}}{{ $.context.Scratch.Add "countererrorstypetext" 1 }}{{- end -}}
      {{- if in .status "criti" -}}{{ $.context.Scratch.Add "countererrorscritical" 1 }}{{- end -}}
      {{- if in .status "important" -}}{{ $.context.Scratch.Add "countererrorsimportant" 1 }}{{- end -}}
      {{- if in .status "moindre" -}}{{ $.context.Scratch.Add "countererrorsmedium" 1 }}{{- end -}}
    {{- end -}}
    {{- end -}}
    {{- end -}}
{{- end -}}

{{- return
  (dict
    "pathlen"       ($pathlen)
    "total"         ($.context.Scratch.Get "countererrorstotal")
    "checked"       ($.context.Scratch.Get "countererrorschecked")
    "critical"      ($.context.Scratch.Get "countererrorscritical")
    "important"     ($.context.Scratch.Get "countererrorsimportant")
    "medium"        ($.context.Scratch.Get "countererrorsmedium")
    "type" (dict
            "code"        ($.context.Scratch.Get "countererrorstypecode")
            "visual"      ($.context.Scratch.Get "countererrorstypevisual")
            "structure"   ($.context.Scratch.Get "countererrorstypestructure")
            "text"        ($.context.Scratch.Get "countererrorstypetext")
          )
  )
-}}
{{- else -}}
{{- warnf "Maybe quality file is missing in %s" .context -}}
{{- end -}}
