
{{/* Determine values from quality files */}}
{{ $pathlen   := len (split (path.Dir .context.Path) "/") }}
{{ $auditfile := .auditfile }}
{{ $data      := newScratch }}
{{/* START Test if audit file not false */}}
{{ if (ne $auditfile "/false") }}
  {{ $lastfile  := readFile $auditfile | transform.Unmarshal }}
  {{ $data.Delete "counterquality" }}

  {{ range $lastfile }}
    {{ $data.Set "countererrorstotal" 0 }}
    {{ $data.Set "countererrorschecked" 0 }}
    {{ $data.Set "countererrorstypecode" 0 }}
    {{ $data.Set "countererrorstypevisual" 0 }}
    {{ $data.Set "countererrorstypestructure" 0 }}
    {{ $data.Set "countererrorstypetext" 0 }}
    {{ $data.Set "countererrorscritical" 0 }}
    {{ $data.Set "countererrorsimportant" 0 }}
    {{ $data.Set "countererrorsmedium" 0 }}
    {{ range .pages }}
      {{ range $b := .blocks }}
        {{ range .errors }}
          {{ $data.Add "countererrorstotal" 1 }}
          {{ if .checked }}{{ $data.Add "countererrorschecked" 1 }}{{ end }}
          {{ if in .type "code" }}{{ $data.Add "countererrorstypecode" 1 }}{{ end }}
          {{ if in .type "vis" }}{{ $data.Add "countererrorstypevisual" 1 }}{{ end }}
          {{ if in .type "structure" }}{{ $data.Add "countererrorstypestructure" 1 }}{{ end }}
          {{ if in .type "text" }}{{ $data.Add "countererrorstypetext" 1 }}{{ end }}
          {{ if in .status "criti" }}{{ $data.Add "countererrorscritical" 1 }}{{ end }}
          {{ if in .status "important" }}{{ $data.Add "countererrorsimportant" 1 }}{{ end }}
          {{ if in .status "moindre" }}{{ $data.Add "countererrorsmedium" 1 }}{{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ return
    (dict
      "date"          (replace (path.Base $auditfile) (path.Ext $auditfile) "")
      "pathlen"       ($pathlen)
      "total"         ($data.Get "countererrorstotal")
      "checked"       ($data.Get "countererrorschecked")
      "critical"      ($data.Get "countererrorscritical")
      "important"     ($data.Get "countererrorsimportant")
      "medium"        ($data.Get "countererrorsmedium")
      "type" (dict
              "code"        ($data.Get "countererrorstypecode")
              "visual"      ($data.Get "countererrorstypevisual")
              "structure"   ($data.Get "countererrorstypestructure")
              "text"        ($data.Get "countererrorstypetext")
            )
    )
  }}
{{ else }}
  {{ if ne .context.Path "_index.md" }}{{ warnf "Maybe recommendation file is missing in %s" .context.Path }}{{ end }}
{{ end }}
{{/* END Test if audit file not false */}}
