{{- $project := .project -}}

{{- if (fileExists "data/quality/") -}}
  {{- $.context.Scratch.Set "dir" (readDir "data/quality/") -}}
{{- end -}}
{{- if and $project (not (eq $project "index")) (printf "data/%s/quality/" $project) -}}
  {{- $.context.Scratch.Set "dir" (readDir (printf "data/%s/quality/" $project)) -}}
{{- end -}}

{{- with ($.context.Scratch.Get "dir") -}}
  {{- range last 1 . -}}
    {{- if (fileExists "data/quality/") -}}
      {{- $.context.Scratch.Set "lastfilee" (getJSON (printf "data/quality/%s" .Name)) -}}
    {{- end -}}
    {{- if and $project (not (eq $project "index")) (printf "data/%s/quality/" $project) -}}
      {{- $.context.Scratch.Set "lastfilee" (getJSON (printf "data/%s/quality/%s" $project .Name)) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{ $.context.Scratch.Set "delivery" slice }}
{{ $.context.Scratch.Set "pagesdelivery" slice }}
{{- range ($.context.Scratch.Get "lastfilee") -}}
{{- range $idpage, $s := .pages -}}
  {{ $page := dict "pagename" .name }}
  {{- range $idblock, $s := .blocks -}}
  {{- range $iderror, $s:= .errors -}}
    {{ $id := (printf "%s%s%s" (string $idpage) (string $idblock) (string $iderror)) }}
    {{- if .status -}}
    {{ $s := merge $s $page}}
    {{ $.context.Scratch.SetInMap "pagesstatus" (string $id) $s }}
    {{- end -}}
  {{- end -}}
  {{- end -}}
{{- end -}}
{{- end -}}
<hr>
{{ with $.context.Scratch.Get "pagesstatus" }}
<h3>Par criticité</h3>
<table class="text-left">
  <thead><tr><th>Intitulé</th><th class="text-center" style="width: 100px;">Type</th><th class="text-center" style="width: 150px;">Criticité</th></tr></thead>
  <tbody>
  {{- range $key, $value := sort . "status" "asc" -}}
    <h3 hidden>{{ if $value }}{{ $key | humanize }}{{ end }}</h3>
      <tr>
        <td>#{{ $key }} - <a href="#{{ .name | urlize }}">{{ .name }}</a>{{ if .pagename }} - {{ .pagename }}{{ end }}</td>
        <td class="text-center">{{ .type }}</td>
        <td class="critical{{ if eq .status "critique" }} bad{{ else if eq .status "important" }} medium{{ else if eq .status "moindre" }} normal{{ else }} none{{ end }}">
          <span class="emoticon">{{ if eq .status "critique" }}🚫 {{ else if eq .status "important" }}❗️ {{ else if eq .status "moindre" }}➰ {{ else }}❓ {{ end }}</span>
          <strong class="text-color-light">{{ .status }}{{ if not .status }}Aucune{{ end }}</strong>
        </td>
      </tr>
  {{- end -}}
  </tbody>
</table>
{{- end -}}
