{{- $filepath := printf "/css/%s/%s.css" .filefolder .filename -}}
{{- $css := resources.Get $filepath -}}
{{- if $css -}}
<link rel="preload" href="{{ $css.Permalink }}" as="style">
<link rel="stylesheet" href="{{ $css.Permalink }}" {{ with $css.Data.Integrity }}integrity="{{ . }}"{{- end -}} media="print" onload="this.media='all'">
<noscript>
  <link rel="stylesheet" href="{{ $css.Permalink }}" {{ with $css.Data.Integrity }}integrity="{{ . }}"{{- end -}} media="screen">
</noscript>
{{- else -}}
  {{- warnf "this css doesn't exist" $css -}}
{{- end -}}
