{{- if .context.Site.Taxonomies -}}
{{- if .context.Site.Taxonomies.phases -}}
{{- partial "utils/css.html" (dict "context" . "filefolder" "overgo/object" "filename" "timeline") -}}
{{- $tags := (slice .context.File.BaseFileName) -}}
{{- $site := .context.Site -}}
{{- $projecttaxonomy := where $site.Pages ".Params.tags" "intersect" $tags -}}
{{- $.context.Scratch.Set "lencond" (eq (len (split .context.Permalink "/")) 6) -}}
{{- $.context.Scratch.Set "isphases" false -}}
{{- $.context.Scratch.Set "phases" .context.Site.Taxonomies.phases -}}

{{/* Find is pahses tags are present for this project */}}
{{- if ($.context.Scratch.Get "lencond") -}}
  {{- range $key, $taxonomy := .context.Site.Taxonomies.phases -}}
    <p hidden>{{- $taxonomy.Pages -}}</p>
    {{- if $projecttaxonomy | intersect $taxonomy.Pages -}}
    {{- $.context.Scratch.Set "isphases" true -}}
    {{- end -}}
  {{- end -}}
{{- else -}}
  {{- range $key, $taxonomy := .context.Site.Taxonomies.phases -}}
    <p hidden>{{- $taxonomy.Pages -}}</p>
    {{- if $taxonomy.Pages -}}
    {{- $.context.Scratch.Set "isphases" true -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

<p hidden>
  <b>$tags</b> : {{ $tags }}<br>
  <b>$projecttaxonomy</b>{{- $projecttaxonomy -}}</b>
  <b>lencond</b> : {{ $.context.Scratch.Get "lencond" }}<br>
  <b>isphases</b> : {{ $.context.Scratch.Get "isphases" }}<br>
</p>

{{- if $.context.Scratch.Get "isphases" -}}
<section class="section{{ if .type }}-{{ .type }}{{ end }}">
  <div class="wrapper">
  {{ $.context.Scratch.Set "counter" 0 }}
  <h2 class="text-center">Phases du projet</h2>
    {{- range $key, $taxonomy := $.context.Scratch.Get "phases" -}}
    {{ $.context.Scratch.Add "counter" 1 }}
    {{- if ($.context.Scratch.Get "lencond") -}}
    {{- $.context.Scratch.Set "phasestags" (where (sort $taxonomy.Pages "Date" "asc") ".Params.tags" "intersect" $tags) -}}
    {{- else -}}
    {{- $.context.Scratch.Set "phasestags" (sort $taxonomy.Pages "Date" "asc") -}}
    {{- end -}}
    {{ if ($.context.Scratch.Get "phasestags") }}<h3 id="{{ $key }}">{{ $key | humanize }}</h3>{{ end }}
    <ul class='timeline'>
        {{- range $idx, $p := ($.context.Scratch.Get "phasestags") -}}
        <li class="work">
          <input class='radio' id='work{{$.context.Scratch.Get "counter"}}{{ $idx }}' name="works{{$.context.Scratch.Get "counter"}}" type="radio">
          <div class="relative">
            <label for="work{{$.context.Scratch.Get "counter"}}{{ $idx }}">{{ .LinkTitle }}{{ if .Content }}<small> - <a href="{{ .Permalink }}">Accéder à la page</a></small>{{- end -}}</label>
            <span class="date">{{- if .Date -}}<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "2006/01/02" | safeHTML }}</time>{{ end }}</span>
            <span class="circle"></span>
          </div>
          {{- if .Params.description -}}
          <div class="content">
            <p>
              {{ .Params.description }}
            </p>
          </div>
          {{- end -}}
        </li>
        {{- end -}}
    </ul>
    {{- end -}}
  </div>
</section>
{{- end -}}
{{- end -}}
{{- end -}}
