/*
/// Description Lists
*/

dl {
  margin-top: 0;
  margin-bottom: var(--baseline,1.5em);
}

dt,
dd {
  line-height: var(--line-height-base);
}

dt {
  margin-top: calc(var(--baseline,1.5em) / 2);
  font-size: var(--bigger);
  font-weight: bold;
}

dd {
  margin-left: 0;
}
