/*
/// Table of content
*/

.tableofcontents {
  margin: var(--baseline,1.5em) 0 calc(var(--baseline,1.5em) * 2);
  padding: 0 var(--baseline,1.5em) var(--baseline,1.5em);
  color: var(--text-color);
  border: 1px solid #dedede;
  background: var(--background-color-body, #fff);
}

.tableofcontents ul {
  margin: var(--baseline,1.5em) 0 0;
  padding-left: var(--baseline,1.5em);
}

.tableofcontents a {
  color: var(--text-color);
}

.tableofcontents a {
  font-weight: 700;
}
