{{- $filepath := (partialCached "render/filepath" (dict "context" . "project" (.Get "project") "type" "backlinks.json") (.Get "project") "backlinks.json") -}}
{{- if fileExists $filepath -}}
{{- range sort (getJSON $filepath) -}}
  <div class="flex flex-wrap" style="justify-content: space-between; margin-bottom: 1rem;">
    <span style="max-width: 40%;">▶ {{ (index . "Source Page Title") }}</span> <a href="{{ (index . "Source URL") }}" style="max-width: 50%;word-wrap: break-word;">{{ (index . "Source URL") }}</a><br>
  </div>
{{- end -}}
{{- else -}}
<p>Le fichier {{ (printf "`%s`" $filepath) | markdownify }} est manquant.</p>
{{- end -}}
{{- .Inner -}}
