{{- $title := .Get "title" -}}
{{- $type := .Get "type" -}}
<div id="chart-{{ .Ordinal }}"></div>
{{ if eq .Ordinal 0 }}
<link rel="preload" href="{{ (resources.Get "js/frappe-charts.min.iife.js").Permalink }}" as="script">
<script src="{{ (resources.Get "js/frappe-charts.min.iife.js").Permalink }}"></script>
<script src="{{ (resources.Get "js/frappe-colors.js").Permalink }}"></script>
{{ end }}
<script>
    {{ if eq .Ordinal 0 }}
    const options = {
        height: 450,
        truncateLegends: true,
        axisOptions: {
            xAxisMode: "tick"
        },
        barOptions: {
            stacked: 1
        },
        colors: [hslToHex(hslprimary),hslToHex(hslsecondary),hslToHex(hsltertiary),hslToHex(hslquartenary)]
    }
    {{ end }}
    const data{{ .Ordinal | safeJS  }} = {{ .Inner | safeJS }}
    const chart{{ .Ordinal | safeJS  }} = new frappe.Chart("#chart-{{ .Ordinal }}", {
        title: "{{ $title }}",
        data: data{{ .Ordinal | safeJS }},
        type: {{ $type }},
        ...options
    })
</script>
