{{- $rangepages := where .Site.RegularPages "Section" (.Get "section") -}}
{{- if $rangepages -}}
<section class="section{{ if .Get "type" }}-{{ .Get "type" }}{{ end }} text-center">
<div class="fg-wrapper">
<h2>{{ with .Site.GetPage (.Get "section") }}{{ .Title }}{{ end }}</h2>
<br>
{{- partialCached "utils/css.html" (dict "context" . "filefolder" "object" "filename" "card") "card" -}}
<ul class="grid">
{{- range first 4 $rangepages -}}
  <li class="card card-shadow card-animate">
    {{- if .Date -}}<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Day }} {{ index $.Site.Data.month (printf "%d" .Date.Month) }} {{ .Date.Year }}</time>{{ end }}
    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
    {{- if .Params.tags -}}{{ range .Params.tags }}<a href="{{ $.Site.BaseURL | default "/" }}tags/{{ . }}">{{ . }}</a>{{ end }}{{ end }}
  </li>
{{- end -}}
</ul>
<a href="{{ $.Site.BaseURL | default "/" }}{{ (.Get "section") }}/" class="btn secondary">Voir les {{ with .Site.GetPage (.Get "section") }}{{ lower .Title }}{{ end }}</a>
</div>
{{- .Inner -}}
</section>
{{- end -}}
