{{ if eq .Ordinal 0 }}
<link rel="preload" href="/{{ (resources.Get "js/mermaid.min.js").Permalink }}" as="script">
<script src="{{ (resources.Get "js/mermaid.min.js").Permalink }}"></script>
<link rel="stylesheet" href="/{{ (resources.Get "css/mermaid.css").Permalink }}" media="print" onload="this.media='all'" />
<script>
  mermaid.initialize({
    theme: 'neutral',
    themeCSS: '.node rect,.node polygon, .task { fill: #006be6; stroke: #333; stroke-width:0;}.node .label {color: #fff;}.edgeLabel {background: snow;}.task {fill: #189e57}.task0 {fill: #006be6}',
    logLevel: 3,
    securityLevel: 'loose',
    flowchart: { curve: 'basis' },
    gantt: { axisFormat: '%m/%d/%Y' },
    sequence: { actorMargin: 50 },
  });
</script>
{{- end -}}
<div class="mermaid">
  {{- .Inner -}}
</div>

