{{- $.Scratch.Set "countries" slice -}}
{{ $project := .Get "project" }}
{{- $.Scratch.Set "auditpath" "static/similary.json" -}}
{{- if $project -}}
{{- $.Scratch.Set "projectfolders" (printf "/static/%s" $project) -}}
{{- $.Scratch.Set "auditpath" (printf "static/%s/similary.json" $project) -}}
{{- end -}}
{{- range sort (index (getJSON ($.Scratch.Get "auditpath"))) "country" "asc" -}}
    {{- $.Scratch.Add "countries" (slice .country) -}}
{{- end -}}
{{- $field := $.Scratch.Get "countries" | uniq -}}
{{- range $field -}}
  <h3>{{ . }}</h3>
  <ul>
  {{- range where (index (getJSON ($.Scratch.Get "auditpath"))) "country" . -}}
    <li>{{ .name }} - <a href="{{ .url }}">{{ .url | truncate 80 }}</a></li>
  {{- end -}}
  </ul>
{{- end -}}
{{- .Inner -}}
