{{- $.Scratch.Set "countries" slice -}}
{{- $project := .Get "project" -}}
{{- if $project -}}
{{- $path      := (partialCached "render/filepath" (dict "context" . "project" $project "type" "similary.json") $project "similary.json") -}}
{{- $.Scratch.Set "auditpath" $path -}}
{{- end -}}
{{- range sort (index (getJSON ($.Scratch.Get "auditpath"))) "country" "asc" -}}
    {{- $.Scratch.Add "countries" (slice .country) -}}
{{- end -}}
{{- $field := $.Scratch.Get "countries" | uniq -}}
{{- range $field -}}
  <h3>{{ . }}</h3>
  <ul>
  {{- range where (index (getJSON ($.Scratch.Get "auditpath"))) "country" . -}}
    <li>{{ .name }} - <a href="{{ .url }}">{{ .url | truncate 80 }}</a></li>
  {{- end -}}
  </ul>
{{- end -}}
{{- .Inner -}}
