{{- define "main" -}}
{{- $patharray :=  split .Path "/" -}}
{{- $project :=  (index $patharray 1) -}}
{{- $.Scratch.Set "pathimage" "" }}
{{- $.Scratch.Set "dir" "" -}}

{{- if eq (len $patharray) 3 -}}
{{- $.Scratch.Set "pathimage" (printf "./static/images/%s/quality/" $project) }}
{{- $.Scratch.Set "dir" (readDir (printf "data/%s/quality/" $project)) -}}
{{- else -}}
{{- $.Scratch.Set "pathimage" "./static/images/quality/" }}
{{- $.Scratch.Set "dir" (readDir "data/quality/") -}}
{{- end -}}

{{/* Set the audit file - test if a specific file is called */}}
{{- if .Params.datafilename -}}
  {{- if eq (len $patharray) 3 -}}
  {{ $.Scratch.Set "auditpath" (printf "data/%s/quality/%s.json" $project .Params.datafilename) }}
  {{- else -}}
  {{ $.Scratch.Set "auditpath" (printf "data/quality/%s.json" .Params.datafilename) }}
  {{- end -}}
  {{ $.Scratch.Set "auditfile" (getJSON ($.Scratch.Get "auditpath")) }}
{{- else -}}
  {{- with ($.Scratch.Get "dir") -}}
    {{- range last 1 ($.Scratch.Get "dir") -}}
    {{- if eq (len $patharray) 3 -}}
    {{ $.Scratch.Set "auditpath" (printf "data/%s/quality/%s" $project .Name) }}
    {{- else -}}
    {{ $.Scratch.Set "auditpath" (printf "data/quality/%s" .Name) }}
    {{- end -}}
    {{- $lastfile := getJSON ($.Scratch.Get "auditpath") -}}
      {{- with $lastfile -}}
        {{/* Set the audit file - it must exist */}}
        {{ $.Scratch.Set "auditfile" . }}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

<div class="wrapper audit">
<p class="no-print">⬅ <a href="{{ .Parent.Permalink }}" class="link-more link-back">Retour à la liste des {{ .Parent.Title }}</a></p>
<h1>{{ .Title }} <small>{{ if .Params.tags }}{{ range .Params.tags }}pour <a href="/tags/{{ . }}">{{ . }}</a>{{ end }}{{ end }}</small></h1>
{{- partial "elements/content.html" .Content -}}
{{- if eq (len $patharray) 3 -}}
{{- partial "components/scores/quality" (dict "context" . "project" $project) -}}
{{- end -}}
<h2>Contexte</h2>
{{- range ($.Scratch.Get "auditfile") -}}
<p>
  <strong>Version du référentiel&nbsp;: </strong>{{ .guidelines }}<br>
  <strong>Technologies utilisées sur le site&nbsp;: </strong>{{ delimit .technologies ", " }}<br>
  <strong>Outils pour réaliser l’audit&nbsp;: </strong>{{ delimit .tools ", " }}<br>
  <strong>Environnement de test&nbsp;: </strong>{{ delimit .environment ", " }}<br>
</p>
{{- end -}}
<div class="tableofcontents">
<h2>Accéder aux pages auditées</h2>
<ul>
{{- range ($.Scratch.Get "auditfile") -}}
{{- range .pages -}}
  <li><a href="#{{ .name | urlize }}">{{ .name }}</a></li>
{{- end -}}
{{- end -}}
</ul>
</div>
<h2>Liste des pages auditées</h2>
{{- range ($.Scratch.Get "auditfile") -}}
{{- range $idpage, $s := .pages -}}
  {{- $name := .name -}}
  {{ $.Scratch.Set "countererrors" 0 }}
  {{- range $idblock, $b := .blocks -}}
  {{- range $s:= .errors -}}
    {{ $.Scratch.Add "countererrors" 1 }}
  {{- end -}}
  {{- end -}}
  <h3 id="{{ .name | urlize }}">{{ .name }} <small>- <span class="counter">{{ $.Scratch.Get "countererrors" }}</span> erreurs sur cette page</small></h3>
  <p>URL : <a href="{{ .url }}">{{ .url }}</a></p>
  {{- $.Scratch.Set "paths" slice -}}
  {{- range $idblock, $b := .blocks -}}
  <h4>{{ $b.name }} <small>- Bloc</small></h4>
  {{- range $s:= .errors -}}
    {{- $path := .name  -}}
    {{- $filename := printf "%s-%s-%s.png" ($name | urlize) ($b.name | urlize) (.name | urlize) -}}
    {{- $.Scratch.Add "index" (slice $path) -}}
    <dl>
      <dt>{{ if .checked }}☒{{ else }}☐{{ end }} {{ .name }} <small class="no-print">- {{ range (readDir ($.Scratch.Get "pathimage")) }}{{ if in (string .Name) (string $filename) }}<a href="#{{ $filename }}">{{ end }}{{ end }}{{ $filename }}{{ range (readDir ($.Scratch.Get "pathimage")) }}
      {{ if in (string .Name) (string $filename) }}</a>{{ end }}{{ end }}</small></dt>
      {{ if .description }}<dd>{{ .description | safeHTML }}</dd>{{ end }}
      {{ if .criterion }}
      {{ if not (eq (slicestr .criterion 0 2) "ER") }}
      <dd>Critère : <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/criteres/#crit-{{ replace .criterion "." "-" }}">{{ .criterion | safeHTML }}</a> du RGAA4</dd>
      {{- else -}}
      <dd>Critère : <a href="https://pidila.gitlab.io/amoa/evaluation-rapide.html">{{ .criterion | safeHTML }}</a> de l’évaluation rapide PIDILA</dd>
      {{- end -}}
      {{- end -}}
    </dl>
    <div class="audit-code">
      {{ if .codebefore }}<p><strong>Code présent</strong><pre class="language-html"><code>{{ .codebefore | htmlUnescape }}</code></pre></p>{{ end }}
      {{ if .codeafter }}<p><strong>Code modifié</strong><pre class="language-html"><code>{{ .codeafter | htmlUnescape }}</code></pre></p>{{ end }}
    </div>
  {{- end -}}
  <div class="benchmark grid grid-4 lightbox-{{ $idpage }}-{{ $idblock }}">
  {{- range $errorname := ($.Scratch.Get "index") -}}
      {{- $filename := printf "%s-%s-%s.png" ($name | urlize) ($b.name | urlize) (. | urlize) -}}
      {{- range (readDir ($.Scratch.Get "pathimage")) -}}
        {{ if in (string .Name) (string $filename) }}<div class="flex flex-column"><figure class="flex flex-max"><a href="/images/{{- if eq (len $patharray) 3 -}}{{ $project }}/{{ end }}quality/{{ .Name }}" cfmodified="modified"><img src="/images/{{- if eq (len $patharray) 3 -}}{{ $project }}/{{ end }}quality/{{ .Name }}" alt="" class="align-items-center"></a></figure><div class="benchnmark-name" id="{{ .Name }}">{{ $errorname }}</div></div>{{ end }}
      {{- end -}}
  {{- end -}}
  </div>
  <hr>
  {{- end -}}
{{- end -}}
{{- end -}}
</div>
{{- end -}}
{{- define "script" -}}
<link rel="stylesheet" href="/css/simple-lightbox.min.css" />
<link rel="stylesheet" href="/css/night-owl.min.css" />
<script src="/js/simple-lightbox.min.js"></script>
{{- range ($.Scratch.Get "auditfile") -}}
{{- range $idpage, $p := .pages -}}
{{- $name := .name -}}
<script>
{{ range $idblock,$b := .blocks }}
var {{ printf "$%s%s%s%s" (replace ( $name | anchorize) "-" "") (replace ( $b.name | anchorize ) "-" "") ($idpage | anchorize) ($idblock | anchorize) | safeJS }} = new SimpleLightbox('.lightbox-{{ $idpage }}-{{ $idblock }} figure a', {captionPosition:'bottom',loop: 'false'});
{{- end -}}
</script>
{{- end -}}
{{- end -}}
<script src="/js/highlight.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
  document.querySelectorAll('pre code').forEach((block) => {
    hljs.highlightBlock(block);
  });
});
</script>
{{- end -}}
